{% extends "layout/html" %}
{% block content %}

    <style>

        .g-recaptcha {
            display: inline-block;
        }

        input:-webkit-autofill + label {
            -webkit-transform: translateY(-14px) scale(0.8);
            transform: translateY(-14px) scale(0.8);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }
    </style>

    <div class="row valign-wrapper" style="margin-top: 8%;">
        <div class="col s12 m8 l4 offset-m2 offset-l4">
            <div class="card z-depth-5"  style="min-width: 340px;">
                <div class="card-content">
                    <span class="card-title">Авторизация</span>
                    {% if session_has('login_error') %}
                        <div class="card red lighten-2">
                            <div class="card-content white-text">
                                {{ session_get('login_error')|raw }}
                            </div>
                        </div>
                    {% endif %}
                    {% if session_has('login_notice') %}
                        <div class="card green darken-1">
                            <div class="card-content white-text">
                                {{ session_get('login_notice')|raw }}
                            </div>
                        </div>
                    {% endif %}
                    <form id="form" role="form" method="post" action="{{ url('auth/login') }}" accept-charset="UTF-8">
                        <input type="hidden" name="_token" value="{{ _token }}">
                        <div class="input-field" style="margin-top: 30px">
                            <input id="username" type="text" name="username">
                            <label for="username">E-mail</label>
                        </div>
                        <div class="input-field">
                            <input id="password" type="password" name="password">
                            <label for="password">Пароль</label>
                        </div>

                        <input type="hidden" name="remember" value="1">

                        <div class="center-align" >
                            <a id="login" class="waves-effect waves-light btn blue ">{{ "Войти"|transl}}</a>
                        </div>
                        <div class="progress blue lighten-4" style="display: none; margin-top: 16px; margin-bottom: 16px;">
                            <div class="indeterminate blue"></div>
                        </div>
                    </form>
                </div>
                <div class="card-action"  style="padding: 10px 0px 10px 2%;">

                    <a href="{{ url('/auth/reg') }}" class="grey-text waves-effect btn-small" style="font-size: 12px;"><i class="material-icons">person</i> Регистрация</a>
                    <a href="{{ url('/auth/password-change-request') }}" class="right grey-text waves-effect btn-small" style="font-size: 12px;"><i class="material-icons">lock</i> Забыли пароль?</a>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block init_scripts %}

    <script>

        $(document).ready(function () {

            $(".button-collapse").sideNav();

            $('#login').on('click', function () {
                $("input").addClass('disabled-element');

                $('#login').addClass('disabled');
                $('#login').fadeOut(200, function () {
                    $(".progress").fadeIn(400);
                });

                $("#form").submit();
            });

            $('#username').on('keydown', function (e) {
                if (e.keyCode == 13) {
                    $("#password").focus();
                }
            });

            $('#password').on('keydown', function (e) {
                if (e.keyCode == 13) {
                    $("input").addClass('disabled-element');

                    $('#login').addClass('disabled');
                    $('#login').fadeOut(200, function () {
                        $(".progress").fadeIn(400);
                    });

                    $("#form").submit();
                }
            });


            {% if session_has('login_error')  %}
            if ($("#resend-link") != undefined) {

                $("#resend-link").on("click", function () {
                    $("#resend-link").addClass("disabled");
                    $.ajax({
                        type: "POST",
                        url: "/ajax/resend-mail",
                        data: {
                            "email": '{{ session_get('_email') }}',
                            '_token': '{{ _token }}'
                        },
                    });
                    location.reload();
                });

            }

            {% endif %}

        });


    </script>

{% endblock init_scripts %}