{% extends "layout/html.twig" %}
{% block content %}
    <style>
        .g-recaptcha {
            display: inline-block;
        }
    </style>


    <div class="row valign-wrapper" style="margin-top: 8%;">
        <div class="col s12 m8 l4 offset-m2 offset-l4">
            <div class="card" style="min-width: 340px;">
                <form role="form" method="post" action="{{ url('auth/password-change-request') }}" accept-charset="UTF-8">
                    <div class="card-content">
                        <div style="margin-bottom: 30px; margin-left: -10px;">
                            <a href="{{ url('/auth/login') }}" class="grey-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
                        </div>

                        {% if session_has('error') %}
                            <div class="card red lighten-2">
                                <div class="card-content white-text">
                                    {{ session_get('error') }}
                                </div>
                            </div>
                        {% endif %}
                        {% if session_has('notice') %}
                            <div class="card green darken-1">
                                <div class="card-content white-text">
                                    {{ session_get('notice') }}
                                </div>
                            </div>
                        {% endif %}


                        <span class="card-title">Восстановление пароля</span>

                        <input type="hidden" name="_token" value="{{ _token }}">

                        <div class="input-field" style="margin-top: 30px">
                            <input id="email" type="email" name="email" >
                            <label for="email" >Введите адрес вашей электронной почты</label>
                        </div>

                        <div class="form-group">
                            {{ recaptcha|raw }}
                        </div>

                    </div>
                    <div class="card-action">
                        <div class="center-align" >
                            <button type="submit" class="waves-effect waves-light btn blue ">{{ "Отправить запрос"|transl}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}