<span style="font-size: 16px;">{{ "Приветствуем вас, пользователь OpenU!" }}<br/>
{{ "Вы можете изменить свой пароль, пройдя по этой ссылке: " }} <a href="{{ url('/auth/password-change')~"/"~code }}">{{ url('/auth/password-change')~"/"~code }}</a>
</span><br/><br/><br/><hr>
{{ "Если вы не знаете о чем идет речь, проигнорируйте это письмо." }}
