{% extends "layout/html.twig" %}
{% block content %}


    <div class="row valign-wrapper" style="margin-top: 5%;">
        <div class="col s12 m8 l4 offset-m2 offset-l4">
            <div class="card" style="min-width: 340px;">
                <form class="form-horizontal m-t-20" role="form" method="post" action="{{ url('auth/password-change')~"/"~code }}" accept-charset="UTF-8">
                    <div class="card-content">
                        <div style="margin-bottom: 30px; margin-left: -10px;">
                            <a href="{{ url('/auth/login') }}" class="grey-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
                        </div>

                        {% if session_has('error') %}
                            <div class="card red lighten-2">
                                <div class="card-content white-text">
                                    {{ session_get('error') }}
                                </div>
                            </div>
                        {% endif %}
                        {% if session_has('notice') %}
                            <div class="card green darken-1">
                                <div class="card-content white-text">
                                    {{ session_get('notice') }}
                                </div>
                            </div>
                        {% endif %}
                        <span class="card-title">Восстановление пароля</span>
                        <div class="divider" style="margin-bottom: 15px;"></div>

                        <input type="hidden" name="_token" value="{{ _token }}">

                        <div class="input-field">
                            <input id="password" type="password" name="password">
                            <label for="password">Пароль</label>
                        </div>

                        <div class="input-field">
                            <input id="password_confirmation" type="password" name="password_confirmation">
                            <label for="password_confirmation">Введите пароль еще раз</label>
                        </div>

                    </div>
                    <div class="card-action">
                        <div class="center-align" >
                            <button type="submit" class="waves-effect waves-light btn blue ">{{ "Изменить пароль"|transl}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock content %}