{% extends "layout/html.twig" %}
{% block content %}
    <style>
        .g-recaptcha {
            display: inline-block;
        }
    </style>


    <div class="row valign-wrapper" style="margin-top: 5%;">
        <div class="col s12 m12 l6 offset-l3" >
            <div class="card">
                <form role="form" method="POST"   action="{{ url('auth/reg') }}"   accept-charset="UTF-8">
                    <div class="card-content">
                        <div style="margin-bottom: 30px; margin-left: -10px;">
                            <a href="{{ url('/auth/login') }}" class="grey-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
                        </div>

                        {% for error in errors.all() %}
                            <div class="card red lighten-2">
                                <div class="card-content white-text">
                                    {{ error }}
                                </div>
                            </div>
                        {% endfor %}
                        {% if session_has('error') %}
                            <div class="card red lighten-2">
                                <div class="card-content white-text">
                                    {{ session_get('error') }}
                                </div>
                            </div>
                        {% endif %}
                        {% if session_has('notice') %}
                            <div class="card green darken-1">
                                <div class="card-content white-text">
                                    {{ session_get('notice') }}
                                </div>
                            </div>
                        {% endif %}

                        <span class="card-title">Регистрация</span>

                        <input type="hidden" name="_token" value="{{ _token }}">
                        
                        <div class="input-field" style="margin-top: 30px">
                            <input id="firstname" type="text" name="firstname" >
                            <label for="email" >Имя</label>
                        </div>

                        <div class="input-field" style="margin-top: 30px">
                            <input id="lastname" type="text" name="lastname" >
                            <label for="email" >Фамилия</label>
                        </div>

                        <div class="input-field" style="margin-top: 30px">
                            <input id="email" type="email" name="email" >
                            <label for="email" >E-mail</label>
                        </div>

                        <div class="input-field">
                            <input id="password" type="password" name="password">
                            <label for="password">Пароль</label>
                        </div>

                        <div class="input-field">
                            <input id="password_confirmation" type="password" name="password_confirmation">
                            <label for="password_confirmation">Введите пароль еще раз</label>
                        </div>


                        <div >
                            {{ recaptcha|raw }}
                        </div>

                    </div>
                    <div class="card-action">
                        <div class="center-align" >
                            <button type="submit" class="waves-effect waves-light btn blue ">{{ "Зарегистрироваться"|transl}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}