<span style="font-size: 22px;"><b>{{ "Регистрация прошла успешно!" }}</b></span><br/><br/>
<span style="font-size: 16px;">{{ "Добро пожаловать в OpenU." }}<br/>
{{ "Для активации аккаунта пройдите по ссылке: " }} <a href="{{ url('/auth/activate')~"/"~code }}">{{ url('/auth/activate')~"/"~code }}</a>
</span><br/><br/><br/><hr>
{{ "Если вы не знаете о чем идет речь, проигнорируйте это письмо." }}
