{% extends "layout/html.twig" %}
{% block content %}
    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">
            <div style="margin-top: 30px; margin-bottom: 30px; margin-left: -10px;">
                <a href="{{ url('/users') }}" class="black-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
            </div>

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            <h5>{{ "Настройка прав аккаунта"|transl }}</h5>
            <div class="divider" style="margin-bottom: 15px;"></div>

     <form role="form" method="POST" action="{{ url('users/admin/'~user.id) }}" accept-charset="UTF-8">

            <input type="hidden" name="_token" value="{{ _token }}">
                <div>
                {% if user.is_admin %}
                    {{ "В данный момент пользователь является администратором"|transl }}
                {% endif %}
                </div>
                <div class="input-field" style="margin-top: 30px">
                    <label for="username">{{ "Пользователь"|transl }}</label>
                    <input class="readonly" type="text" id="username" value="{{ user.email }}">
                </div>

                <div>
                    <button type="submit" class="waves-effect waves-light btn blue">
                    {% if user.is_admin %}
                        {{ "Сделать обычным пользователем"|transl }}
                    {% else %}
                        {{ "Сделать администратором"|transl }}
                    {% endif %}
                    </button>
                </div>

            </form>

</br>
    <form role="form" method="POST" action="{{ url('users/teacher/'~user.id) }}" accept-charset="UTF-8">

             <input type="hidden" name="_token" value="{{ _token }}">

                <div>
                   <button type="submit" class="waves-effect waves-light btn blue">
                    {% if user.role == 1 %}
                        {{ "Сделать преподавателем"|transl }}
                    {% else %}
                        {{ "Сделать студентом"|transl }}
                    {% endif %}
                    </button>
                    {% if user.role == 2 %}
                        <a id="students" class="waves-effect waves-light btn blue" href="{{ url('/users/editteacher')~'/'~user.id }}">Редактировать</a>
                    {% endif %}
                </div>

            </form>
        </div>
    </div>


    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });
        });



    </script>
{% endblock init_scripts %}