{% extends "layout/html.twig" %}
{% block content %}
<div class="container">
 <script>
    $(document).ready(function() {
      $('select').material_select();
    });
</script>
 
  <form method="post" action="{{url('/users/editteacher')~'/'~user.id }}" enctype="multipart/form-data" accept-charset="UTF-8">
    <div class="form-group row">
      {{csrf_field()}}

              <div class="row">
                <div class="input-field col s12">
                  <input value="{{user.firstname}}" id="firstname" type="text" name="firstname" class="validate">
                  <label class="active" for="firstname">Имя</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input value="{{user.lastname}}" id="lastname" type="text" name="lastname" class="validate">
                  <label class="active" for="lastname">Фамилия</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input value="{{user.fathers_name}}" id="fathers_name" type="text" name="fathers_name" class="validate">
                  <label class="active" for="fathers_name">Отчество</label>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input value="{{user.description}}" id="description" type="text" name="description" class="validate">
                  <label class="active" for="description">Описание</label>
                </div>
              </div>

              <div class="file-field input-field">
                <div class="btn">
                  <span>Загрузить Обложку </span>
                  <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" value="{{user.filename}}">
                </div>
              </div>
           
            <div class="form-group row">
              <div class="col-md-2"></div>
              <button type="submit" class="btn btn-primary">Обновить</button>
            </div>
    </div>
  </form>
</div>
{% endblock content %}
