{% extends "layout/html.twig" %}
{% block content %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td, th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }

        .status {
            text-align: center;
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #666; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                width: 50%;
                padding-right: 10px;
                white-space: nowrap;
            }

            /*
            Label the data
            */
            td:nth-of-type(1):before { content: "{{ "E-mail" }}"; }
            td:nth-of-type(2):before { content: "{{ "ФИО" }}"; }
            td:nth-of-type(3):before { content: "{{ "Статус" }}"; }
            td:nth-of-type(4):before { content: "{{ "Действия" }}"; }



            .status {
                text-align: left;
            }
        }


    </style>


    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            <h5>
                {{ "Пользователи" }}
            </h5>
            <div class="divider" style="margin-bottom: 15px;"></div>

            <div >
                <span class="total blue darken-2 white-text"><span class="total-label white-text">{{ "Всего" }}</span>{{ total }}</span>
                <span class="total green darken-1 white-text"><span class="total-label white-text">{{ "Онлайн" }}</span>{{ online }}</span>
                <a id="teachers"  class="waves-effect waves-light btn purple"  href="{{ url('/users/')}}">Все</a>
                <a id="teachers"  class="waves-effect waves-light btn indigo"  href="{{ url('/users/2')}}">Преподаватели</a>
                <a id="students" class="waves-effect waves-light btn deep-purple" href="{{ url('/users/1')}}">Студенты</a>

            </div>

            <div style="margin-top: 10px;">
                <table class="table-bordered table-hover">
                    <thead>
                        <tr style="font-size:14px; background: #f3f3f3;">
                            <th class="center">{{ "E-mail"|transl }}</th>
                            <th class="center">{{ "ФИО"|transl }}</th>
                            <th class="center">{{ "Статус"|transl }}</th>
                            <th class="center">{{ "Действия"|transl }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div id="all">
                        {% for item in users %}
                            <tr style="font-size:15px; background: #fff;">
                                <td>
                                    {{ item.email }}
                                    {%  if item.is_admin %}
                                        <span class="white-text btn-badge blue cursor-default" title="{{ "Администратор" }}"><i class="material-icons" style="font-size: 12px !important; margin-top: -6px;">build</i></span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ item.firstname }} {{ item.lastname }} 
                                </td>
                                <td class="status">

                                    <span class="cursor-default white-text btn-small {% if item.isOnline() %}green darken-2">Online{% else %}blue-grey lighten-2">Offline{% endif %}</span>

                                </td>
                                <td>
                                    {#{% if not item.is_active %}<a style="margin-top: 5px; margin-bottom: 5px;" href="{{ url('users/delete/'~item.id) }}" title="{{ "Удалить"|transl }}" class="btn btn-sm btn-danger"><i class="fa fa-fw fa-trash"></i></a>{% endif %}#}
                                    {% if _user.is_admin and _user.id != item.id %}<a href="{{ url('users/admin/'~item.id) }}" title="{{ "Настройка прав аккаунта"|transl }}" class="waves-effect waves-light btn btn-small blue white-text"><i class="material-icons material-icons-default" >build</i></a>{% endif %}
                                    <a target="_blank" href="{{ url('profile/'~item.id) }}" title="{{ "Посмотреть профиль пользователя"|transl }}" class="waves-effect waves-light btn btn-small blue white-text"><i class="material-icons material-icons-default" >zoom_in</i></a>
                                    &nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                        </div>


                    </tbody>
                </table>
            </div>
            {{ users.links('users/paginator')|raw }}

        </div>
    </div>


    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });
        });



    </script>
{% endblock init_scripts %}