<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenU</title>

        <link rel="shortcut icon"  type="image/png"  href="{{ asset('assets/images/favicon-04.png') }}">


        <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/landing.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/icon.css') }}" >

        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/materialize.min.js') }}"></script>


    </head>
    <body>
        <div class="overlay"></div>

        <div class="navbar-fixed" style="margin-bottom: 10px; position: absolute;">
            <nav class="landing-nav">
                <div class="nav-wrapper">
                    <a href="#" data-activates="mobile-demo" class="button-collapse black-text right"><i class="material-icons material-icons-default"  style="margin: 0 15px;">menu</i></a>
                    <a data-item-id="#section-1" class="left" style="height: 64px; margin-left: 10px; color: white; cursor: pointer;">
                        <img src="{{ asset('assets/images/logo-03.png') }}" height="36px;" style="margin: 14px 25px; ">
                    </a>


                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a data-item-id="#section-2" class="black-text">Категории</a></li>
                        <li><a data-item-id="#section-3" class="black-text">Курсы</a></li>
                        <li><a href="{% if _user %}{{ url('/courses/mycourses/') }}{% else %}{{ url('auth/login') }}{% endif %}" class="waves-effect waves-light btn blue menu-item-link" style="margin-right: 30px;">Войти</a></li>
                    </ul>

                    <ul class="side-nav" id="mobile-demo">
                        <li><a data-item-id="#section-2" id="close-nav" class="waves-effect">Категории</a></li>
                        <li><a data-item-id="#section-3" id="close-nav" class="waves-effect">Курсы</a></li>
                        <li><a href="{{ url('auth/login') }}" class="waves-effect waves-light btn blue menu-item-link">Войти</a></li>
                    </ul>
                </div>
            </nav>

        </div>


        <style type="text/css">


            #pinContainer {
                width: 100%;
                height: 100%;
                overflow-x: hidden;
            }
            .panel {
                height: auto;
                width: 100%;
                position: relative;
                text-align: center;
                vertical-align: middle;
                z-index: 2;
            }
            .panel-footer {
                min-height: 140px;
                height: auto;
                width: 100%;
                bottom: 0;                
                position: relative;
                bottom: 0;
                text-align: center;
                vertical-align: middle;
                z-index: 2;
                margin: 0;
            }

            b {
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
              position:relative;
              font-size:30px;
            }
            .wrapper {
              width: 300px;
              margin: 0 auto;
            }
            .card-loader {
              background-color: #fff;
              box-shadow: 0 1px 2px 1px rgba(0,0,0,.08), 0 -1px 3px 0 rgba(0,0,0,0.06);
              padding: 8px;
              position: relative;
              border-radius: 2px;
              margin-bottom: 0;
              height: 409px;
              overflow: hidden;

              &:only-child {
                margin-top:0;
              }

              &:before {
                content: '';
                height: 120px;
                display: block;
                background-color: #ededed;
                box-shadow: -48px 78px 0 -48px #ededed, -51px 102px 0 -51px #ededed;
              }
            }

            @media only screen and (max-width: 600px) {
                #section-2 {
                    height: 400px !important;
                }
            }


        </style>
        <div id="pinContainer">
            <section id="section-1" class="panel white first-section">
                <div class="row">
                    <div class="col s12 m6 l6 outer">
                        <div class="inner">
                            <img src="{{ asset('assets/images/11.png') }}" class="hide-on-med-and-up" style="position: absolute; margin-left: -400px; top: 20%;">
                            <div class="first-section-title">Массовые Открытые<br>Онлайн Курсы</div>
                            {% if _user %}<a href="{{ url('/courses/mycourses/') }}" class="waves-effect waves-light btn blue menu-item-link">Войти</a>{% else %}<a href="{{ url('/auth/login') }}" class="waves-effect waves-light btn blue menu-item-link">Присоединиться</a>{% endif %}

                        </div>
                    </div>
                    <div class="col s12 m6 l6 outer hide-on-small-only">
                        <div class="inner">
                            <img src="{{ asset('assets/images/11.png') }}"  class="hide-on-small-only" style="height:100%; margin-left: -400px; margin-top: -20%; z-index: 5;">
                        </div>
                    </div>
                </div>
            </section>
            <section id="section-2" class="panel white second-section " style="height: 600px;">
                <div class="second-section-title  hide-on-small-only">Популярные категории</div>
                <div class="second-section-title-mob  hide-on-med-and-up">Популярные категории</div>
                <div class="row hide-on-small-only">

                   {% for category in categories %} 
                    <div class="col s12 m4 l4">
                        <div class="inner2">                            
                            <a href="{{ url('/categories')~'/'~category.id}}">
                                <div class="waves-effect waves-light card gradient" style="height: 400px; width: 100%;">
                                    <div class="cat-content">
                                        <div class="cat-centered">
                                            <img src="{{ asset('storage/wallpapers/')~'/'~category.filename }}" style="height: 120px;">
                                            <div class="cat-title">{{category.category_name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="cat-content">
                        <div class="cat-centered">
                            <a href="{{ url('/categories/') }}" class="waves-effect waves-light btn blue menu-item-link" style="height: 60px; line-height: 60px; top: 280px;">Посмотреть все категории</a>
                        </div>
                    </div>
                                                             
                </div>

                <div class="row hide-on-med-and-up">
                    {% for category in categories %}
                   <div class="col s12 m4 l4">
                            <a href="{{ url('/categories')~'/'~category.id }}">
                                <div class="waves-effect waves-light card gradient-mob" style="height: 60px; width: 100%;">
                                    <div class="cat-content" style="width: 100%;">
                                        <div class="cat-centered">
                                            <img src="{{ asset('storage/wallpapers/')~'/'~category.filename }}" style="height: 30px;">
                                            <div class="cat-title-mob">{{category.category_name}}</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                    </div>
                    {% endfor %}
                    <div class="col s12 m4 l4">
                       <a href="{{ url('/categories') }}" class="waves-effect waves-light btn blue menu-item-link" style="margin-top: 40px; height: 60px; line-height: 60px;">Посмотреть все категории</a>  
                    </div>                        
                </div> 
            </section>

            <section  id="section-3" class="panel white third-section">
                <div class="third-section-title hide-on-small-only">Популярные курсы</div>
                <div class="second-section-title-mob hide-on-med-and-up">Популярные курсы</div>

                <div class="row hide-on-small-only">
                    {% set count = 0 %}
                    {% for course in courses%}
                    {% set count = count + 1 %}
                        <div class="col s12 m6 l3">
                                <div class="card z-depth-3" style="width: 90%; margin: 20px auto;">
                                    <div class="card-image" style=""  >
                                        <img src="{{ asset('storage/wallpapers/')~'/'~course.filename }}" style="height: 200px; object-fit: cover;">                                       
                                    </div>
                                    <div class="card-content" style="height: 140px; text-align: justify; ">
                                        <h5 >{{course.course_name}}</h5>
                                    </div>
                                    <div class="card-action">
                                        <a href="{{ url('/course')~'/'~course.id}}" class="waves-effect waves-light btn blue menu-item-link">Подробнее</a>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                    
                </div>

                    {% for course in courses%}
                    <div class="col s12 m6 l3 hide-on-med-and-up">
                            <div class="card z-depth-3" style="width: 90%; margin: 20px auto;">
                                <div class="card-image">
                                    <img src="{{ asset('storage/wallpapers/')~'/'~course.filename }}" style="height: 200px; object-fit: cover;">
                                    <span class="card-title" style="color: #1b5e20;"></span>
                                </div>
                                <div class="card-content" style="height: 140px; text-align: justify;">
                                    <h5 >{{course.course_name}}</h5>
                                </div>
                                <div class="card-action">
                                    <a href="{{ url('/course')~'/'~course.id}}" class="waves-effect waves-light btn blue menu-item-link">Подробнее</a>
                                </div>
                            </div>
                    </div>
                    {% endfor %}

                    
                    
                        <div class="col s12 m4 l4">
                           <a href="{{ url('/categories') }}" class="waves-effect waves-light btn blue menu-item-link" style="margin-top: 40px; height: 60px; line-height: 60px; align-items: center;">Посмотреть все курсы</a> 
                        </div>
                
            </section>

            <section  id="section-4" class="panel white fourth-section">
               <div class="second-section-title hide-on-small-only">Почему онлайн курсы?</div>
               <div class="second-section-title-mob hide-on-med-and-up">Почему онлайн курсы?</div>
                
                <div class="row hide-on-small-only" style="height: 600px; margin-top: 80px;">
                        <div class="col s12 m4 l4" style="padding: 0 5%;">
                                <div class="cat-centered" style="left: 0; margin-bottom: 20px">
                                    <img src="{{ asset('assets/images/why1.png') }}" style="height: 80px;">
                                    <div class="cat-title black-text" style="font-size: 24px;">ВРЕМЯ</div>
                                </div>
                                
                                 Онлайн курсы можно легко совмещать с работой или основной учебой, не теряя время и деньги в случае пропуска. Вы сами выбираете удобное для Вас время. 
                        </div>
                        <div class="col s12 m4 l4" style="padding: 0 5%;">
                                <div class="cat-centered" style="left: 0; margin-bottom: 20px">
                                    <img src="{{ asset('assets/images/why2.png') }}" style="height: 80px;">
                                    <div class="cat-title black-text" style="font-size: 24px;">ДОСТУП ИЗ ЛЮБОЙ ТОЧКИ МИРА</div>
                                </div>

                                 Участвовать в онлайн обучении можно находясь в любой точке мира, достаточно иметь выход в интернет. Такой формат без барьеров удобен и для авторов курса, и для обучающихся.
                        </div>                    
                        <div class="col s12 m4 l4" style="padding: 0 5%;">
                                <div class="cat-centered" style="left: 0; margin-bottom: 20px">
                                    <img src="{{ asset('assets/images/why3.png') }}" style="height: 80px;">
                                    <div class="cat-title black-text" style="font-size: 24px;">ЛУЧШИЕ ЗНАНИЯ</div>
                                </div>

                                 Это доступ к опыту лучших экспертов своей области, курсы которых насыщены конкретными примерами и мгновенной обратной связью.
                        </div>

                </div>

                <div class="row hide-on-med-and-up" style="height: 700px; ">
                        
                        <div class="col s12 m4 l4" style="padding: 0 5%; margin-top: 50px;">
                             <div style="height: 180px; width: 100%; position:relative;">
                                <div class="cat-content" style="width: 100%;">
                                    
                                        <div class="cat-centered">
                                            <img src="{{ asset('assets/images/why1.png') }}" style="height: 50px;">
                                            <div class="cat-title-mob black-text">ВРЕМЯ</div>
                                        </div>
                                   
                                 <div class="cat-centered">Онлайн курсы можно легко совмещать с работой или основной учебой, не теряя время и деньги в случае пропуска. Вы сами выбираете удобное для Вас время. </div>
                                </div>
                            </div>

                        </div>

                        <div class="col s12 m4 l4" style="padding: 0 5%; margin-top: 50px;">
                            <div style="height: 180px; width: 100%; position:relative;">
                                <div class="cat-content" style="width: 100%;">
                                    
                                        <div class="cat-centered">
                                            <img src="{{ asset('assets/images/why2.png') }}" style="height: 50px;">
                                            <div class="cat-title-mob black-text">ДОСТУП ИЗ ЛЮБОЙ ТОЧКИ МИРА</div>
                                        </div>
                                   <div class="cat-centered">Участвовать в онлайн обучении можно находясь в любой точке мира, достаточно иметь выход в интернет. Такой формат без барьеров удобен и для авторов курса, и для обучающихся.</div> <br>
                                </div>
                            </div>

                        </div>   

                        <div class="col s12 m4 l4" style="padding: 0 5%; margin-top: 50px;">
                            <div style="height: 180px; width: 100%; position:relative;">
                                <div class="cat-content" style="width: 100%;">
                                    
                                        <div class="cat-centered">
                                            <img src="{{ asset('assets/images/why3.png') }}" style="height: 50px;">
                                            <div class="cat-title-mob black-text">ЛУЧШИЕ ЗНАНИЯ</div>
                                        </div>

                                 <div class="cat-centered">Это доступ к опыту лучших экспертов своей области, курсы которых насыщены конкретными примерами и мгновенной обратной связью. </div>                                 
                                </div>
                            </div>
                        </div>

                </div>            
            </section>
            <section  class="panel-footer blue-grey darken-3">
                <div class="row" style="margin: 0;">
                    <div class="col s12 m12 l12">
                        <a href="#section-1" style="height: 64px; cursor: pointer;">
                            <img src="{{ asset('assets/images/logo-02.png') }}" height="36px;" style="margin: 20px 0 10px 0;">
                        </a>                   
                    </div>                        
                         
                    <div class="col l12 m12 s12" style="margin-top: 25px;">
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/vk.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/fb.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/inst.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/tw.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/wa.png') }}" height="26px"></a> 
                    </div>        

                </div>

            </section>
        </div>

        <script>
            $(function () { // wait for document ready

                $(".button-collapse").sideNav();

                $(document).on("click", "a[data-item-id^='#']", function(e) {

                    var id = $(this).attr("data-item-id");
                    console.log(id);
                    $('html, body').animate({
                        scrollTop: $(id).offset().top
                    }, 500);
                });

                $(".overlay").fadeOut(500);

                $('#close-nav').on('click', function () {
                    
                $('#side-nav').sideNav('hide');
            });


            });


        </script>

    </body>
     
</html>