<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _metadata.title }}</title>

    <link rel="shortcut icon"  type="image/png"  href="{{ asset('assets/images/favicon-04.png') }}">



    {% if _section == 'forums' %} 
        {% if _view == 'home' %}
            {{ include_view('vendor/chatter/'~_view~'-css', 
                {
                    'discussions': discussions, 
                    'categories': categories, 
                    'categoriesMenu': categoriesMenu, 
                    'chatter_editor': chatter_editor, 
                    'current_category_id': current_category_id
                }) | raw 
            }} 
        {% elseif _view == 'discussion' %}
            {{ include_view('vendor/chatter/'~_view~'-css', 
                {
                    'discussion': discussion, 
                    'posts': posts, 
                    'chatter_editor': chatter_editor
                }) | raw 
            }} 
        {% endif %}
    {% endif %}


    <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/icon.css') }}" >
    <link rel="stylesheet" href="{{ asset('assets/css/jquery-ui.css') }}" >

    <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.js') }}"></script>
    <script>$.widget.bridge('uitooltip', $.ui.tooltip);</script>
    <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
    <script src="{{ asset('assets/js/socket.io.js') }}"></script>

</head>
<body>

{% if _section == 'auth' %}
    <style>
        #background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{{ url('assets/images/psu.jpg') }}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            opacity: 0.5;
            filter: alpha(opacity=50);
        }
    </style>
    <div id="background"></div>
{% endif %}



<div class="navbar-fixed" style="margin-bottom: 10px;" id="layout-header">
    <nav>
        <div class="nav-wrapper blue-grey darken-3">
            <a href="#" data-activates="mobile-demo" class="button-collapse white-text right"><i class="material-icons material-icons-default"  style="margin: 0 15px;">menu</i></a>
            <a href="{% if _user %}{{ url('/') }}{% else %}{{ url('/') }}{% endif %}" class="left" style="height: 64px; margin-left: 10px; color: white;">
                <img src="{{ asset('assets/images/logo-02.png') }}" height="36px;" style="margin: 14px 5px; ">
            </a>


            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if _user %}

                    <li><a href="{{ url('/courses/mycourses/') }}" class="waves-effect {% if _section != 'courses' %}not-{% endif %}active-border">Курсы</a></li>
                    <li>
                        <a href="{{ url('/profile') }}" class="waves-effect {% if _section != 'profile' %}not-{% endif %}active-border layout-tooltipped"
                           data-position="bottom" data-delay="50" data-tooltip="
                                <div class='chatter_avatar_layout truncate white-text messages' >
                                    <span class='chatter_avatar_circle' style='background-color:{{ _user.color() }};'>
                                        {% if _user.role == 3 %} <span class='admin-label' style='color: #fff;'>A</span>{% endif %}{{ _user.first_letter() }}
                                    </span>
                                    {% if _user.role == 3 %} <span class='admin-label' style='color: #fff;'>Admin</span> {% endif %}
                                    {% if _user.role == 2 %} <span class='teacher-label' style='color: #fff;'>Преподаватель</span> {% endif %}
                                    {{ _user.firstname }}
                                    {% if _user.role == 2 %} {{ _user.lastname  }}{% endif %}
                                </div>
                        ">
                            Профиль
                        </a>
                    </li>


                    {% if  _user.role == 3 %}
                        <li>
                            <a id="admin-panel" class="hide-on-med-and-down dropdown-button waves-effect {% if _section != 'admin-panel' %}not-{% endif %}active-border" data-activates="dropdown3" style="color: white;">{{"Управление"|transl}}</a>
                            <ul id="dropdown3" class="dropdown-content" style="min-width: 60px; z-index: 10001;">
                                <li class="hide-on-med-and-down" style=" z-index: 10001;"><a style="color: white;" href="{{ url('/users') }}" class="waves-effect black-text">{{"Пользователи"|transl}}</a></li>
                                <li class="hide-on-med-and-down" style=" z-index: 10001;"><a style="color: white;" href="{{ url('/tests') }}" class="waves-effect black-text">{{"Тесты"|transl}}</a></li>
                                <li class="hide-on-med-and-down" style=" z-index: 10001;"><a style="color: white;" href="{{ url('/courses/') }}" class="waves-effect black-text">{{"Курсы"|transl}}</a></li>                        
                            </ul>
                        </li>
                    {% endif %}

                    {% if _user.role == 2 %}
                        <li>
                            <a id="admin-panel" class="hide-on-med-and-down dropdown-button waves-effect {% if _section != 'admin-panel' %}not-{% endif %}active-border" data-activates="dropdown3" style="color: white;">{{"Управление"|transl}}</a>
                            <ul id="dropdown3" class="dropdown-content" style="min-width: 60px; z-index: 10001;">
                                <li class="hide-on-med-and-down" style=" z-index: 10001;"><a style="color: white;" href="{{ url('/courses/mystudents/')}}" class="waves-effect black-text">{{"Студенты"|transl}}</a></li>
                            </ul>
                        </li>
                    {% endif %}

                    <li><a href="{{ url('/forums') }}" class="waves-effect {% if _section != 'forums' %}not-{% endif %}active-border">Форум</a></li>
                    <li>
                        <a href="{{ url('/chat') }}" class="waves-effect {% if _section != 'chat' %}not-{% endif %}active-border">
                       
                            <div  class="message-badge-parent">
                                <span class="message-badge" style="{% if _user.unreadMessagesCount() == 0 %}display: none;{% endif %}">{{ _user.unreadMessagesCount() }}</span>
                                Диалоги
                            </div>
                        </a>
                    </li>
                    <li><a href="{{ url('auth/logout') }}" class="waves-effect waves-light btn blue white-text">Выход</a></li>
                {% elseif _section != 'auth' %}
                    <li><a href="{{ url('auth/login') }}" class="waves-effect waves-light btn blue white-text">Войти</a></li>
                {% endif %}
            </ul>
            
            {% if _user %}
            {% if _section != 'chat' %}
            <a href="{{ url('/chat') }}" class="white-text right hide-on-large-only">
                <div  class="message-badge-parent">
                    <span class="message-badge" style="{% if _user.unreadMessagesCount() == 0 %}display: none;{% endif %}">{{ _user.unreadMessagesCount() }}</span>        
                    <i class="material-icons material-icons-default" >chat</i>
                </div>
            </a>
            {% else %}
            <a  href="#" data-activates="dialogs-list" id="mobile-dialogs-button" class="white-text right hide-on-med-and-up" >
                <div  class="message-badge-parent">
                    <span class="message-badge" style="{% if _user.unreadMessagesCount() == 0 %}display: none;{% endif %}">{{ _user.unreadMessagesCount() }}</span>        
                    <i class="material-icons material-icons-default" >chat</i>
                </div>
            </a>
            {% endif %}
            {% endif %}

            <ul class="side-nav" id="mobile-demo">
                {% if _user %}
                    {% if _user.is_admin %}
                        <li><a href="{{ url('/users') }}" class="waves-effect {% if _section_mobile == 'users' %}active-border-mobile{% endif %}">Пользователи</a></li>
                        <li><a href="{{ url('/tests') }}" class="waves-effect {% if _section_mobile == 'tests' %}active-border-mobile{% endif %}">Тесты</a></li>
                    {% endif %}
                    <li><a href="{{ url('/courses') }}" class="waves-effect {% if _section == 'courses' %}active-border-mobile{% endif %}">Курсы</a></li>
                    <li><a href="{{ url('/forums') }}" class="waves-effect {% if _section == 'forums' %}active-border-mobile{% endif %}">Форум</a></li>
                    <li><a href="{{ url('/profile') }}" class="waves-effect {% if _section == 'profile' %}active-border-mobile{% endif %}">Профиль</a></li>
                    <li><a href="{{ url('auth/logout') }}" class="waves-effect waves-light btn blue white-text">Выход</a></li>
                {% elseif _section != 'auth' %}
                    <li><a href="{{ url('auth/login') }}" class="waves-effect waves-light btn blue white-text">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

</div>

<script>
    $(document).ready(function () {
        $("#admin-panel").dropdown({
            hover: false,
            constrainWidth: false,
            belowOrigin: true,
        });

        $(".button-collapse").sideNav({
            draggable: false,
            closeOnClick: true,
            {% if _section == 'chat' %}
            onOpen: function (el) {
                $('[id="sidenav-overlay"]').css({'z-index': 997});
                $('[class="drag-target"]').css({'z-index': 998});
            },
            onClose: function (el) {
                $('[id="sidenav-overlay"]').css({'z-index': 994});
                $('[class="drag-target"]').css({'z-index': 995});
            }
            {% endif %}
        });
        {% if _section == 'forums' %} 
            $("select").addClass("browser-default");
            $("select").material_select();
        {% endif %}
        
    });

    {% if _user %}

        $(".layout-tooltipped").tooltip({delay: 50, html: true});

        var socket = io.connect('https://devtest.psu.kz:8443');

        socket.emit('_join', '{{ room }}'); 

        {% if _section != 'chat' %}
            socket.on('_message', function (msg, from, created_at, code, sender_name) {
                var count = $( ".message-badge" ).html();
                if (count == '') count = 0;
                var value = parseInt(count + 1);
                if (value > 99) value = '99+';            
                $(".message-badge").html(value);
                $(".message-badge").fadeIn(600); 
            });
        {% endif %}
    
    
    {% endif %}
</script>

<section>
{% block content %}
{% endblock content %}

    {% if _section == 'forums' %} 
        <div class="row">
            <div class="col s12 m10 l10 offset-l1 offset-m1 card" style="padding: 0;">
                {% if _view == 'home' %}
                    {{ include_view('vendor/chatter/'~_view~'-content', 
                        {
                            'discussions': discussions, 
                            'categories': categories, 
                            'categoriesMenu': categoriesMenu, 
                            'chatter_editor': chatter_editor, 
                            'current_category_id': current_category_id
                        }) | raw 
                    }} 
                {% elseif _view == 'discussion' %}
                    {{ include_view('vendor/chatter/'~_view~'-content', 
                        {
                            'discussion': discussion, 
                            'posts': posts, 
                            'chatter_editor': chatter_editor
                        }) | raw 
                    }} 
                {% endif %}
            </div>
        </div>
    {% endif %}

</section>

{% block init_scripts %}
{% endblock init_scripts %}

</body>
    {% if _section == 'forums' %} 
        {% if _view == 'home' %}
            {{ include_view('vendor/chatter/'~_view~'-js', 
                {
                    'discussions': discussions, 
                    'categories': categories, 
                    'categoriesMenu': categoriesMenu, 
                    'chatter_editor': chatter_editor, 
                    'current_category_id': current_category_id
                }) | raw 
            }} 
        {% elseif _view == 'discussion' %}
            {{ include_view('vendor/chatter/'~_view~'-js', 
                {
                    'discussion': discussion, 
                    'posts': posts, 
                    'chatter_editor': chatter_editor
                }) | raw 
            }} 
        {% endif %}
    {% endif %}

</html>