{% extends embed == null ? "layout/html.twig" : "test/embed.twig" %}
{% block content %}

    {% if embed != null %}
        <style>
            .col {
                padding: 0 !important;
            }

            body, html {
                min-height: 300px;
            }
        </style>
    {% endif %}

    <div class="row" >
        <div class="col s12 m12 l12">

            <div >
                <h6>{{ test.title }}</h6>
            </div>
            <div class="divider" style="margin-bottom: 15px;"></div>

            <div  style="display: none;" id="content">

                <div style="margin-top: 10px;">
                    <span style="margin-top: 3px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Количество вопросов" }}</span>{{ test.questions }}</span>
                    {% if test.attempts > 0 %}<span style="margin-top: 3px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Доступно попыток" }}</span>{{ test.attempts - attempts_count }}</span>{% endif %}
                    {% if test.time > 0 %}<span style="margin-top: 3px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Время на выполнение (в минутах)" }}</span>{{ test.time }}</span>{% endif %}
                </div>
                <div class="divider" style="margin-bottom: 15px; margin-top: 15px;"></div>

                {% if attempt %}
                    {% if is_completed %}
                        <div><a href="{{ url('/test/result')~'/'~test.id~'/'~attempt.id }}{% if embed != null %}?embed=1{% endif %}" class="white-text waves-effect waves-light btn blue ">Перейти к результатам</a></div>
                    {% else %}
                        <div><a id="continue" class="white-text waves-effect waves-light btn blue ">Вернуться к выполнению теста</a></div>
                    {% endif %}
                {% else %}
                    <div><a id="start" class="white-text waves-effect waves-light btn blue {% if test.attempts > 0 and test.attempts - attempts_count <= 0 %}disabled{% endif %}">Начать тест</a></div>
                {% endif %}
                <div class="progress blue lighten-4" style="display: none; margin-top: 30px; margin-bottom: 52px;">
                    <div class="indeterminate blue"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 1% 0 0 20px; "  id="loader">
    </div>

    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box;">
            <a href="#" class="black-text modal-action modal-close waves-effect waves-red btn-flat">Ок</a>
        </div>
    </div>


{% endblock content %}

{% block init_scripts %}
    <script>

        $(document).ready(function () {

            $('.modal').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/test/preview/')~'/'~test.id }}'; }
            });

            {% if test.attempts - attempts_count > 0 or test.attempts == 0 %}
                {% if attempt %}
                    $('#continue').on('click', function () {
                        $('#continue').addClass('disabled');
                        $('#continue').fadeOut(200, function () {
                            $(".progress").fadeIn(400);
                        });

                        window.location.href = '{{ url('/test/')~'/'~test.id~'/'~attempt.position }}{% if embed != null %}?embed=1{% endif %}';

                    });
                {% else %}

                    $('#start').on('click', function () {
                        $('#start').addClass('disabled');
                        $('#start').fadeOut(200, function () {
                            $(".progress").fadeIn(400);
                        });

                        var fd = new FormData;

                        fd.append('_token', '{{ _token }}');
                        fd.append('user_id', '{{ _user.id }}');
                        fd.append('test_id', '{{ test.id }}');

                        $.ajax({
                            type: "POST",
                            url: "/ajax/start-attempt",
                            data: fd,
                            processData: false,
                            contentType: false,
                            success: function (result) {
                                if (result == 'ok') {
                                    window.location.href = '{{ url('/test/')~'/'~test.id~'/1' }}{% if embed != null %}?embed=1{% endif %}';
                                }
                                else {
                                    $(".progress").fadeOut(400, function () {
                                        $("#start").fadeIn(300);
                                    });
                                    $('#modal2').modal('open');
                                }
                            },
                            error:function (result) {
                                $(".progress").fadeOut(400, function () {
                                    $("#start").fadeIn(300);
                                });
                                $('#modal2').modal('open');
                            }
                        });
                    });
                {% endif %}
            {% endif %}

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });

        });

    </script>
{% endblock init_scripts %}