{% extends embed == null ? "layout/html.twig" : "test/embed.twig" %}
{% block content %}

    {% if embed != null %}
        <style>
            .col {
                padding: 0 !important;
            }
        </style>
    {% endif %}

    <div class="row" >
        <div class="col s12 m12 l12">
            <div >
                <h6 style="display: inline-block">{{ test.title }}</h6>
                <div class="right"  >
                    <h4><span class="green-text text-darken-2" style="font-weight: bold">{{ correct_count }}</span><span class="grey-text">/{{ answers|length }}</span></h4>
                </div>
                <div>
                    {% if (_user.role == 2 or _user.role == 3) and (_user.id != attempt.user_id) %}
                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Пользователь" }}</span>{{ user.email|default("Незалогиненный пользователь") }}</span>
                    {% endif %}
                    <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Начало" }}</span>{{ attempt.created_at|date("d.m.Y h:i:s", "Asia/Almaty") }}</span>
                    <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Окончание" }}</span>{{ attempt.updated_at|date("d.m.Y h:i:s", "Asia/Almaty") }}</span>
                    <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Попытка" }}</span>{{ attempt_number }}</span>
                </div>
            </div>
            <div class="divider" style="margin-top: 5px; margin-bottom: 15px;"></div>

            {% if _user %}
                <div  style="display: none;" id="content">
                    {% set pattern = attempt.pattern|split(';') %}
                    {% for key in pattern %}
                        <div style="font-size: 16px">
                            {{ loop.index }}) {{ questions[answers[key].id].text|replace({"\\n" : "<br/>"})|raw }}
                            {% for image in questions_images[answers[key].id] %}
                                <br/><img src="{{ url(image.path) }}" style="margin-top: 10px;">
                            {% endfor %}
                        </div>

                        {% if questions[answers[key].id].type == 1 %}
                            <div class="card-panel white-text {% if answers[key].answer == "" %} blue-grey lighten{% elseif is_correct[answers[key].id] %} green{% else %} red{% endif %}">
                                {% if answers[key].answer == "" %}
                                    Вопрос был пропущен
                                {% else %}
                                    {{ questions_options[answers[key].id].text|replace({"\\n" : "<br/>"})|raw }}
                                    {% for image in questions_options_images[questions_options[answers[key].id].id] %}
                                        {% if loop.index == 1 %}
                                            {% if questions_options[answers[key].id].text != " " %}
                                                <br/>
                                            {% endif %}
                                            {% else %}
                                            <br/>
                                        {% endif %}
                                            <img src="{{ url(image.path) }}"
                                            {% if loop.index == 1 %}
                                                {% if questions_options[answers[key].id].text != " " %}
                                                    style="margin-top: 14px;"
                                                {% endif %}
                                            {% else %}
                                                style="margin-top: 14px;"
                                            {% endif %}
                                            >
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if questions[answers[key].id].type == 2 %}
                           <div class="card-panel white-text {% if answers[key].answer == "" %} blue-grey lighten{% elseif is_correct[answers[key].id] %} green{% else %} red{% endif %}">
                                {% if answers[key].answer == "" %}
                                    Вопрос был пропущен
                                {% else %}

                                    {% set answers_array = answers[key].answer|split(',') %}
                                    {% for answer_key in answers_array %}
                                        {{ questions_options[answers[key].id][answer_key].text|replace({"\\n" : "<br/>"})|raw }}
                                        {% for image in questions_options_images[questions_options[answers[key].id][answer_key].id] %}
                                            {% if loop.index == 1 %}
                                                {% if questions_options[answers[key].id][answer_key].text != " " %}
                                                    <br/>
                                                {% endif %}
                                            {% else %}
                                                <br/>
                                            {% endif %}
                                            <img src="{{ url(image.path) }}"
                                                {% if loop.index == 1 %}
                                                    {% if questions_options[answers[key].id][answer_key].text != " " %}
                                                        style="margin-top: 14px;"
                                                    {% endif %}
                                                {% else %}
                                                    style="margin-top: 14px;"
                                                {% endif %}
                                            >
                                        {% endfor %}
                                        {% if loop.index != answers_array|length %}<div class="divider" style="opacity: 0.4; margin: 5px 0;"></div>{% endif %}
                                    {% endfor %}

                                {% endif %}
                           </div>
                        {% endif %}

                        {% if questions[answers[key].id].type == 3 %}
                            <div class="card-panel white-text {% if answers[key].answer == "" %} blue-grey lighten{% elseif is_correct[answers[key].id] %} green{% else %} red{% endif %}">
                                {% if answers[key].answer == "" %}
                                    Вопрос был пропущен
                                {% else %}
                                    {{ answers[key].answer }}
                                {% endif %}
                            </div>
                        {% endif %}


                        {% if questions[answers[key].id].type == 4 %}
                            {% set pattern = answers[key].pattern|split(';') %}
                            <div class="row">
                                <div class="col s12 m12 l12">
                                    {% for i in pattern %}
                                        {% if i > questions_options[answers[key].id]|length %}

                                            <div class="white-text cell-label z-depth-2 {% if is_correct_cells[answers[key].id][i - questions_options[answers[key].id]|length] == 0 %}red{% else %}green{% endif %}" style="margin-bottom: 10px; display: inline-block; border: none;">
                                                {{ questions_cells[answers[key].id][i - questions_options[answers[key].id]|length].text|replace({"\\n" : "<br/>"})|raw }}

                                                {% for image in questions_cells_images[answers[key].id][questions_cells[answers[key].id][i - questions_options[answers[key].id]|length].id] %}
                                                    {% if loop.index == 1 %}
                                                        {% if questions_cells[answers[key].id][i - questions_options[answers[key].id]|length].text != " " %}
                                                            <br/>
                                                        {% endif %}
                                                    {% else %}
                                                        <br/>
                                                    {% endif %}
                                                    <img src="{{ url(image.path) }}"
                                                            {% if loop.index == 1 %}
                                                                {% if questions_cells[answers[key].id][i - questions_options[answers[key].id]|length].text != " " %}
                                                                    style="margin-top: 10px;"
                                                                {% endif %}
                                                            {% else %}
                                                                style="margin-top: 10px;"
                                                            {% endif %}
                                                    >
                                                {% endfor %}

                                                <div class="cell-label-box">
                                                    <div style="margin: 5px 10px; min-height: 80px;">
                                                        <ul class="droptrue" id="sortable2" data-item-id="{{ questions_cells[answers[key].id][i - questions_options[answers[key].id]|length].number }}">
                                                            {% for j in answer_maps[answers[key].id][i - questions_options[answers[key].id]|length] %}
                                                                {% if j <= questions_options[answers[key].id]|length %}
                                                                    <li class="white-text object-label z-depth-1  {% if is_correct_objects[answers[key].id][j] == 0 %}red lighten-2{% else %}green lighten-2{% endif %}" data-item-id="{{ questions_options[answers[key].id][j].number }}">
                                                                        {{ questions_options[answers[key].id][j].text|replace({"\\n" : "<br/>"})|raw }}

                                                                        {% for image in questions_options_images[answers[key].id][questions_options[answers[key].id][j].id] %}
                                                                            {% if loop.index == 1 %}
                                                                                {% if questions_options[answers[key].id][j].text != " " %}
                                                                                    <br/>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                <br/>
                                                                            {% endif %}
                                                                            <img src="{{ url(image.path) }}"
                                                                                    {% if loop.index == 1 %}
                                                                                        {% if questions_options[answers[key].id][j].text != " " %}
                                                                                            style="margin-top: 10px;"
                                                                                        {% endif %}
                                                                                    {% else %}
                                                                                        style="margin-top: 10px;"
                                                                                    {% endif %}
                                                                            >
                                                                        {% endfor %}


                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                        {% endif %}

                        <div class="divider" style="margin-bottom: 15px;"></div>

                    {% endfor %}

                    <div><a id="start" class="white-text waves-effect waves-light btn blue {% if test.attempts > 0 and test.attempts - attempts_count <= 0 %}disabled{% endif %}">Пройти тест еще раз</a></div>
                    <div class="progress blue lighten-4" style="display: none; margin-top: 30px; margin-bottom: 52px;">
                        <div class="indeterminate blue"></div>
                    </div>
                </div>
            {% else %}
                <div  style="display: none;" id="content">
                    Войдите в личный кабинет, чтобы посмотреть результаты.
                </div>
            {% endif %}

        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 1% 0 0 20px; "  id="loader">
    </div>

    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box;">
            <a href="#" class="black-text modal-action modal-close waves-effect waves-red btn-flat">Ок</a>
        </div>
    </div>


{% endblock content %}

{% block init_scripts %}
    <script>

        $(document).ready(function () {

            $('.modal').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/test/')~'/'~test.id~'/'~question_index }}'; }
            });


            {% if test.attempts - attempts_count > 0 or test.attempts == 0 %}

                $('#start').on('click', function () {
                    $('#start').addClass('disabled');
                    $('#start').fadeOut(200, function () {
                        $(".progress").fadeIn(400);
                    });

                    var fd = new FormData;

                    fd.append('_token', '{{ _token }}');
                    fd.append('user_id', '{{ _user.id }}');
                    fd.append('test_id', '{{ test.id }}');

                    $.ajax({
                        type: "POST",
                        url: "/ajax/start-attempt",
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result == 'ok') {
                                window.location.href = '{{ url('/test/')~'/'~test.id~'/1' }}{% if embed != null %}?embed=1{% endif %}';
                            }
                            else {
                                $(".progress").fadeOut(400, function () {
                                    $("#start").fadeIn(300);
                                });
                                $('#modal2').modal('open');
                            }
                        },
                        error:function (result) {
                            $(".progress").fadeOut(400, function () {
                                $("#start").fadeIn(300);
                            });
                            $('#modal2').modal('open');
                        }
                    });
                });
            {% endif %}


            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400, function () {

                    {% if test.lesson().is_allowed() and test.lesson().is_visited() == 1 and embed != null %}

                        $("#progress-box", parent.parent.document).find('.determinate').css({'width': {{ test.lesson().course().progress() }} + '%' });
                        $("#progress-box-mobile", parent.parent.document).find('.determinate').css({'width': {{ test.lesson().course().progress() }} + '%' });

                        $('#' + $("#progress-box").attr('data-tooltip-id'), parent.parent.document).find('span').html('Ваш прогресс: ' + {{ test.lesson().course().progress() }} + '/100');
                        $('#' + $("#progress-box-mobile").attr('data-tooltip-id'), parent.parent.document).find('span').html('Ваш прогресс: ' + {{ test.lesson().course().progress() }} + '/100');

                        {% if test.lesson().test_is_passed() %}
                            $("[id='this-lesson']", parent.parent.document).each(function () {
                                $(this).find('.material-icons').css({
                                    'transition': 'all 0.7s',
                                    'color': '#4caf50',
                                    'text-shadow': '0 0 10px #4caf50, 0 0 1em #a5d6a7'
                                });
                            });
                            $('#test-is-passed', parent.parent.document).modal('open');
                        {% else %}
                            $('#test-is-failed', parent.parent.document).modal('open');
                        {%  endif  %}

                        {% set lessons = test.lesson().course().lessons()  %}

                        var opened_lessons = [
                            {% for item in lessons %}{% if item.is_allowed() %}"{{ item.id }}",{% endif %}{% endfor %}
                            0
                        ];

                        $("[id='disabled-lesson'], [id='disabled-lesson-mobile']", parent.parent.document).each(function () {
                            if ($.inArray($(this).attr('data-lesson-id'), opened_lessons ) >= 0) {
                                $(this).removeClass('tooltipped');
                                $('#' + $(this).attr('data-tooltip-id'), parent.parent.document).remove();
                                $(this).css({'color': 'black'});
                                $(this).attr('data-item-id', $(this).attr('data-lesson-id') );
                                $(this).addClass('open-lesson');
                            }
                        });



                    {% endif %}

                });


            });

        });

    </script>
{% endblock init_scripts %}