{% extends embed == null ? "layout/html.twig" : "test/embed.twig" %}
{% block content %}


    {% if embed != null %}
        <style>
            .col {
                padding: 0 !important;
            }

            body, html {
                min-height: 300px;
            }

            #sortable1, #sortable2 {
                list-style-type: none;
                margin: 0;
                padding: 0;
                margin-right: 100px;
                padding: 5px;
                width: 300px;
                min-height: 80px;
            }
            #sortable1 li, #sortable2 li {
                color: black;
                margin: 5px;
                padding: 5px;
                font-size: 1.2em;
                width: 250px;
                background: none;
                background-color: white;
                cursor: move; /* fallback if grab cursor is unsupported */
                cursor: grab;
            }
            .selected {
                background:red !important;
            }
            .hidden {
                display:none !important;
            }
            ul {
                list-style-type: none;
            }
            .ui-sortable-placeholder {
                visibility: visible !important;
                background-color: #fff !important;
                padding-right:10px;
                padding-left:10px;
                text-align:center;
                height: 40px;
                border: #2196F3 dashed 2px;
            }
        </style>
    {% endif %}


    <div class="row" >
        <div class="col s12 m12 l12">
            <div id="title">
                <div >
                    {% if test.time > 0 %}
                    <span class="cursor-default btn-small readonly white-text blue-grey lighten left" style="margin-top: 12px; margin-right: 10px;">
                        <span id="minutes">{{ ((test.time * 60 - time_left) / 60)|round(0, 'floor')|time }}</span>:<span id="seconds">{{ ((test.time * 60 - time_left) % 60)|time }}</span>
                    </span>
                    {% endif %}
                    <h6 style="display: inline-block">
                        {{ test.title }}
                    </h6>
                    <div style="margin-top: 6px;" class="tooltipped right" data-position="bottom" data-delay="50" data-tooltip="{{ "Чтобы завершить тест, ответьте на все вопросы." }}" >
                        <a id="end"  class="white-text waves-effect waves-light btn blue {% if answers_left > 0 %}disabled{% endif %}">Завершить тест</a>
                    </div>
                </div>
                <div>
                    {% set pattern = attempt.pattern|split(';') %}
                    {% for key in pattern %}
                        <input class="{% if question.number != key %}with-gap{% endif %}" type="radio" {% if question.number == key or answers[key].answer != "" %}checked{% endif %}/>
                        <label id="questions_list" value="{{ loop.index }}"></label>
                    {% endfor %}
                </div>
            </div>
            <div class="divider" style="margin-bottom: 15px;"></div>

            <div  style="display: none;" id="content">
                <span style="font-size: 20px;">
                    {{ question_index }}) {{ question.text|replace({"\\n" : "<br/>"})|raw }}
                    {% for image in question_images %}
                        <br/><img src="{{ url(image.path) }}" style="margin-top: 10px;">
                    {% endfor %}
                </span>
                <div class="divider" style="margin-bottom: 15px;"></div>

                {% if question.type == 1 %}
                    {% set pattern = answer.pattern|split(';') %}
                    {% for key in pattern %}
                        <p>
                            <input class="with-gap" name="answer" type="radio" id="answer_{{ key }}" value="{{ question_options[key].id }}" {% if answer.answer == question_options[key].id %}checked{% endif %}/>
                            <label for="answer_{{ key }}" class="black-text">
                                {{ question_options[key].text|replace({"\\n" : "<br/>"})|raw }}
                                {% for image in question_options_images[question_options[key].id] %}
                                    {% if loop.index == 1 %}
                                        {% if question_options[key].text != " " %}
                                            <br/>
                                        {% endif %}
                                    {% else %}
                                        <br/>
                                    {% endif %}
                                    <img src="{{ url(image.path) }}"
                                        {% if loop.index == 1 %}
                                            {% if question_options[key].text != " " %}
                                                style="margin-top: 10px;"
                                            {% endif %}
                                        {% else %}
                                            style="margin-top: 10px;"
                                        {% endif %}
                                    >
                                {% endfor %}
                            </label>
                        </p>
                    {% endfor %}
                {% endif %}

                {% if question.type == 2 %}
                    {% set answers_array = answer.answer|split(',') %}
                    {% set pattern = answer.pattern|split(';') %}
                    {% for key in pattern %}
                        <p>
                            <input class="filled-in checkbox-blue" name="answer" type="checkbox" id="answer_{{ key }}" value="{{ question_options[key].id }}" {% if question_options[key].id in answers_array %}checked{% endif %}/>
                            <label for="answer_{{ key }}" class="black-text">
                                {{ question_options[key].text|replace({"\\n" : "<br/>"})|raw }}
                                {% for image in question_options_images[question_options[key].id] %}
                                    {% if loop.index == 1 %}
                                        {% if question_options[key].text != " " %}
                                            <br/>
                                        {% endif %}
                                    {% else %}
                                        <br/>
                                    {% endif %}
                                    <img src="{{ url(image.path) }}"
                                            {% if loop.index == 1 %}
                                                {% if question_options[key].text != " " %}
                                                    style="margin-top: 10px;"
                                                {% endif %}
                                            {% else %}
                                                style="margin-top: 10px;"
                                            {% endif %}
                                    >
                                {% endfor %}
                            </label>
                        </p>
                    {% endfor %}
                {% endif %}

                {% if question.type == 3 %}
                    <div class="input-field" style="margin-top: 30px">
                        <input id="answer" type="text" name="answer" value="{{ answer.answer }}">
                        <label for="answer" >Введите ответ</label>
                    </div>
                {% endif %}

                {% if question.type == 4 %}
                    {% set pattern = answer.pattern|split(';') %}
                    <div class="row">
                        <div class="col s6 m6 l6">
                            <ul class="droptrue" id="sortable1">
                            {% for key in answer_map[0] %}
                                {% if key <= question_options|length %}
                                    <li class="white-text object-label blue z-depth-1" data-item-id="{{ question_options[key].number }}">
                                        {{ question_options[key].text|replace({"\\n" : "<br/>"})|raw }}
                                        {% for image in question_options_images[question_options[key].id] %}
                                            {% if loop.index == 1 %}
                                                {% if question_options[key].text != " " %}
                                                    <br/>
                                                {% endif %}
                                            {% else %}
                                                <br/>
                                            {% endif %}
                                            <img src="{{ url(image.path) }}"
                                                    {% if loop.index == 1 %}
                                                        {% if question_options[key].text != " " %}
                                                            style="margin-top: 10px;"
                                                        {% endif %}
                                                    {% else %}
                                                        style="margin-top: 10px;"
                                                    {% endif %}
                                            >
                                        {% endfor %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </div>
                        <div class="col s6 m6 l6">
                            {% for i in pattern %}
                                {% if i > question_options|length %}

                                    <div class="black-text cell-label white z-depth-2" style="margin-bottom: 10px;">
                                        {{ question_cells[i - question_options|length].text|replace({"\\n" : "<br/>"})|raw }}
                                        {% for image in question_cells_images[question_cells[i - question_options|length].id] %}
                                            {% if loop.index == 1 %}
                                                {% if question_cells[i - question_options|length].text != " " %}
                                                    <br/>
                                                {% endif %}
                                            {% else %}
                                                <br/>
                                            {% endif %}
                                            <img src="{{ url(image.path) }}"
                                                    {% if loop.index == 1 %}
                                                        {% if question_cells[i - question_options|length].text != " " %}
                                                            style="margin-top: 10px;"
                                                        {% endif %}
                                                    {% else %}
                                                        style="margin-top: 10px;"
                                                    {% endif %}
                                            >
                                        {% endfor %}

                                        <div class="cell-label-box">
                                            <div style="margin: 5px 10px; min-height: 80px;">
                                                <ul class="droptrue" id="sortable2" data-item-id="{{ question_cells[i - question_options|length].number }}">
                                                    {% for j in answer_map[i - question_options|length] %}
                                                        {% if j <= question_options|length %}
                                                            <li class="white-text object-label blue z-depth-1" data-item-id="{{ question_options[j].number }}">
                                                                {{ question_options[j].text|replace({"\\n" : "<br/>"})|raw }}

                                                                {% for image in question_options_images[question_options[j].id] %}
                                                                    {% if loop.index == 1 %}
                                                                        {% if question_options[j].text != " " %}
                                                                            <br/>
                                                                        {% endif %}
                                                                    {% else %}
                                                                        <br/>
                                                                    {% endif %}
                                                                    <img src="{{ url(image.path) }}"
                                                                            {% if loop.index == 1 %}
                                                                                {% if question_options[j].text != " " %}
                                                                                    style="margin-top: 10px;"
                                                                                {% endif %}
                                                                            {% else %}
                                                                                style="margin-top: 10px;"
                                                                            {% endif %}
                                                                    >
                                                                {% endfor %}

                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}



                <div class="divider" style="margin-bottom: 15px; margin-top: 15px;"></div>

                <div>
                    {% if question_index != 1 %}<a id="prev" class="white-text waves-effect waves-light btn blue left" style="margin-top: 5px;">Предыдущий вопрос</a>{% endif %}
                    {% if question_index != test.questions %}<a id="next" class="white-text waves-effect waves-light btn blue right" style="margin-top: 5px;">Следующий вопрос</a>{% endif %}
                </div>

            </div>

        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 1% 0 0 20px; "  id="loader">
    </div>

    <div id="modal1" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Время на выполнение теста вышло</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue" style="marging-left: 6px;">Перейти к результатам</a>
        </div>
    </div>

    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

{% endblock content %}

{% block init_scripts %}
    <script>

        $(document).ready(function () {

            $('.tooltipped').tooltip({delay: 50});

            {% if question.type == 4 %}
            var arr = [];
            arr.push([]);

            $("#sortable1 li").each(function () {
                arr[0].push($(this).attr('data-item-id'));
            });

            $("[id=sortable2]").each(function () {
                arr.push([]);
            });

            function updatePostOrder() {

                arr[0] = [];
                $("#sortable1 li").each(function () {
                    arr[0].push($(this).attr('data-item-id'));
                });

                $("[id=sortable2]").each(function () {
                    arr[$(this).attr('data-item-id')] = [];
                });
                $("#sortable2 li").each(function () {
                    arr[$(this).parent().attr('data-item-id')].push($(this).attr('data-item-id'));
                });

            }

            $('.droptrue').on('click', 'li', function () {
                $(this).toggleClass('selected');
            });

            $("ul.droptrue").sortable({
                connectWith: 'ul.droptrue',
                opacity: 0.6,
                revert: false,
                helper: function (e, item) {
                    if(!item.hasClass('selected'))
                        item.addClass('selected');
                    var elements = $('.selected').not('.ui-sortable-placeholder').clone();
                    var helper = $('<ul/>');
                    item.siblings('.selected').addClass('hidden');
                    return helper.append(elements);
                },
                start: function (e, ui) {
                    var elements = ui.item.siblings('.selected.hidden').not('.ui-sortable-placeholder');
                    ui.item.data('items', elements);
                },
                receive: function (e, ui) {
                    ui.item.before(ui.item.data('items'));
                },
                stop: function (e, ui) {
                    ui.item.siblings('.selected').removeClass('hidden');
                    $('.selected').removeClass('selected');
                },
                update: updatePostOrder
            });

            $("#sortable1, #sortable2").disableSelection();
            $("#sortable1, #sortable2").css('minHeight', $("#sortable1").height() + "px");
            updatePostOrder();
            {% endif %}

            var minutes = {{ ((test.time * 60 - time_left) / 60)|round(0, 'floor') }};
            var seconds = {{ ((test.time * 60 - time_left) % 60) }};
            var prefix_min = '';
            var prefix_sec = '';

            {% if test.time > 0 %}
            var timer = setInterval(function () {

                if (minutes != 0 || seconds != 0) {
                    seconds--;

                    if (seconds < 0) {
                        minutes--;
                        seconds = 59;
                    }
                    if (minutes < 10) prefix_min = '0'; else prefix_min = '';
                    if (seconds < 10) prefix_sec = '0'; else prefix_sec = '';
                    $("#minutes").html(prefix_min + minutes);
                    $("#seconds").html(prefix_sec + seconds);
                }

                if (seconds == 0 && minutes == 0) {
                    clearInterval(timer);

                    $('#prev, #next').addClass('disabled');
                    $("label, input").addClass('disabled-element');
                    $('#end').addClass('disabled');
                    $('#content').fadeOut(300);

                    var fd = new FormData;

                    fd.append('_token', '{{ _token }}');
                    fd.append('user_id', '{{ _user.id }}');
                    fd.append('attempt_id', '{{ attempt.id }}');
                    fd.append('question_id', '{{ question.id }}');
                    fd.append('position', {{ question_index }});

                    {% if question.type == 1 %}
                    fd.append('answer', $("input[name='answer']:checked").val());
                    {% endif %}

                    {% if question.type == 2 %}
                    fd.append('answer', $("input[name='answer']:checked").map(function () {
                        return $(this).val();
                    }).get());
                    {% endif %}

                    {% if question.type == 3 %}
                    fd.append('answer', $("#answer").val());
                    {% endif %}

                    {% if question.type == 4 %}
                    fd.append('answer', JSON.stringify(arr));
                    {% endif %}

                    $.ajax({
                        type: "POST",
                        url: "/ajax/save-answer",
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result == 'ok') {

                                var fd = new FormData;

                                fd.append('_token', '{{ _token }}');
                                fd.append('user_id', '{{ _user.id }}');
                                fd.append('test_id', '{{ test.id }}');
                                fd.append('attempt_id', '{{ attempt.id }}');

                                $.ajax({
                                    type: "POST",
                                    url: "/ajax/end-attempt",
                                    data: fd,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        if (result == 'ok') {
                                            $('#modal1').modal('open');
                                        }
                                        else {
                                            $('#modal2').modal('open');
                                        }
                                    },
                                    error:function (result) {
                                        $('#modal2').modal('open');
                                    }
                                });
                            }
                            else {
                                $(".progress").fadeOut(400, function () {
                                    $("#start").fadeIn(300);
                                });
                                $('#modal2').modal('open');
                            }
                        },
                        error:function (result) {
                            $(".progress").fadeOut(400, function () {
                                $("#start").fadeIn(300);
                            });
                            $('#modal2').modal('open');
                        }
                    });

                }
            }, 1000);
            {% endif %}

            $('#modal1').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/test/result')~'/'~test.id~'/'~attempt.id }}{% if embed != null %}?embed=1{% endif %}'; }
            });

            $('#modal2').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/test/')~'/'~test.id~'/'~question_index }}{% if embed != null %}?embed=1{% endif %}'; }
            });

            {% if answers_left == 0 or (answers_left == 1 and (last_answer and answer.id == last_answer.id)) %}
                {% if question.type == 1 or question.type == 2 %}
                    $("input[name='answer']").on('click', function () {
                        var is_completed = false;

                        $("input[name='answer']").each(function () {
                            if ($("input[name='answer']:checked").val()) {
                                is_completed = true;
                            }
                        });

                        if (is_completed) {
                            $("#end").removeClass("disabled");
                            $('.tooltipped').tooltip('remove');
                        }
                        else {
                            $("#end").addClass("disabled");
                            $('.tooltipped').tooltip({delay: 50});
                        }
                    });
                {% endif %}

                {% if question.type == 3 %}
                    $("input[name='answer']").on('input', function () {
                        if ($(this).val() != "") {
                            $("#end").removeClass("disabled");
                            $('.tooltipped').tooltip('remove');
                        }
                        else {
                            $("#end").addClass("disabled");
                            $('.tooltipped').tooltip({delay: 50});
                        }
                    });
                {% endif %}

                {% if question.type == 4 %}
                    $("#end").removeClass("disabled");
                    $('.tooltipped').tooltip('remove');
                {% endif %}


                $('#end').on('click', function () {
                    $('#prev, #next').addClass('disabled');
                    $("label, input").addClass('disabled-element');
                    $('#end').addClass('disabled');
                    $('#content').fadeOut(300, function () {
                        $("#loader").fadeIn(400);
                    });

                    var fd = new FormData;

                    fd.append('_token', '{{ _token }}');
                    fd.append('user_id', '{{ _user.id }}');
                    fd.append('attempt_id', '{{ attempt.id }}');
                    fd.append('question_id', '{{ question.id }}');
                    fd.append('position', {{ question_index }});

                    {% if question.type == 1 %}
                    fd.append('answer', $("input[name='answer']:checked").val());
                    {% endif %}

                    {% if question.type == 2 %}
                    fd.append('answer', $("input[name='answer']:checked").map(function () {
                        return $(this).val();
                    }).get());
                    {% endif %}

                    {% if question.type == 3 %}
                    fd.append('answer', $("#answer").val());
                    {% endif %}

                    {% if question.type == 4 %}
                    fd.append('answer', JSON.stringify(arr));
                    {% endif %}

                    $.ajax({
                        type: "POST",
                        url: "/ajax/save-answer",
                        data: fd,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result == 'ok') {
                                var fd = new FormData;

                                fd.append('_token', '{{ _token }}');
                                fd.append('user_id', '{{ _user.id }}');
                                fd.append('test_id', '{{ test.id }}');
                                fd.append('attempt_id', '{{ attempt.id }}');

                                $.ajax({
                                    type: "POST",
                                    url: "/ajax/end-attempt",
                                    data: fd,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        if (result == 'ok') {
                                            window.location.href = '{{ url('/test/result')~'/'~test.id~'/'~attempt.id }}{% if embed != null %}?embed=1{% endif %}';
                                        }
                                        else {
                                            $('#modal2').modal('open');
                                        }
                                    },
                                    error:function (result) {
                                        $('#modal2').modal('open');
                                    }
                                });
                            }
                            else {
                                $('#modal2').modal('open');
                            }
                        },
                        error:function (result) {
                            $('#modal2').modal('open');
                        }
                    });


                });

            {% endif %}

            $("label[id='questions_list']").on('click', function () {

                $('#prev, #next').addClass('disabled');
                $("label, input").addClass('disabled-element');

                var id = $(this).attr('value');
                var fd = new FormData;

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('attempt_id', '{{ attempt.id }}');
                fd.append('question_id', '{{ question.id }}');
                fd.append('position', id);

                {% if question.type == 1 %}
                    fd.append('answer', $("input[name='answer']:checked").val());
                {% endif %}

                {% if question.type == 2 %}
                    fd.append('answer', $("input[name='answer']:checked").map(function () {
                        return $(this).val();
                    }).get());
                {% endif %}

                {% if question.type == 3 %}
                    fd.append('answer', $("#answer").val());
                {% endif %}

                {% if question.type == 4 %}
                    fd.append('answer', JSON.stringify(arr));
                {% endif %}

                $.ajax({
                    type: "POST",
                    url: "/ajax/save-answer",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok') {
                            window.location.href = '{{ url('/test/')~'/'~test.id~'/' }}' + id + '{% if embed != null %}?embed=1{% endif %}';
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });


            });

            $('#prev, #next').on('click', function () {
                $('#prev, #next').addClass('disabled');
                $("label, input").addClass('disabled-element');

                var fd = new FormData;

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('attempt_id', '{{ attempt.id }}');
                fd.append('question_id', '{{ question.id }}');

                if ($(this).attr('id') == "prev") fd.append('position', '{{ question_index - 1 }}');
                if ($(this).attr('id') == "next") fd.append('position', '{{ question_index + 1 }}');

                {% if question.type == 1 %}
                    fd.append('answer', $("input[name='answer']:checked").val());
                {% endif %}

                {% if question.type == 2 %}
                    fd.append('answer', $("input[name='answer']:checked").map(function () {
                        return $(this).val();
                    }).get());
                {% endif %}

                {% if question.type == 3 %}
                    fd.append('answer', $("#answer").val());
                {% endif %}

                {% if question.type == 4 %}
                    fd.append('answer', JSON.stringify(arr));
                {% endif %}

                var location = $(this).attr('id');

                $.ajax({
                    type: "POST",
                    url: "/ajax/save-answer",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok') {
                            if (location == "prev") window.location.href = '{{ url('/test/')~'/'~test.id~'/'~(question_index - 1) }}{% if embed != null %}?embed=1{% endif %}';
                            if (location == "next") window.location.href = '{{ url('/test/')~'/'~test.id~'/'~(question_index + 1) }}{% if embed != null %}?embed=1{% endif %}';
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });

            });




            {% if answers_left == 0 %}
                $('.tooltipped').tooltip('remove');
            {% endif %}
            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });

        });

    </script>
{% endblock init_scripts %}