{% extends "layout/html.twig" %}
{% block content %}

    <style>
        .file-field {
            margin-top: 0;
        }

        .container {
            display: none;
        }


        .black-overlay {
            position: fixed;
            margin: auto auto;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:2001;
            -moz-opacity: 0;
            opacity:.60;
            filter: alpha(opacity=0);
            display: none;
        }

        .layout {
            box-shadow: 0px 0px 0px  rgba(0,0,0,0.5);
            display: none;
            width: 450px;
            height: auto;
            background:#FFFFFF;
            z-index:2002;
            position:fixed;
            top:50%;
            left:50%;
            margin-left:0px;
        }

    </style>


    <div class="container">


        {% if session_has('error') %}
            <div class="card red lighten-2">
                <div class="card-content white-text">
                    {{ session_get('error')|raw }}
                </div>
            </div>
        {% endif %}
        {% if session_has('notice') %}
            <div class="card green darken-1">
                <div class="card-content white-text">
                    {{ session_get('notice')|raw }}
                </div>
            </div>
        {% endif %}

        <div style="margin-bottom: 30px; margin-left: -10px; margin-top: 20px">
            <a href="{{ url('/lessons')~'/'~course.id }}" class="black-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
        </div>
        <div style="text-align: left; margin: 20px auto 0 auto;">
            <h5>{% if lesson == null %}Новый урок{% else %}Изменить урок{% endif %}</h5>
        </div>



        <form class="col s12" method="POST" id="form1" accept-charset="UTF-8" enctype="multipart/form-data">
            {{csrf_field()}}
            <input type="hidden" name="course_id" value="{{ course.id }}">

            <div class="input-field" style="margin-top: 30px">
                <input id="lesson_name" type="text" name="lesson_name" value="{{ lesson.lesson_name }}">
                <label for="lesson_name">Название урока</label>
            </div>

            <div class="input-field" style="margin-top: 30px">
                <input id="lesson_description" type="text" name="lesson_description" value="{{ lesson.lesson_description }}">
                <label for="lesson_description">Описание/Комментарии</label>
            </div>

            <div style="height: 30px; border-bottom: 1px solid #ccc; margin-bottom: 30px;"></div>

            <div id="videos-list" style="margin-top: 30px;">
                {% for video in videos %}
                    <div id="old_div" class="row">
                        <input type="hidden" name="old_videos[{{ loop.index }}]" value="{{ video.id }}">
                        <div class="col s12 m2 l2"><a id="delete-video" class="waves-effect waves-light btn red lighten-2"  style="display: inline-block; margin-right: 10px; margin-top: 8px; width: 100%; font-size: 12px;"><i class="material-icons">delete</i> Удалить видео</a></div>
                        <div class="col s12 m2 l2" style="width: auto;">
                            <a id="watch-video" onclick="expand('{{ url('storage/videos')~'/'~video.link }}', 'video', 856, 480, '{{ url('expand') }}', '{{ _token }}');" class="waves-effect waves-light btn blue tooltipped" data-position="top" data-tooltip="Посмотреть видео" style="vertical-align: top; padding: 0; display: inline-block; margin: 8px 2px; width: 36px; font-size: 12px;">
                                <i class="material-icons">play_circle_filled</i>
                            </a>
                            <div class="file-field input-field"  id="div_video_old" style="display: inline-block;">
                                <div class="waves-effect waves-light btn blue" style="padding: 0; height: 36px; line-height: 36px; display: inline-block; margin: 8px 2px; width: 36px; font-size: 12px;">
                                    <span><i class="material-icons">edit</i></span>
                                    <input class="tooltipped" type="file" name="videos-edit[{{ loop.index }}]" id="videos-edit" data-position="top" data-tooltip="Выбрать другое видео">
                                </div>
                            </div>

                        </div>
                        <div class="col s12 m8 l8"><div class="input-field" style="display: inline-block; margin-top: 0px; width: 100%;">
                            <input id="video-name-{{ video.id }}" type="text" name="video-name[{{ loop.index }}]" value="{{ video.name }}">
                            <label for="video-name-{{ video.id }}">Название видео</label>
                        </div></div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add_video" class="waves-effect waves-light btn blue"><i class="material-icons">add</i> {{ "Добавить видео"|transl }}</button>

            <div style="height: 30px; border-bottom: 1px solid #ccc;"></div>
            <div id="files-list" style="margin-top: 30px;">
                {% for file in files %}
                    <div class="file-field input-field">
                        <div id="old_div">
                            <input type="hidden" name="old_files[]" value="{{ file.id }}">
                            <a id="delete" class="waves-effect waves-light btn red lighten-2"  style="display: inline-block; margin-right: 10px; font-size: 12px;"><i class="material-icons">delete</i> Удалить файл</a>
                            <div class="file-path-wrapper disabled-element-full-opacity noselect">
                                <input class="file-path" type="text" value="{{ file.filename }}">
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add_file" class="waves-effect waves-light btn blue"><i class="material-icons">add</i> {{ "Добавить файл"|transl }}</button>

            <div style="height: 30px; border-bottom: 1px solid #ccc; margin-bottom: 30px;"></div>

        </form>

        <form role="form" id="form2" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
            <input type="hidden" name="_token" value="{{ _token }}">
            <input type="hidden" name="lesson_id" id="lesson_id" value="{{ lesson.id }}">
            <div class="file-field input-field" id="div_test">
                {% if lesson.test() != null %}
                <a id="delete-test" data-item-id="{{ lesson.test().id }}" class="waves-effect waves-light btn red lighten-2"  style="display: inline-block; margin-right: 10px; font-size: 11px;"><i class="material-icons">delete</i> Удалить тест</a>
                {% endif %}
                <div class="waves-effect waves-light btn blue" id="add-test-button" >
                    <span style="font-size: 11px;">Выберите Excel файл с тестом</span>
                    <input type="file" name="tests[]" id="tests">
                </div>
                <div class="file-path-wrapper disabled-element-full-opacity noselect">
                    <input class="file-path" id="test-title" readonly type="text"  value="{{ lesson.test().title }}">
                </div>
            </div>

            <div style="height: 20px; border-bottom: 1px solid #ccc; margin-bottom: 30px;"></div>

        </form>

        <a id="submit" class="waves-effect waves-light btn blue" style="margin-bottom: 26px;">{% if lesson == null %}Создать{% else %}Принять изменения{% endif %}</a>
        <div class="progress blue lighten-4" style="display: none; margin-top: 46px; margin-bottom: 42px;">
            <div class="indeterminate blue"></div>
        </div>

    </div>

    <div id="modal1" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">{% if lesson == null %}Урок успешно создан.{% else %}Изменения успешно приняты.{% endif %}</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>


    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

    <div id="modal3" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных. Неверный формат теста.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

    <div id="modal4" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Тест успешно удален.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

    <div id="modal5" class="modal" style="max-width: 600px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Вы уверены, что хотите удалить тест <span id="test-name" style="font-weight: bold">{{ lesson.test().title }}</span>?</h5>
            <h6 class="center-align">Удаление теста приведет к удалению результатов прохождения этого теста всех пользователей.</h6>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a data-item-id="" id="cancel-delete" class="left white-text modal-action modal-close waves-effect waves-light btn-flat blue-grey">Отмена</a>
            <a data-item-id="" id="go-delete" class="right white-text modal-action modal-close waves-effect waves-light btn-flat red">Удалить</a>
        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="layout" class="layout" >
        <div id="contentbox" style="z-index: 900; position:relative; margin: 0px 0px; padding: 0px; background-color: #9c98a3;" class="z-depth-5">
        </div>
    </div>

    <div id="fade" class="black-overlay">
    </div>


{% endblock content %}

{% block init_scripts %}

    <script src="{{ asset('assets/js/expand.js') }}"></script>
    <script>

        var timeout;

        $(document).ready(function () {

            $('#modal1, #modal2, #modal3').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/lessons')~'/'~course.id }}'; }
            });

            $('#modal4, #modal5').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
            });


            $('#submit').on('click', function () {

                $("body").find('input').addClass('disabled-element');
                $("body").find('[id=add_file]').addClass('disabled-element');
                $("body").find('[id=add_video]').addClass('disabled-element');
                $("body").find('[id=delete]').addClass('disabled-element');
                $("body").find('[id=delete-video]').addClass('disabled-element');
                $("body").find('[name=tests]').addClass('disabled-element');
                $("body").find('[id=div_file]').addClass('disabled-element');
                $("body").find('[id=div_video]').addClass('disabled-element');
                $("body").find('[id=div_test]').addClass('disabled-element');
                $("body").find('[id=div_video_old]').addClass('disabled-element');
                $("body").find('[id=watch-video]').addClass('disabled-element');

                $('#submit').addClass('disabled');
                $('#submit').fadeOut(200, function () {
                    $(".progress").fadeIn(400);
                });


                var fd1 = new FormData($('#form1')[0]);

                $.ajax({
                    type: "POST",
                    url: "{% if lesson == null %}{{ '/lessons/edit'~'/'~course.id~'/new' }}{% else %}{{ '/lessons/edit'~'/'~course.id~'/'~lesson.id }}{% endif %}",
                    data: fd1,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result.status == 'ok') {
                            if( document.getElementById("tests").files.length == 0 ){
                                $(".progress").fadeOut(400, function () {
                                    $("#submit").fadeIn(300);
                                });
                                $('#modal1').modal('open');
                            }
                            else {
                                $('#lesson_id').val(result.lesson_id);
                                var fd2 = new FormData($('#form2')[0]);
                                $.ajax({
                                    type: "POST",
                                    url: "/tests/load",
                                    data: fd2,
                                    processData: false,
                                    contentType: false,
                                    success: function (result) {
                                        if (result == 'ok') {
                                            $(".progress").fadeOut(400, function () {
                                                $("#submit").fadeIn(300);
                                            });
                                            $('#modal1').modal('open');
                                        }
                                        else {
                                            if (result == 'wrong format') {
                                                $(".progress").fadeOut(400, function () {
                                                    $("#submit").fadeIn(300);
                                                });
                                                $('#modal3').modal('open');
                                            }
                                            else {
                                                $(".progress").fadeOut(400, function () {
                                                    $("#submit").fadeIn(300);
                                                });
                                                $('#modal2').modal('open');
                                            }
                                        }
                                    },
                                    error: function () {
                                        $(".progress").fadeOut(400, function () {
                                            $("#submit").fadeIn(300);
                                        });
                                        $('#modal2').modal('open');
                                    }
                                });
                            }
                        }
                        else {
                            $(".progress").fadeOut(400, function () {
                                $("#submit").fadeIn(300);
                            });
                            $('#modal2').modal('open');
                        }
                    },
                    error: function () {
                        $(".progress").fadeOut(400, function () {
                            $("#submit").fadeIn(300);
                        });
                        $('#modal2').modal('open');
                    }
                });

            });

            var countf = 0;
            var countv = 0;

            $('#add_file').on('click', function () {
                countf++;
                $("#files-list").append('' +
                    '<div class="file-field input-field" id="div_file"><div id="new_div_file' + countf +'">' +
                    '<a id="delete" class="waves-effect waves-light btn red lighten-2"  style=" height: 36px; line-height: 36px; display: inline-block; margin-right: 10px; font-size: 12px;"><i class="material-icons">delete</i> Удалить файл</a><div class="waves-effect waves-light btn blue" style=" font-size: 12px; height: 36px; line-height: 36px;"><span><i class="material-icons">folder</i> Выберите файл</span><input type="file" name="files[]"></div><div class="file-path-wrapper disabled-element-full-opacity noselect"><input class="file-path" type="text"></div></div>');
                $("#new_div_file" + countf).hide();
                $("#new_div_file" + countf).show("normal");

                $('[id=delete]').on('click', function () {
                    $(this).parent().hide(300, function () {
                        $(this).remove();
                    });
                })

            })


            $('#add_video').on('click', function () {
                countv++;
                $("#videos-list").append('' +
                    '<div id="new_div_video' + countv + '" class="row">' +
                        '<div class="col s12 m2 l2"><a id="delete-video" class="waves-effect waves-light btn red lighten-2"  style="display: inline-block; margin-right: 10px; margin-top: 8px; width: 100%; font-size: 12px;"><i class="material-icons">delete</i> Удалить видео</a></div>' + 
                        '<div class="col s12 m2 l2">' +
                            '<div class="file-field input-field"  id="div_video"><div class="waves-effect waves-light btn blue" style="padding: 0; height: 36px; line-height: 36px; display: inline-block; margin-right: 10px; margin-top: 8px; width: 100%; font-size: 12px;">' +
                                '<span><i class="material-icons">folder</i> Выберите видео</span>' +
                                '<input class="tooltipped" type="file" name="videos-new[' + countv + ']" id="videos-new" data-tooltip="">' +
                            '</div></div>' +
                        '</div>' +
                        '<div class="col s12 m8 l8"><div class="input-field" style="display: inline-block; margin-top: 0px; width: 100%;">' +
                            '<input id="video-new-name-' + countv +'" type="text" name="video-new-name[' + countv + ']" value="">' +
                            '<label for="video-new-name-' + countv +'">Название видео</label>' + 
                        '</div></div>   ' +
                    '</div>');
                $("#new_div_video" + countv).hide();
                $("#new_div_video" + countv).show("normal");

                $('[id=delete-video]').on('click', function () {
                    $('#' + $(this).parent().parent().find('.tooltipped').attr('data-tooltip-id')).remove();
                    $(this).parent().parent().hide(300, function () {
                        $(this).remove();
                    });
                });

            });

            $(document).on('change', '[id="videos-new"]', function(e) {
                var fileName = e.target.files[0].name;
                var that = $(e.target);

                that.attr("data-tooltip", "Выбран файл: " + fileName);

                that.tooltip({delay: 100, position: 'top'});
                $('#' + that.attr('data-tooltip-id')).css({'margin-top': '20px', 'z-index': '5'});
                that.trigger("mouseenter.tooltip");
                that.off("mouseenter mouseleave");

            });

            $(document).on('change', '[id="videos-edit"]', function(e) {
                var fileName = e.target.files[0].name;
                var that = $(e.target);

                that.attr("data-tooltip", "Выбран файл: " + fileName);

                that.tooltip({delay: 100, position: 'top'});
                $('#' + that.attr('data-tooltip-id')).css({'margin-top': '20px', 'z-index': '5'});
                that.trigger("mouseenter.tooltip");
                that.off("mouseenter mouseleave");

            });



            $('[id=delete]').on('click', function () {
                $(this).parent().hide(300, function () {
                    $(this).remove();
                });
            });

            $('[id=delete-video]').on('click', function () {
                console.log($(this).parent().parent().find('.tooltipped').attr('data-tooltip-id'));
                $(this).parent().parent().find('.tooltipped').each(function () {
                    $('#' + $(this).attr('data-tooltip-id')).remove();
                });
                $(this).parent().parent().hide(300, function () {
                    $(this).remove();
                });
            });

            $("a[id='delete-test']").on('click', function () {

                $(this).parent().children('a, div').each(function () {
                    $(this).addClass('disabled-element');
                    $(this).addClass('was-disabled');
                });

                $("#go-delete").attr('data-item-id', $(this).attr('data-item-id'));

                $('#modal5').modal('open');

            });

            $("#cancel-delete").on('click', function () {

                $(".was-disabled").each(function () {
                    $(this).removeClass('disabled-element');
                });

                $("#go-delete").attr("data-item-id", "");

            });

            $("#go-delete").on('click', function () {

                var fd = new FormData;
                var test_id = $(this).attr('data-item-id');

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('test_id', test_id);
                fd.append('lesson_id', $('#lesson_id').val());


                $.ajax({
                    type: "POST",
                    url: "/ajax/delete-test",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok') {

                            $("#delete-test").hide(700, function () {
                                $(this).remove();
                                $(".was-disabled").each(function () {
                                    $(this).removeClass('disabled-element');
                                });

                            });
                            $("#test-title").val('');
                            $('#modal4').modal('open');
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });

            });

            $("[id='watch-video']").each(function () {
                $('#' + $(this).attr('data-tooltip-id')).css({'margin-top': '10px'});
            });
            $("[id='videos-edit']").each(function () {
                $('#' + $(this).attr('data-tooltip-id')).css({'margin-top': '10px'});
            });

            $("#loader").fadeOut(400, function () {
                $(".container").fadeIn(400);
            });

            $(document).click(function(event) {
                close_layout();
            });

            function close_layout() {
                if ($("#content")) {
                    $("#content").trigger('pause');
                    $("#content").remove()
                }
                $("#layout").hide();
                $(".black-overlay").hide();
                $("#contentbox").css("top", 0);
                $("#contentbox").css("left", 0);
            }

        });


    </script>

{% endblock init_scripts %}