{% extends "layout/html.twig" %}
{% block content %}

    <link rel="stylesheet" href="{{ asset('assets/css/OverlayScrollbars.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.overlayScrollbars.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.resize.js') }}"></script>

    <link rel="stylesheet" href="{{ asset('assets/css/lesson.css') }}"/>

    <style>
        body {
            overflow: visible !important;
            width: 100% !important;
        }

        .results {
            background: #de1919;
            color: white;
        }
        .results:hover {
            background: #333;
            color: white;
        }
    </style>

    <div data-collapsible="expandable" class="side-nav white collapsible hide-on-med-and-down" id="lessons-list" style="margin-top: 58px; z-index: 997; overflow: visible; height: 100%; position: fixed;">

        <div style="position: fixed; top: 40%; right: -45px; z-index: 886;">
            <a class="btn-floating btn-large waves-effect waves-light blue tooltipped z-depth-5 hoverable"  href="#" data-activates="lessons-list" id="open-lessons-list"
               style="width: 90px; height: 90px; line-height: 90px; "
               data-position="right"  data-delay="50" data-tooltip="Уроки"
            >
                <i class="material-icons" style="text-align: right; padding-right: 16px;">layers</i>
            </a>
        </div>


        <div class="z-depth-2 sidenav-header" id="header" style="z-index: 900;">
            <h6 style="white-space: normal;">
                {{ lesson.course().course_name }}
                <div class="tooltipped" id="progress-box" data-position="bottom" data-delay="50" data-tooltip="Ваш прогресс: {{ lesson.course().progress() }}/100" style="height: 40px; padding: 10px 0 0 0; z-index: 990">
                    <div class="progress" style="margin: 10px 0;">
                        <div class="determinate" style="width: {{ lesson.course().progress() }}%"></div>
                    </div>
                </div>
            </h6>
        </div>

        <div id="nav-list" style="margin-top: 100px; height: calc(100% - 100px); z-index: 888; background-color: #fff;">
            <ul style="margin: 0;">
                {% for item in lessons %}
                    <li>
                        <a
                                {% if lesson.id == item.id  %} id="this-lesson" {% endif %}
                                {% if item.is_allowed() %}
                                    style="
                                            color: black;
                                            padding: 10px 10px;
                                            height: auto;
                                            line-height: 18px;
                                            font-weight: 300;
                                            {% if lesson.id == item.id  %}background-color: #ccc;{% endif %}"
                                    class="waves-effect open-lesson"
                                    data-item-id="{{ item.id }}"
                                {% else %}
                                    style="
                                            color: #999;
                                            padding: 10px 10px;
                                            height: auto;
                                            line-height: 18px;
                                            font-weight: 300;
                                            {% if lesson.id == item.id  %}background-color: #ccc;{% endif %}"
                                    class="waves-effect tooltipped"
                                    data-position="right" id="disabled-lesson" data-delay="50" data-tooltip="Чтобы получить доступ,<br> успешно завершите тесты предыдущих уроков" data-lesson-id="{{ item.id }}"
                                {% endif %}
                        >
                            <i class="material-icons" style="margin: 0; height: auto; line-height: 18px;
                            {% if (item.test_id == 0 or item.test_is_passed() == 1) and item.is_visited() == 1 %}
                                color: #4caf50;
                                text-shadow: 0 0 10px #4caf50, 0 0 1em #a5d6a7;
                            {% endif %}
                            ">layers</i>
                            {{item.lesson_name}}
                        </a>
                    </li>
                    <hr style="margin: 0;">
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="container">

        <div class="z-depth-2 sidenav-header hide-on-large-only" style="background-color: #fff; margin-top: 56px; z-index: 912; height: auto; width: 100%; padding: 10px 10px 10px 20px;" id="mob-header">
            <div style="height: auto; white-space: normal; display: inline-block; width: 100%; text-align: center; padding-top: 16px;">
                {{ lesson.course().course_name }}
                <div class="tooltipped"  id="progress-box-mobile" data-position="bottom" data-delay="50" data-tooltip="Ваш прогресс: {{ lesson.course().progress() }}/100" style="height: 40px; padding: 10px 0 10px 0;">
                    <div class="progress" style="margin: 10px 0;">
                        <div class="determinate" style="width: {{ lesson.course().progress() }}%"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="z-depth-2 sidenav-header hide-on-large-only" style="background-color: #fff; margin-top: 200px; z-index: 889; height: auto; width: 100%; padding: 10px 10px 10px 20px;" id="mob-sub-header">
            <div style="height: auto; white-space: normal; display: inline-block; width: 100%; text-align: center; padding-top: 6px;" id="mob-sub-header-inner">
                {{ lesson.lesson_name }}
            </div>
        </div>

        <div data-collapsible="expandable" class="side-nav white collapsible hide-on-large-only" id="lessons-list-mobile" style="z-index: 890; overflow: visible; height: 100%; position: fixed;">

            <div style="position: fixed; left: -45px; z-index: 890;" id="open-lessons-list-mobile-div">
                <a class="btn-floating btn-large waves-effect waves-light blue tooltipped z-depth-5 hoverable"  href="#" data-activates="lessons-list-mobile" id="open-lessons-list-mobile"
                   style="width: 90px; height: 90px; line-height: 90px; padding-left: 16px;"
                   data-position="left"  data-delay="50" data-tooltip="Уроки"
                >
                    <i class="material-icons" style="text-align: left;">layers</i>
                </a>
            </div>


            <div id="nav-list-mobile" style="z-index: 900; background-color: #fff;">
                <ul style="margin: 0;">
                    {% for item in lessons %}
                        <li>
                            <a
                                    {% if lesson.id == item.id  %} id="this-lesson" {% endif %}
                                    {% if item.is_allowed() %}
                                        style="
                                                color: black;
                                                padding: 10px 10px;
                                                height: auto;
                                                line-height: 18px;
                                                font-weight: 300;
                                                {% if lesson.id == item.id  %}background-color: #ccc;{% endif %}"
                                        class="waves-effect open-lesson"
                                        data-item-id="{{ item.id }}"
                                    {% else %}
                                        style="
                                                color: #999;
                                                padding: 10px 10px;
                                                height: auto;
                                                line-height: 18px;
                                                font-weight: 300;
                                                {% if lesson.id == item.id  %}background-color: #ccc;{% endif %}"
                                        class="waves-effect tooltipped"
                                        data-position="top" id="disabled-lesson-mobile" data-delay="50" data-tooltip="Чтобы получить доступ,<br> успешно завершите тесты предыдущих уроков" data-lesson-id="{{ item.id }}"
                                    {% endif %}
                            >
                                <i class="material-icons" style="margin: 0; height: auto; line-height: 18px;
                                {% if (item.test_id == 0 or item.test_is_passed() == 1) and item.is_visited() == 1  %}
                                        color: #4caf50;
                                        text-shadow: 0 0 10px #4caf50, 0 0 1em #a5d6a7;
                                {% endif %}
                                ">layers</i>
                                {{item.lesson_name}}
                            </a>                        </li>
                        <hr style="margin: 0;">
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="z-depth-2 sidenav-header hide-on-large-only" style="background-color: #fff;  z-index: 0; height: auto; opacity: 0; position: relative">

            <div style="height: auto; white-space: normal;">
                {{ lesson.course().course_name }}
                <div style="height: 40px; padding: 10px 0 10px 0;">
                    <div class="progress" style="margin: 10px 0;">
                        <div class="determinate" style="width: 70%"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="z-depth-2 sidenav-header hide-on-large-only" style="background-color: #fff;  z-index: 0; height: auto; opacity: 0; position: relative" id="mob-sub-header">
            <div style="height: auto; white-space: normal; display: inline-block; width: 85%;" id="mob-sub-header-inner">
                {{ lesson.lesson_name }}
            </div>
        </div>


        <div class="row" style="margin: -10px 0 0 0;" id="content">
            <div style="height: 20px"></div>
            <div class="col s12 m12 l10 offset-l1 z-depth-3 white" style="padding: 0 30px 30px 30px; margin-top: 0; margin-bottom: 20px; min-height: 800px; ">

                <iframe id="lesson-content" scrolling="no" width="100%" style="min-height: 800px;" frameborder="0" allowfullscreen src="{{ url('/lesson-content')~'/'~course_id~'/'~lesson.id }}"></iframe>

            </div>
        </div>


    </div>



    <div data-collapsible="expandable" class="side-nav white collapsible" id="term-list-block" style="margin-top: 58px; z-index: 888; overflow: visible; height: 100%; position: fixed;">


        <div style="position: fixed; bottom: 0;  left: -45px; z-index: 886;" id="open-terms-list-div">
            <a class="btn-floating btn-large waves-effect waves-light blue tooltipped z-depth-5 hoverable"  href="#" data-activates="term-list-block" id="open-terms-list"
               style="width: 90px; height: 90px; line-height: 90px; padding-left: 16px;"
               data-position="left"  data-delay="50" data-tooltip="Глоссарий"
            >
                <i class="material-icons" style="text-align: left;">library_books</i>
            </a>
        </div>


        <div class="z-depth-2 sidenav-header" id="term-list-header" style="padding-right: 60px; padding-top: 0; padding-bottom: 10px; padding-left: 20px; z-index: 900;">
                <div class="input-field" style="overflow: hidden;">
                    <input id="search" type="search" name="search"  required style="padding-left: 2rem;">
                    <label class="label-icon" for="search" style="left: 0;"><i class="material-icons black-text" style="line-height: 28px;">search</i></label>
                </div>
        </div>

        <div id="term-list" style="height: calc(100% - 90px); background-color: #fff; z-index: 888;">
            <ul style="margin: 0;" class="collapsible" data-collapsible="accordion">
                {% for item in terms %}
                    <li>
                        <div class="collapsible-header"
                             style="
                                color: #101010;
                                padding: 10px 10px;
                                height: auto;
                                line-height: 18px;
                                font-weight: 300;
                        ">
                            <span class="term">{{ item.term }}</span>
                        </div>
                        <div class="collapsible-body"
                             style="
                                background-color: #fafafa;
                                color: #101010;
                                padding: 10px 10px;
                                height: auto;
                                line-height: 18px;
                                font-weight: 300;
                        ">
                            {{ item.definition }}
                        </div>
                    </li>
                    <hr style="margin: 0;">

                {% endfor %}
                <div style="height: 80px"></div>
            </ul>
        </div>
    </div>

    <div style="position: fixed; bottom: 0; right: -45px; z-index: 868;" id="go-chat-div">
        <a id="go-chat" data-position="left"  data-delay="50" data-tooltip="Написать преподавателю"
           class=" btn-floating btn-large waves-effect waves-light blue tooltipped z-depth-5 hoverable"
           style="width: 90px; height: 90px; line-height: 90px; padding-left: 16px;"
        ><i class="material-icons" style="text-align: left;">chat</i></a>
    </div>

    <div class="dialog-frame z-depth-3" id="dialog-frame">

        <div style="position: absolute; width: 100%; background-color: #fff; padding: 8px 16px; z-index: 888;" class="z-depth-1">{% if lesson.course().user().email == 'admin' %}<span class="admin-label">{{ lesson.course().user().email }}</span> {% endif %}{{ lesson.course().user().firstname~' '~lesson.course().user().lastname }}</div>
        <div class="close-frame noselect"><i class="material-icons">close</i></div>
        <div style="height: 100%; width: 100%; z-index: 901;">
            <iframe height="100%" width="100%" frameborder="0" allowfullscreen src="{{ url('/chat?embed=1&interlocutor=')~lesson.course().user_id }}"></iframe>


        </div>
    </div>

    <div style="position: fixed; top: 0; height: 100%; width: 100%; background-color: #EEE; z-index: 997;" id="overlay">
        <div class="center-align" style="position: absolute; width: 100%; top: 30%; margin: 0 auto;" id="loader">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="test-is-passed" class="modal" style="max-width: 600px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align green-text text-darken-3">Тест успешно пройден</h5>
            <h6 class="center-align">Теперь вы можете перейти к следующему уроку</h6>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a class="white-text modal-action modal-close waves-effect waves-light btn-flat blue">OK</a>
        </div>
    </div>

    <div id="test-is-failed" class="modal" style="max-width: 600px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align red-text text-darken-3">Тест не пройден</h5>
            <h6 class="center-align">Чтобы перейти к следующему уроку, нужно ответить правильно как минимум на 80% вопросов теста. Попробуйте пройти тест еще раз.</h6>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a class="white-text modal-action modal-close waves-effect waves-light btn-flat blue">OK</a>
        </div>
    </div>



    <script>
        $(document).ready(function(){

            $('#test-is-passed, #test-is-failed', parent.parent.document).modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
            });


            $('#lesson-content').on("load", function () {
                setTimeout(function () {

                    $("#lesson-content").css({
                        height: document.getElementById("lesson-content").contentWindow.$("html").outerHeight()
                    });

                    function onElementHeightChange(elm, callback){
                        var lastHeight = elm.clientHeight, newHeight;
                        (function run(){
                            newHeight = elm.clientHeight;
                            if( lastHeight != newHeight )
                                callback();
                            lastHeight = newHeight;

                            if( elm.onElementHeightChangeTimer )
                                clearTimeout(elm.onElementHeightChangeTimer);

                            elm.onElementHeightChangeTimer = setTimeout(run, 200);
                        })();
                    }


                    onElementHeightChange(document.getElementById("lesson-content").contentWindow.$("body")[0], function(){
                        setTimeout(function () {
                            $("#lesson-content").css({
                                height: document.getElementById("lesson-content").contentWindow.$("html").outerHeight()
                            });
                        }, 500)
                    });
                }, 500)
            });

            $(document).on('click', '.open-lesson', function () {

                document.getElementById("lesson-content").contentWindow.$("#overlay").fadeIn(200, function () {
                });

                $('#lesson-content').attr('src', '{{ url('/lesson-content')~'/'~course_id~'/' }}' + $(this).attr('data-item-id'));
                window.history.replaceState(null, 'Онлайн консультации', $(this).attr('data-item-id'));

                $('#nav-list-mobile').find('#this-lesson').css({'background-color': '#fff'});
                $('#nav-list-mobile').find('#this-lesson').removeAttr('id');

                $('#nav-list').find('#this-lesson').css({'background-color': '#fff'});
                $('#nav-list').find('#this-lesson').removeAttr('id');

                $('#nav-list-mobile').find('[data-item-id=' + $(this).attr('data-item-id') + ']').attr('id', 'this-lesson');
                $('#nav-list-mobile').find('[data-item-id=' + $(this).attr('data-item-id') + ']').css({'background-color': '#ccc'});

                $('#nav-list').find('[data-item-id=' + $(this).attr('data-item-id') + ']').attr('id', 'this-lesson');
                $('#nav-list').find('[data-item-id=' + $(this).attr('data-item-id') + ']').css({'background-color': '#ccc'});

                $('[id=mob-sub-header-inner]').html($(this)
                    .clone()
                    .children()
                    .remove()
                    .end()
                    .text());

                window.dispatchEvent(new Event('resize'));

                $('html, body').animate({
                    scrollTop: 0
                }, 0);

            });

            $('ul.tabs').tabs();
            // TAB Indicator/Underline Color
            $(".tabs>.indicator").css("display", 'none');
            $(".tabs>li>a").css("background-color", '#f0f0f0');

            $(".tabs>li").on('click', function (e) {
                $(".tabs>li").each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });



            $('.tooltipped').tooltip({delay: 50, html: true});

            $('#open-lessons-list').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: false, // Choose whether you can drag to open on touch screens
                onOpen: function(el) {
                    $('#sidenav-overlay').remove();
                    //$('#open-lessons-list').toggle();
                }
            });

            $('#open-lessons-list-mobile').sideNav({
                menuWidth: '300', // Default is 300
                edge: 'top', //
                closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: false, // Choose whether you can drag to open on touch screens
                onOpen: function(el) {
                    $('#sidenav-overlay').remove();
                    //$('#open-lessons-list').toggle();
                }
            });

            $('#open-terms-list').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'right', // Choose the horizontal origin
                closeOnClick: false, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: false, // Choose whether you can drag to open on touch screens
                onOpen: function(el) {
                    $('#sidenav-overlay').remove();
                    //$('#open-lessons-list').toggle();
                }
            });


            $('#open-terms-list, #open-lessons-list').on('click', function () {
                $(this).tooltip('close');
                $('#lessons-list-mobile').css({'z-index': 100});
                $('#go-chat').css({'z-index': 100});
            });

            $('#open-lessons-list-mobile').on('click', function () {
                $(this).tooltip('close');
                $('#lessons-list-mobile').css({'z-index': 890});
            });


            $('.tab').click(function(){
                if (!$(this).hasClass('selected')) {
                    $('video').each(function(){
                        $(this)[0].pause();
                    });
                    $('.tab').each(function () {
                       $(this).removeClass('selected');
                    });
                    $(this).addClass('selected');
                }
            });


            $('#go-chat').on('click', function() {

                $(this).tooltip('close');
                $('#go-chat').css({'z-index': 868});
                $('#lessons-list-mobile').css({'z-index': 100});

                if (!$(this).hasClass('opened')) {

                    $(this).addClass('opened');

                    $.ajax({
                        type: "POST",
                        url: "/chat",
                        data: {
                            "interlocutor": '{{ lesson.course().user_id }}',
                            '_token': '{{ _token }}'
                        },
                        success: function (result) {
                            if (result == 'ok') {
                                $('.dialog-frame').animate({
                                    right: 0,
                                },  { duration: 500, queue: false });
                                $('#go-chat-div').animate({
                                    right: '255px',
                                },  { duration: 500, queue: false });
                            }
                        }
                    });
                }
                else {
                    $(this).removeClass('opened');
                    $('.dialog-frame').animate({
                        right: '-300px',
                    },  { duration: 500, queue: false });
                    $('#go-chat-div').animate({
                        right: '-45px',
                    },  { duration: 500, queue: false });
                }
            });




            $(window).on('resize', function() {

                var offset = parseInt(window.getComputedStyle(document.getElementById("header")).height);
                $('#nav-list').css({'margin-top': offset, 'height': 'calc(100% - ' + parseInt(offset - 2) + 'px )'});

                var mob_offset = parseInt(window.getComputedStyle(document.getElementById("mob-header")).height);
                var mob_sub_offset = parseInt(window.getComputedStyle(document.getElementById("mob-sub-header")).height);
                var navbar_offset = parseInt(window.getComputedStyle(document.getElementById("layout-header")).height);
                if (isNaN(mob_offset)) mob_offset = 0;
                if (isNaN(mob_sub_offset)) mob_sub_offset = 0;
                if (isNaN(navbar_offset)) navbar_offset = 0;
                $('#mob-header').css({'margin-top': navbar_offset});
                $('#mob-sub-header').css({'margin-top': mob_offset + navbar_offset});
                $('#lessons-list-mobile').css({'margin-top': mob_offset + navbar_offset});
                $('#nav-list-mobile').css({'height': 'calc(100% - ' + parseInt(mob_offset) + 'px )'});
                if (mob_offset > 0) $('.dialog-frame').css({'height': 'calc(100% - ' + parseInt(mob_offset + mob_sub_offset + navbar_offset) + 'px )'});
                    else  $('.dialog-frame').css({'height': '70%'});
                $('#term-list-block').css({'margin-top': mob_offset + mob_sub_offset + navbar_offset});
                $('#term-list').css({'height': 'calc(100% - ' + parseInt(mob_offset + mob_sub_offset + 91) + 'px )'});

                $('#open-terms-list-div').css({'bottom': parseInt(window.getComputedStyle(document.body).height) / 2 + navbar_offset + mob_sub_offset + mob_offset - 100} );
                $('#go-chat-div').css({'bottom': parseInt(window.getComputedStyle(document.body).height) / 2 - 110 - 100 } );
                $('#open-lessons-list-mobile-div').css({'bottom': parseInt(window.getComputedStyle(document.body).height) / 2  + navbar_offset + mob_offset + 110 - 100} );
            });

            OverlayScrollbars(document.getElementById("nav-list"), {});
            OverlayScrollbars(document.getElementById("nav-list-mobile"), {});
            var termlist = OverlayScrollbars(document.getElementById("term-list"), {});

            setTimeout(function () {

                $('.dialog-frame').animate({
                    right: '-300px',
                },  { duration: 500, queue: false });
                $('#go-chat-div').animate({
                    right: '-45px',
                },  { duration: 500, queue: false });

                $("#loader").fadeOut(200, function () {
                    $('body').css({'width': '100%'});
                    $("#overlay").fadeOut(600);
                });
            }, 400);


            window.dispatchEvent(new Event('resize'));
            $('#open-lessons-list').sideNav('show');


            $('#' + $("#progress-box").attr('data-tooltip-id')).css({'margin-top': '-20px'});
            $('#' + $("#progress-box-mobile").attr('data-tooltip-id')).css({'margin-top': '-20px'});
            $("[id='disabled-lesson']").each(function () {
                $('#' + $(this).attr('data-tooltip-id')).css({'margin-left': '-40px'});
            });
            $("[id='disabled-lesson-mobile']").each(function () {
                $('#' + $(this).attr('data-tooltip-id')).css({'margin-top': '40px'});
            });
            $(".chatter_avatar_circle").each(function () {
                $('#' + $(this).attr('data-tooltip-id')).css({'margin-top': '20px'});
            });


            $("#search").on("keyup", function () {

                $('mark').contents().unwrap();
                var search = $(this).val();
                if (search != '') {
                    search = search.replace(/(\s+)/,"(<[^>]+>)*$1(<[^>]+>)*");
                    var pattern = new RegExp("(" + search + ")", "gi");

                    $('.term').each(function () {
                        var result = $(this).html();

                        result = result.replace(pattern, "<mark>$1</mark>");
                        result = result.replace(/(<mark>[^<>]*)((<[^>]+>)+)([^<>]*<\/mark>)/,"$1</mark>$2<mark>$4");

                        $(this).html(result);
                    });

                    if ($('mark') != 'undefined') {
                        termlist.scroll({ y : parseInt($('mark').position().top) + "px - 100px" }, 0);
                    }
                }

            });


        });



    </script>

{% endblock content %}
  

          