{% extends "layout/html.twig" %}
{% block content %}
    <style>
        td, th {
            border: #bbb solid 1px;
        }

        td {
            background-color: #fff;
        }

        th {
            background-color: #ddd;
        }

        .container {
            display: none;
        }

        .video-label {
            line-height: 50px;
        }

        .video-title {
            display: inline-block; width: calc(100% - 50px); margin: 3px; vertical-align: middle; line-height: normal;
        }

        .black-overlay {
            position: fixed;
            margin: auto auto;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:2001;
            -moz-opacity: 0;
            opacity:.60;
            filter: alpha(opacity=0);
            display: none;
        }

        .layout {
            box-shadow: 0px 0px 0px  rgba(0,0,0,0.5);
            display: none;
            width: 450px;
            height: auto;
            background:#FFFFFF;
            z-index:2002;
            position:fixed;
            top:50%;
            left:50%;
            margin-left:0px;
        }

    </style>


    <div class="container">

        <div style="text-align: center; margin: 20px auto 0 auto;">
            <h5>Уроки по курсу</h5>
        </div>

        <hr  style="width: 100%;  border: 0;
                  height: 1px;
                  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
                  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); " />



        {% if _user.role > 1 %}

            <div style="margin-bottom: 20px; margin-left: -10px; margin-top: 20px">
                <a href="{{ url('/courses/allcourses') }}" class="black-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
            </div>


            <div style="margin-bottom: 20px;">
                <a href="{{ url('/lessons/edit')~'/'~course.id~'/new' }}" class="white-text waves-effect waves-light btn blue">Добавить</a>
            </div>

            <table class="striped" style="margin: 20px 0;">

                <tr>
                    <th>Название урока</th>
                    <th>Название курса</th>
                    <th>Прикрепленные видео</th>
                    <th>Документы</th>
                    <th>Тест</th>
                    {% if _user.role > 1 %}
                        <th></th>
                    {% endif %}
                </tr>

                {% for lesson in lessons %}
                    <tr id="lesson-{{ lesson.id }}">
                        <td>{{lesson.lesson_name}}</td>
                        <td>{{lesson.course().course_name}}</td>
                        <td style="min-width: 400px;">
                            {% set videos = lesson.videos() %}
                            {% for video in videos %}
                                <div class="video-label">
                                    <a id="watch-video" onclick="expand('{{ url('storage/videos')~'/'~video.link }}', 'video', 856, 480, '{{ url('expand') }}', '{{ _token }}');" class="waves-effect waves-light btn blue tooltipped" data-position="top" data-tooltip="Посмотреть видео" style="vertical-align: middle; padding: 0; display: inline-block; margin: 8px 2px; width: 36px; font-size: 12px;">
                                        <i class="material-icons">play_circle_filled</i>
                                    </a>
                                    <span class="video-title">
                                        {{ video.name }}
                                    </span>
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% set files = lesson.files() %}
                            {% for file in files %}
                                <span class="label disabled-element-full-opacity">{{ file.name }}</span>
                            {% endfor %}
                        </td>
                        <td>
                            {{ lesson.test().title }}
                        </td>
                        {% if _user.role > 1 %}
                            <td id="actions" style="white-space: nowrap;">
                                <a href="{{ url('/lessons/edit')~'/'~course.id~'/'~lesson.id }}" title="{{ "Редактировать"|transl }}" class="white-text waves-effect waves-light btn btn-small blue" style="margin: 2px; height: 32px; line-height: 32px;"><i class="material-icons">edit</i></a>
                                <a id="delete" data-item-id="{{ lesson.id }}" data-item-test="{{ lesson.test_id }}" title="{{ "Удалить"|transl }}" class="waves-effect waves-light btn btn-small red white-text" style="margin: 2px; height: 32px; line-height: 32px;"><i class="material-icons" >delete</i></a>
                            </td>
                            {# <td>
                               <form action="{{ url('/lessons/delete')~'/'~lesson.id }}" method="post">
                                  <input name="_token" type="hidden" value="{{ _token }}">
                                  <button type="submit" class="btn btn-warning">Удалить</button>
                                </form>
                            </td>
                            <td>
                            <a class="waves-effect waves-light btn modal-trigger" href="#modal1" id='delete' data-item-id="{{ lesson.id }}" >Delete</a>

                            </td> #}
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>

            {{ lessons.links('users/paginator')|raw }}
        {% else %}
        
            <div  style="margin: 0 auto;">
                <div class="row">

                    {% for lesson in lessons %}

                        <div class="col s4">
                            <div class="card z-depth-5" style="width: 300px; height: 300px; margin: auto;">
                                <img class="materialboxed"  width="300" src="{{ asset('assets/images/31.jpg') }}">
                                <div style="margin-top: 15px; "><a href="{{ url('/lesson/')~'/'~lesson.id }}" class="blue-text waves-effect btn-small">{{lesson.lesson_name}}</a></div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        {% endif %}


    </div>

    <div id="modal1" class="modal" style="max-width: 570px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Вы уверены, что хотите удалить урок <span id="lesson-name" style="font-weight: bold"></span>?</h5>
            <h6 class="center-align">Удаление этого урока приведет к удалению всех привязанных к нему файлов и видео, а так же теста и результатов прохождения этого теста всех пользователей.</h6>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a data-item-id="" id="cancel-delete" class="left white-text modal-action modal-close waves-effect waves-light btn-flat blue-grey">Отмена</a>
            <a data-item-id="" data-item-test="" id="go-delete" class="right white-text modal-action modal-close waves-effect waves-light btn-flat red">Удалить</a>
        </div>
    </div>


    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box;">
            <a class="black-text modal-action modal-close waves-effect waves-red btn-flat">Ок</a>
        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="layout" class="layout" >
        <div id="contentbox" style="z-index: 900; position:relative; margin: 0px 0px; padding: 0px; background-color: #9c98a3;" class="z-depth-5">
        </div>
    </div>

    <div id="fade" class="black-overlay">
    </div>

    <script src="{{ asset('assets/js/expand.js') }}"></script>
    <script>

        $(document).ready(function(){

            $('#modal1').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
            });

            $("a[id='delete']").on('click', function () {

                $(this).parent().children('a').each(function () {
                    $(this).addClass('disabled-element');
                    $(this).addClass('was-disabled');
                });

                $("#go-delete").attr('data-item-id', $(this).attr('data-item-id'));
                $("#go-delete").attr('data-item-test', $(this).attr('data-item-test'));
                $("#lesson-name").html($("#lesson-" + $(this).attr('data-item-id')).children(":first").html());

                $('#modal1').modal('open');

            });

            $("#cancel-delete").on('click', function () {

                $(".was-disabled").each(function () {
                    $(this).removeClass('disabled-element');
                });

                $("#go-delete").attr("data-item-id", "");
                $("#go-delete").attr("data-item-test", "");
            });

            $("#go-delete").on('click', function () {

                var fd = new FormData;
                var lesson_id = $(this).attr('data-item-id');
                var test_id = $(this).attr('data-item-test');

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('lesson_id', lesson_id);
                fd.append('test_id', test_id);

                $.ajax({
                    type: "POST",
                    url: "/ajax/delete-test",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok' || result == 'Test not found') {

                            $.ajax({
                                type: "POST",
                                url: "/lessons-delete",
                                data: fd,
                                processData: false,
                                contentType: false,
                                success: function (result) {
                                    if (result.status == 'ok') {
                                        $("#lesson-" + lesson_id).fadeOut(400, function () {
                                            $("#lesson-" + lesson_id).remove();
                                        })
                                    }
                                    else {
                                        $('#modal2').modal('open');
                                    }
                                },
                                error:function (result) {
                                    $('#modal2').modal('open');
                                }
                            });

                            $("#test-" + test_id).fadeOut(400, function () {
                                $("#test-" + test_id).remove();
                            })
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });


            });


            $("#loader").fadeOut(400, function () {
                $(".container").fadeIn(400);
            });

            $(document).click(function(event) {
                close_layout();
            });

            function close_layout() {
                if ($("#content")) {
                    $("#content").trigger('pause');
                    $("#content").remove()
                }
                $("#layout").hide();
                $(".black-overlay").hide();
                $("#contentbox").css("top", 0);
                $("#contentbox").css("left", 0);
            }

        });
    </script>
{% endblock content %}
  

          