{% extends "test/embed.twig" %}
{% block content %}

    <script type="text/javascript" src="{{ asset('assets/js/jquery.resize.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('assets/css/lesson.css') }}"/>

    <style>
        .col {
            padding: 0 !important;
        }

        body, html {
            height: auto;
            min-height: 300px;
        }

    </style>
    <div class="row">
        <div class="col s12 m12 l12">
            {% if lesson.is_allowed() %}
                <div class="hide-on-med-and-down" style="text-align: left; margin: 20px auto 0 auto;">
                    <h5>{{ lesson.lesson_name }}</h5>
                    <hr class="hrfaded"/>
                </div>


                <div style="height: 20px"></div>

                <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width" style="padding: 0 20px;">
                    {% set videos = lesson.videos() %}
                    {% for video in videos %}
                        <li class="tab col s3 tooltipped {% if loop.index == 1 %}active selected{% endif %}" data-position="bottom" data-delay="50" data-tooltip="{{ video.name }}">
                            <a class="blue-grey-text text-darken-3"  href="#test-swipe-{{ loop.index }}" style="font-size: 0.8em; text-transform: none; padding: 0 8px;">{{ video.name }}</a>
                        </li>
                    {% endfor %}

                </ul>
                {% set videos = lesson.videos() %}
                {% for video in videos %}
                    <div id="test-swipe-{{ loop.index }}" class="video-container">
                        <video width="100%" controls controlsList="nodownload" oncontextmenu="return false;" id="video-player" src="{{ url('/storage/videos')~'/'~video.link }}">
                        </video>
                    </div>
                {% endfor %}


                <hr class="hrfaded" style="margin-bottom: 10px;"/>
                <div style="">
                    <a href="{{ url('/forums/category')~'/'~forum.slug }}" target="_blank" class="waves-effect waves-light btn blue"><i class="material-icons">forum</i> Посетить форум по курсу</a>
                </div>

                {% if last_messages|length > 0 %}
                    <div style="">
                        <h5 style="font-size: 1.1em;">Последние сообщения по теме на форуме</h5>
                    </div>

                    {% for item in last_messages %}
                        {% set item_user = item.user() %}
                        <a  href="{{ url('forums/discussion')~'/'~forum.slug~'/'~item.discussion().slug }}" target="_blank">
                            <div class="chatter_avatar truncate black-text messages" >
                                            <span class="chatter_avatar_circle tooltipped" style="background-color:{{ item_user['color'] }};" data-position="top" data-delay="50"
                                                  data-tooltip="
                                                        {% if item_user['info'].role == 3 %} <span class='admin-label' style='color: #fff;'>Admin</span> {% endif %}
                                                        {% if item_user['info'].role == 2 %} <span class='teacher-label' style='color: #fff;'>Преподаватель</span> {% endif %}
                                                        {{ item_user['info'].firstname }}
                                                        {% if item_user['info'].role == 2 %} {{ item_user['info'].lastname  }}{% endif %}" >
                                                {% if item_user['info'].role == 3 %} <span class='admin-label' style='color: #fff;'>A</span>{% endif %}{{ item_user['first_letter'] }}
                                            </span>
                                {{ item.body|striptags }}
                            </div>
                        </a>

                    {% endfor %}

                {% endif %}



                <hr class="hrfaded"/>



                {% set files = lesson.files() %}
                {% if files|length > 0 %}
                    <div style="margin-top: 35px;">
                        <h5>Дополнительные материалы</h5>
                    </div>

                    {% for file in files %}
                        <div style="margin-bottom: 10px;"><a href="{{ url('/storage/documents')~'/'~file.path~'/'~file.name }}" class="waves-effect waves-light btn blue white-text">{{ file.name }}</a></div>
                    {% endfor %}
                {% endif %}


                {% if lesson.test() != null %}
                    <div style="height: 10px;"></div>
                    <div style="margin-top: 35px;">
                        <h5>Тестирование</h5>
                    </div>

                    <div  style="margin-bottom: 30px;">
                        <iframe id="ifr" scrolling="no" width="100%" frameborder="0" allowfullscreen src="{{ url('/test/preview')~'/'~lesson.test_id~'?embed=1' }}"></iframe>
                    </div>
                {% endif %}

            {% else %}
                <div style="text-align: left; margin: 20px auto 0 auto;">
                    <h5>Чтобы получить доступ, успешно завершите тесты предыдущих уроков</h5>
                    <hr class="hrfaded"/>
                </div>
            {% endif %}
        </div>
    </div>

    <div style="position: fixed; top: 0; height: 100%; width: 100%; background-color: #fff; z-index: 997;" id="overlay">
        <div class="wrapper" id="loader">
            <div class="hide-on-med-and-down">
                <div class="skeleton-loader-title skeleton-loader-title--tabs"></div>
                <hr class="hrfaded" style="opacity: 0.5;"/>
            </div>


            <div class="skeleton-loader-video-container  skeleton-loader-video-container-title--tabs">
            </div>
            <hr class="hrfaded" style="opacity: 0.5;"/>
            <div class="skeleton-button skeleton-button--tabs"></div>
            <div class="skeleton-line skeleton-line--tabs"></div>
            <div class="skeleton-line skeleton-line--tabs"></div>
            <div class="skeleton-line skeleton-line--tabs"></div>


        </div>
    </div>

{% endblock content %}

{% block init_scripts %}

    <script>
        $(document).ready(function(){

            $('#ifr').on("load", function () {
                setTimeout(function () {

                    $("#ifr").css({
                        height: document.getElementById("ifr").contentWindow.$("html").outerHeight()
                    });

                    function onElementHeightChange(elm, callback){
                        var lastHeight = elm.clientHeight, newHeight;
                        (function run(){
                            newHeight = elm.clientHeight;
                            if( lastHeight != newHeight )
                                callback();
                            lastHeight = newHeight;

                            if( elm.onElementHeightChangeTimer )
                                clearTimeout(elm.onElementHeightChangeTimer);

                            elm.onElementHeightChangeTimer = setTimeout(run, 200);
                        })();
                    }


                    onElementHeightChange(document.getElementById("ifr").contentWindow.$("body")[0], function(){
                        setTimeout(function () {
                            $("#ifr").css({
                                height: document.getElementById("ifr").contentWindow.$("html").outerHeight()
                            });
                        }, 500)
                    });
                }, 500)
            });

            $('ul.tabs').tabs();
            // TAB Indicator/Underline Color
            $(".tabs>.indicator").css("display", 'none');
            $(".tabs>li>a").css("background-color", '#f0f0f0');

            $(".tabs>li").on('click', function (e) {
                $(".tabs>li").each(function () {
                    $(this).removeClass('active');
                });
                $(this).addClass('active');
            });



            $('.tooltipped').tooltip({delay: 50, html: true});


            $('.tab').click(function(){
                if (!$(this).hasClass('selected')) {
                    $('video').each(function(){
                        $(this)[0].pause();
                    });
                    $('.tab').each(function () {
                        $(this).removeClass('selected');
                    });
                    $(this).addClass('selected');
                }
            });


            setTimeout(function () {
                $("#loader").fadeOut(200, function () {
                    $('body').css({'width': '100%'});
                    $("#overlay").fadeOut(600);
                });
            }, 400);


            window.dispatchEvent(new Event('resize'));

            $(".chatter_avatar_circle").each(function () {
                $('#' + $(this).attr('data-tooltip-id')).css({'margin-top': '20px'});
            });

            {% if lesson.is_allowed() and lesson.is_visited() == 0 %}
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: "/lesson-visit",
                        data: {
                            'user': '{{ _user.id }}',
                            'lesson': '{{ lesson.id }}',
                            '_token': '{{ _token }}'
                        },
                        success: function (result) {
                            if (result.status == 'ok') {
                                $("#progress-box", parent.document).find('.determinate').css({'width': result.progress + '%' });
                                $("#progress-box-mobile", parent.document).find('.determinate').css({'width': result.progress + '%' });

                                $('#' + $("#progress-box", parent.document).attr('data-tooltip-id'), parent.document).find('span').html('Ваш прогресс: ' + result.progress + '/100');
                                $('#' + $("#progress-box-mobile", parent.document).attr('data-tooltip-id'), parent.document).find('span').html('Ваш прогресс: ' + result.progress + '/100');

                                {% if lesson.test_id == 0 or lesson.test_is_passed() %}
                                $("[id='this-lesson']", parent.document).find('.material-icons').css({
                                    'transition': 'all 0.7s',
                                    'color': '#4caf50',
                                    'text-shadow': '0 0 10px #4caf50, 0 0 1em #a5d6a7'
                                });
                                {% endif %}
                            }
                        }
                    });
                }, 2000);
            {% endif %}

        });



    </script>

{% endblock init_scripts %}