<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ _metadata.title }}</title>

        <link rel="shortcut icon"  type="image/png"  href="{{ asset('assets/images/favicon-04.png') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/icon.css') }}" >

        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/materialize.min.js') }}"></script>
        <script src="{{ asset('assets/js/socket.io.js') }}"></script>

    </head>
    <body>
        <section>
            {% block content %}
            {% endblock content %}
        </section>

        <script>
            {% if _user %}
                var socket = io.connect('https://devtest.psu.kz:8443');
                socket.emit('_join', '{{ room }}');
            {% endif %}
        </script>

        {% block init_scripts %}
        {% endblock init_scripts %}

    </body>
</html>
