{% extends embed == null ? "layout/html.twig" : "chat/embed.twig" %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('assets/css/chat.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/css/OverlayScrollbars.min.css') }}"/>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.overlayScrollbars.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/jquery.resize.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/linkify.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/linkify-jquery.min.js') }}"></script>


    <div class="row" style="display: none; margin: -10px 0 0 0;" id="content">

        {% if embed == null %}

        <div class="col s12 m12 l12 hide-on-med-and-up" style="padding: 0; position: fixed; top: 56px; z-index:200;">
            <div style="padding: 20px; background: #fff; height: 60px;" class="z-depth-1" id="mobile-interlocutor-name">
                {% if interlocutor_info.email == 'admin' %}<span class="admin-label">{{ interlocutor_info.email }}</span> {% endif %}{{ interlocutor_info.firstname }} {{ interlocutor_info.lastname }}
            </div>
        </div>


        <div class="col s4 m4 l2 dlist hide-on-small-and-down" id="dlist">
            {#
                    <div class="waves-effect interlocutor {% if _user.id == interlocutor %}active{% endif %}" data-item-id="{{ _user.id }}" id="interlocutor">
                        <div  class="dialog-badge-parent">
                            <span class="dialog-badge" style="{% if _user.unreadMessagesCount(_user.id) == 0 %}display: none;{% endif %}" id="badge_{{ _user.id }}">{{ _user.unreadMessagesCount(_user.id) }}</span>                                
                        </div>
                        <div class="dialog-title" id="title_{{ _user.id }}">{% if _user.email == 'admin' %}<span class="admin-label">{{ _user.email }}</span> {% endif %}Избранное</div>
                    </div>
            #}    


            {% for user in users %}
                {% if user.id != _user.id %}
                    <div class="waves-effect interlocutor {% if user.id == interlocutor %}active{% endif %}" data-item-id="{{ user.id }}" id="interlocutor">
                        <div  class="dialog-badge-parent">
                            <span class="dialog-badge" style="{% if user.unreadMessagesCount(user.id) == 0 %}display: none;{% endif %}" id="badge_{{ user.id }}">{{ user.unreadMessagesCount(user.id) }}</span>                                
                        </div>
                        <div class="dialog-title" id="title_{{ user.id }}">{% if user.email == 'admin' %}<span class="admin-label">{{ user.email }}</span> {% endif %}{{ user.firstname }} {{ user.lastname }}</div>
                        
                    </div>

                {% endif %}
            {% endfor %} 


        </div>

        <ul class="side-nav" id="dialogs-list" style="z-index: 995;">
            <div style="height: 56px"></div>
            {% for user in users %}
                <div class="waves-effect interlocutor {% if user.id == interlocutor %}active" data-mobile-anchor="this{% endif %}" data-item-id="{{ user.id }}" id="interlocutor">
                    <div  class="dialog-badge-parent">
                        <span class="dialog-badge" style="{% if user.unreadMessagesCount(user.id) == 0 %}display: none;{% endif %}" id="badge_{{ user.id }}">{{ user.unreadMessagesCount(user.id) }}</span>                                
                    </div>
                    <div class="dialog-title" id="title_{{ user.id }}">{% if user.email == 'admin' %}<span class="admin-label">{{ user.email }}</span> {% endif %}{{ user.firstname }} {{ user.lastname }}</div>
                    
                </div>

            {% endfor %}      

        </ul>

        {% endif %}

        <div class="col s12 m8 l10 offset-m4 offset-l2 welcome" style="{% if interlocutor != null %}display: none;{% endif %}">
            {% if interlocutor == null %}
                <div class="label no-select hide-on-med-and-up" style="cursor: pointer;" id="mobile-welcome">Выберите собеседника, чтобы начать диалог</div>
                <div class="label no-select hide-on-small-only">Выберите собеседника, чтобы начать диалог</div>
            {% endif %}
        </div>

        <div class="col s12 m8 l10 offset-m4 offset-l2 overlay" style="display: none;">
        </div>


        <div class="col s12 m8 l10 offset-m4 offset-l2" style="padding: 0; position: fixed; bottom: 1px; ">
            <input type="hidden" id="oldest_message" value="{{ oldest_message.code }}">
            <input type="hidden" id="is_loading" value="0">
            <input type="hidden" id="timestamp" value="0">
            <input type="hidden" id="messages_count" value="{{ chat|length }}">
            <div id="messages" >
                {% for message in chat|reverse %}
                    {% if message.from == _user.id %}
                        <div style='text-align: right;'>
                            <div class='own-msg z-depth-1' data-message-id='{{ message.code }}' id='old-msg'>{{ message.message }}<div class='message-date' id='date' data-type='own'>{{ message.created_at }}</div></div>
                        </div>                        
                    {% elseif message.to == _user.id %}
                        <div style='text-align: left;'>
                            <div class='another-msg z-depth-1' data-message-id='{{ message.code }}' id='old-msg'>{{ message.message }}<div class='message-date' id='date' data-type='another'>{{ message.created_at }}</div></div>
                        </div>                        
                    {% endif %}                    
                {% endfor %}
            </div>

            <form action="sendmessage" method="POST">
                <input type="hidden" name="_token" value="{{ csrf_token() }}" >
                <input type="hidden" name="interlocutor" value="{{ interlocutor }}" >
                <div class="input-field" id="message-field">
                    <i class="postfix material-icons material-icons-default send-icon no-select" id="send" style="font-size: 25px !important;">send</i>
                    <textarea id="msg" type="text" class="materialize-textarea chat-field" style="height: 20px; overflow-y: auto;" placeholder="Написать сообщение..."></textarea>
                    <label for="msg" ></label>
                </div>                
            </form>
        </div>
    </div>


    <div class="center-align" style="min-width: 60vw; margin: {% if embed == null %}5%{% else %}40%{% endif %} 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block init_scripts %}


    <script>

        var chat;
        {% if embed == null %} var dlist; {% endif %}
        var count = [];

        $(window).on('load', function (e) {

            {% if interlocutor == null %}
                $("#msg").attr('disabled', true);
                $("#message-field").fadeOut(0);
            {% else %}
                $("[id='date']").each(function() {
                    if ($(this).attr('data-type') == 'own') $(this).html(moment.utc($(this).html()).local().format("DD.MM.YYYY HH:mm"));
                    else $(this).html(moment.utc($(this).html()).local().format("DD.MM.YYYY HH:mm"));
                });
            {% endif %}

            $('#mobile-dialogs-button').sideNav({
                onOpen: function (el) {
                    $('[id="sidenav-overlay"]').css({'z-index': 994});
                    $('[class="drag-target"]').css({'z-index': 995});
                }
            });

            $('#msg').trigger('autoresize');

            {% if embed == null %}
            var offset = 64;
            if ($(window).width() <= 600) offset = 118; else offset = 64;
            {% else %}
            var offset = 38;
            {% endif %}

            {% if embed == null %} $('#dlist').css('height', $(window).height() - offset); {% endif %}
            $('#messages').css('max-height', $(window).height() - $("#message-field").height() - offset);
            $('#msg').css('max-height', ($(window).height() - 84) / 2);

            $(window).on('resize', function() {

                {% if embed == null %}
                if ($(window).width() <= 600) offset = 118; else offset = 64;
                {% else %}
                var offset = 38;
                {% endif %}

                {% if embed == null %} $('#dlist').css('height', $(window).height() - offset); {% endif %}

                $('#messages').css('max-height', $(window).height() - $("#message-field").height() - offset);
                $('#msg').css('max-height', ($(window).height() - 84) / 2);
                if (chat != undefined && chat.scroll().ratio.y > 0.90 ) { chat.scrollStop(); chat.scroll({ y : "100%" }, 100); }
            })

            $("#message-field").resize(function() {

                {% if embed == null %}
                if ($(window).width() <= 600) offset = 118; else offset = 64;
                {% else %}
                var offset = 38;
                {% endif %}


                $('#messages').css('max-height', $(window).height() - $("#message-field").height() - offset);
                if (chat.scroll().ratio.y > 0.90 ) { chat.scrollStop(); chat.scroll({ y : "100%" }, 100); }
            });

            {% if embed == null %} dlist = OverlayScrollbars(document.getElementById("dlist"), { }); {% endif %}
            chat = OverlayScrollbars(document.getElementById("messages"), { 
                overflowBehavior : {
                    x : "hidden",
                    y : "scroll"
                },                
                callbacks : {
                    onScroll : function(e) {

                        e.stopPropagation();

                        var barrier = Math.min(30 / parseInt($('#messages_count').val()), 0.3);
                        if (chat.scroll().ratio.y <= barrier) takeold(e, $('#timestamp').val(), $('#mobile-interlocutor-name').html());

                    }
                }
            });
            
            $('#messages').linkify({ target: "_blank"});

            $("#loader").fadeOut(400, function () {
                setTimeout(function() {
                    chat.scroll({ y : "100%" }, 0);
                    {% if embed == null %} if ($(".interlocutor.active").offset() != undefined) dlist.scroll({ y : $(".interlocutor.active").offset().top + "px - 200px" }, 0); {% endif %}

                }, 100);
                $("#content").fadeIn(400, function() {
                    chat.scroll({ y : "100%" }, 0);
                });
            });
        });

        socket.on('_message', function (message, from, created_at, code, sender_name) {
            if (from != {{ _user.id }}) {
                if (from == $("input[name='interlocutor']").val()) {

                    $( "#messages" ).find(".os-content").append( 
                        "<div style='text-align: left;'><div class='another-msg z-depth-1' data-message-id='" + code.replace(/</g, "&lt;").replace(/>/g, "&gt;") + "' >" + message.replace(/</g, "&lt;").replace(/>/g, "&gt;") + "<div class='message-date' id='date' data-type='another'>" + moment.utc(created_at.replace(/</g, "&lt;").replace(/>/g, "&gt;")).local().format("DD.MM.YYYY HH:mm") + "</div></div></div>" 
                    );
                    
                    $('#messages').linkify({ target: "_blank"});

                    chat.scroll({ y : "100%" }, 300);    

                    var token = $("input[name='_token']").val();
                    var interlocutor = $("input[name='interlocutor']").val();  
                    
                    $.ajax({
                        type: "POST",
                        url: '/setread',
                        data: {
                            '_token': token,
                            'interlocutor': interlocutor
                        }
                    });
                }
                {% if embed == null %}
                else {

                    if ($( "#badge_" + from ).length == 0) {


                        $('#dlist').find(".os-content").prepend( ''+

                            '<div class="waves-effect interlocutor" data-item-id="' + from + '" id="interlocutor">' +
                                '<div  class="dialog-badge-parent">' +
                                    '<span class="dialog-badge" style="display: none;" id="badge_' + from + '">0</span>' +                                
                                '</div>' +
                                '<div class="dialog-title" id="title_' + from + '">' + sender_name +'</div>' +                        
                            '</div>'

                        );

                        $('#dialogs-list').prepend( ''+

                            '<div class="waves-effect interlocutor" data-item-id="' + from + '" id="interlocutor">' +
                                '<div  class="dialog-badge-parent">' +
                                    '<span class="dialog-badge" style="display: none;" id="badge_' + from + '">0</span>' +
                                '</div>' +
                                '<div class="dialog-title" id="title_' + from + '">' + sender_name +'</div>' +
                            '</div>'

                        );

                        $("[id='interlocutor']").on('click', function(e) {
                            goto_dialogue($(this), e);                            
                        });

                    }

                    count[from] = $( "#badge_" + from ).html();
                    if (count[from] == '') count[from] = 0;
                    var value = parseInt(count[from]) + 1;
                    if (value > 99) value = '99+';
                    $("[id=title_" + from + "]").css('margin-right', 14);
                    $("[id=badge_" + from + "]").html(value);
                    $("[id=badge_" + from + "]").fadeIn(600); 

                    count[0] = $( ".message-badge" ).html();
                    if (count[0] == '') count[0] = 0;
                    var value = parseInt(count[0]) + 1;
                    if (value > 99) value = '99+';
                    $(".message-badge").html(value);
                    $(".message-badge").fadeIn(600);                
                }
                {% endif %}
            }
        });

        $('#messages').bind('wheel mousewheel', function (e) {

            e.stopPropagation();

            var delta;

            if (e.originalEvent.wheelDelta !== undefined)
                delta = e.originalEvent.wheelDelta;
            else
                delta = e.originalEvent.deltaY * -1;

            if (delta > 0) {
                var barrier = Math.min(30 / parseInt($('#messages_count').val()), 0.3);
                if ( chat.scroll().ratio.y <= barrier ) takeold(e, $('#timestamp').val(), $('#mobile-interlocutor-name').html());
            }

        });


        $("#send").click(function(e){
            send(e);    
        });

        $('#msg').on('keydown', function (e) {

            if (e.ctrlKey && e.keyCode == 13) {
                var val = this.value;
                if (typeof this.selectionStart == "number" && typeof this.selectionEnd == "number") {
                    var start = this.selectionStart;
                    this.value = val.slice(0, start) + "\n" + val.slice(this.selectionEnd);
                    this.selectionStart = this.selectionEnd = start + 1;
                    this.blur()
                    this.focus()

                } else if (document.selection && document.selection.createRange) {
                    this.focus();
                    var range = document.selection.createRange();
                    range.text = "\r\n";
                    range.collapse(false);
                    range.select();
                }
            }

            if (!e.ctrlKey && e.keyCode == 13) {
                send(e);
            }
        });

        $("[id='interlocutor']").on('click', function(e) {
            goto_dialogue($(this), e);
        });

        $("#mobile-dialogs-button").on('click', function() {
            if ($("[data-mobile-anchor='this']").length > 0) {
                $("[data-mobile-anchor='this']")[0].scrollIntoView();
                el = $("[data-mobile-anchor='this']")[0];
                var re=/html$/i;
                while(!re.test(el.tagName) && (1 > el.scrollTop)) el=el.parentNode;
                if (0 < el.scrollTop) el.scrollTop += -180;
            }
        });

        $('#mobile-welcome').on('click', function () {
            $('#mobile-dialogs-button').sideNav('show');
        });

        function send(e){
            e.preventDefault();
            var token = $("input[name='_token']").val();
            var interlocutor = $("input[name='interlocutor']").val();
            var msg = $("#msg").val();
            var message_id = makeid() + Date.now();
            if(msg != '') {

                $("#msg").attr('disabled', true);
                $.ajax({
                    type: "POST",
                    url: '/sendmessage',
                    data: {
                        '_token': token,
                        'message': msg,
                        'interlocutor': interlocutor,
                        'message_id': message_id
                    },
                    success: function(result) {
                        if (result.status == 'ok') {

                            $("[id='own-msg']").each(function() {
                                if ($(this).attr('data-message-id') == result.message_id) {
                                    $(this).find('#date').html(moment.utc(result.created_at.date).local().format("DD.MM.YYYY HH:mm"));
                                }
                            });
                        }
                    }  
                });       
                $("#msg").val('');                     
                $("#msg").attr('disabled', false);
                $("#msg").focus();
                $('#msg').trigger('autoresize');
                $("#messages").find(".os-content").append( 
                    "<div style='text-align: right;'><div class='own-msg z-depth-1' data-message-id='" + message_id + "' id='own-msg'>" + msg.replace(/</g, "&lt;").replace(/>/g, "&gt;") + "<div class='message-date' id='date'> </div></div></div>" 
                );       

                $('#messages').linkify({ target: "_blank"});

                chat.scroll({ y : "100%" }, 300);
            }            
        }


        function takeold(e, timestamp, iname) {

            e.stopPropagation();


            if ($('#is_loading').val() == 0) {

                $('#is_loading').val(1);

                var token = $("input[name='_token']").val();
                var interlocutor = $("input[name='interlocutor']").val();  
                
                $.ajax({
                    type: "POST",
                    url: '/takeold',
                    data: {
                        '_token': token,
                        'interlocutor': interlocutor,
                        'oldest_message': $('#oldest_message').val(),
                        'timestamp': timestamp
                    },
                    success: function(result) {

                        if (result.chat != null && result.chat.length > 0) {  


                            var oldest_message = 0;
                            if ($('#oldest_message').val() != '') {
                                oldest_message = $("[data-message-id='" + $('#oldest_message').val() + "']");                               
                            }
                            else {
                                $("#messages").find(".os-content").html('');
                            }

                            var current_position = chat.scroll().position.y;

                            var messages_count = 0;

                            for (key in result.chat) {

                                messages_count++;

                                if (result.timestamp == $('#timestamp').val()) {
                                    if (result.chat[key].from == '{{ _user.id }}') {
                                        $("#messages").find(".os-content").prepend( 
                                            "<div style='text-align: right;'><div class='own-msg z-depth-1' data-message-id='" + result.chat[key].code + "' id='own-msg'>" + result.chat[key].message.replace(/</g, "&lt;").replace(/>/g, "&gt;") + "<div class='message-date' id='date'>" + moment.utc(result.chat[key].created_at).local().format("DD.MM.YYYY HH:mm") + "</div></div></div>" 
                                        );                              

                                        if (oldest_message == 0) {
                                            chat.scroll({ y : "100%" }, 0);
                                        }
                                        else {
                                            if (current_position > 0 ) chat.scroll({ y : current_position  }, 0);
                                            else chat.scroll({ el : oldest_message, margin : 80 });                                        
                                        }
                                    }
                                    else if (result.chat[key].to == '{{ _user.id }}') {
                                        $("#messages").find(".os-content").prepend( 
                                            "<div style='text-align: left;'><div class='another-msg z-depth-1' data-message-id='" + result.chat[key].code + "' id='own-msg'>" + result.chat[key].message.replace(/</g, "&lt;").replace(/>/g, "&gt;") + "<div class='message-date' id='date'>" + moment.utc(result.chat[key].created_at).local().format("DD.MM.YYYY HH:mm") + "</div></div></div>" 
                                        );  

                                        if (oldest_message == 0) {
                                            chat.scroll({ y : "100%" }, 0);
                                        }
                                        else {
                                            if (current_position > 0 ) chat.scroll({ y : current_position  }, 0);
                                            else chat.scroll({ el : oldest_message, margin : 80 });                                        
                                        }
                                    }                                    
                                }

                            }

                            if (oldest_message == 0) {
                                chat.scroll({ y : "100%" }, 0);
                            }

                            $('#messages_count').val(parseInt($('#messages_count').val()) + messages_count);

                            $('#oldest_message').val(result.chat[key].code);
                            
                            setTimeout(function() {
                                $('#is_loading').val(0);
                            }, 500); 

                            $('#messages').linkify({ target: "_blank"});
                       
                        }
                        else {
                            if ($('#oldest_message').val() == '') {
                                $("#messages").find(".os-content").html('');
                                chat.scroll({ y : "100%" }, 0);
                                $('#messages_count').val(0);
                                setTimeout(function() {
                                    $('#is_loading').val(0);
                                }, 500); 
                            }                            
                        }

                        if (result.unread > 0) {
                            $(".message-badge").html(result.unread);
                            $(".message-badge").fadeIn(600);                             
                        }
                        else {
                            $(".message-badge").fadeOut(600, function() {
                                $(".message-badge").html('');
                            });                              
                        }

                        $("#mobile-interlocutor-name").html(iname);
                        if ($("#mobile-dialogs-button").css('display') != 'none') {
                            $("#mobile-dialogs-button").sideNav('show');
                            $("#mobile-dialogs-button").sideNav('hide');
                        }
                        $(".overlay").fadeOut(400);
                    }  
                });            

            }
        }

        function makeid() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        function setCookie(name, value, days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + (value || "")  + expires + "; path=/";
        }

        function goto_dialogue(elem, e) {
            if ($("input[name='interlocutor']").val() != elem.attr('data-item-id')) {
                e.stopPropagation();
                $(".welcome").fadeOut(300);
                $("[id='interlocutor']").each(function() {
                    $(this).removeClass('active');
                });
                elem.addClass('active');
                $("input[name='interlocutor']").val(elem.attr('data-item-id'));
                $("input[id='oldest_message']").val('');
                setCookie('interlocutor', elem.attr('data-item-id'), 60);
                $("#msg").attr('disabled', false);
                $("#message-field").fadeIn(300);
                $(".overlay").fadeIn(400);
                $('#is_loading').val(0);
                $('#timestamp').val(Date.now());       
                $('#messages_count').val(0);
                $("[id=badge_" + elem.attr('data-item-id') + "]").html('');
                $("[id=badge_" + elem.attr('data-item-id') + "]").fadeOut(200);                                          
                takeold(e, $('#timestamp').val(), elem.find('.dialog-title').html());                
            }
        }

    </script>
{% endblock init_scripts %}