{% extends "layout/html.twig" %}
{% block content %}

    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            {% if ((_user.role == 2 or _user.role == 3) and user.id != _user.id) %}
                <div style="margin-top: 20px; margin-bottom: 20px;">
                    <a href="{{ url('/courses/mystudents/')}}">Назад к списку студентов</a>
                </div>
            {% endif %}

            <h5>
                {{ user.firstname }} {{ user.lastname }}
            </h5>
            

            <div class="divider" style="margin-bottom: 15px;"></div>

            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col" >
                    <a class="blue-grey-text text-darken-3 active"  href="#tab-1">Прогресс по курсам</a>
                </li>
                <li class="tab col" >
                    <a class="blue-grey-text text-darken-3"  href="#tab-2">Пройденные тесты</a>
                </li>
            </ul>

            <div id="tab-1">
                <ul class="collapsible" data-collapsible="expandable">
                    {% for course in courses %}
                        <li>
                            <div class="collapsible-header">
                                <span style="margin-top: 8px;">{{course.course_name}}</span>
                                <div class="tooltipped" id="progress-box" data-position="bottom" data-delay="50" data-tooltip="Ваш прогресс: {{ course.progress(user.id) }}/100" style="height: 40px; padding: 10px 0 0 0; z-index: 990; margin-left: auto; margin-right: 0;">
                                    <div class="progress" style="margin: 10px 0; width: 150px; height: 10px;">
                                        <div class="determinate" style="width: {{ course.progress(user.id) }}% "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="collapsible-body" style="padding: 10px;">
                                <ul class="collapsible" data-collapsible="expandable" >
                                    {% set lessons =  course.lessons() %}
                                    {% for lesson in lessons %}
                                        <li>
                                            <div class="collapsible-header">
                                                <i class="material-icons" style="margin: 0; height: auto; line-height: 18px;
                                                {% if (lesson.test_id == 0 or lesson.test_is_passed(user.id) == 1) and lesson.is_visited(user.id) == 1  %}
                                                        color: #4caf50;
                                                        text-shadow: 0 0 10px #4caf50, 0 0 1em #a5d6a7;
                                                {% endif %}
                                                        ">
                                                    layers
                                                </i>
                                                {{lesson.lesson_name}}
                                            </div>
                                            {% set this_attempts =  lesson.test().attempts(user.id) %}
                                            {% if this_attempts|length > 0  %}
                                                <div class="collapsible-body" >
                                                    {% for attempt in this_attempts %}
                                                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Начало" }}</span>{{ attempt.created_at|date("d.m.Y h:i:s", "Asia/Almaty") }}</span>
                                                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Окончание" }}</span>{{ attempt.updated_at|date("d.m.Y h:i:s", "Asia/Almaty") }}</span>
                                                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Результат" }}</span><span class="green-text text-lighten-2" style="font-weight: bold">{{ attempt.correct_amount }}</span><span class="grey-text text-lighten-4">/{{ lesson.test().questions }}</span></span>
                                                        <a href="{{ url('/test/result/')~'/'~attempt.test_id~'/'~attempt.id }}" style="margin-top: 2px;" class="btn white-text blue waves-effect waves-light " target="_blank">Подробнее</a>
                                                        {% if loop.index < attempts|length %}<div class="divider" style="margin: 5px 0;"></div>{% endif %}
                                                        <br> <br>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                            </div>

                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="tab-2">
                {% if attempts|length == 0 %}
                    <div class="card-panel black-text white">
                        Еще не пройдено ни одного теста.
                    </div>
                {% else %}
                    <ul class="collapsible" data-collapsible="accordion">
                        {% for item in attempts %}
                            <li>
                                <div class="collapsible-header">
                                    <span style="margin-top: 8px;">{{ item[0].title }}</span>
                                    <span style="margin-top: 2px; margin-left: auto; height: 35px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Лучший результат" }}</span><span class="green-text text-lighten-2" style="font-weight: bold">{{ best[item[0].test_id] }}</span><span class="grey-text text-lighten-4">/{{ item[0].questions }}</span></span>

                                </div>
                                <div class="collapsible-body">
                                    {% for attempt in item %}
                                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Начало" }}</span>{{ attempt.created_at|date("d.m.Y h:i:s", "Asia/Almaty") }}</span>
                                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Окончание" }}</span>{{ attempt.updated_at|date("d.m.Y h:i:s", "Asia/Almaty") }}</span>
                                        <span style="margin-top: 2px;" class="total blue-grey white-text"><span class="total-label white-text">{{ "Результат" }}</span><span class="green-text text-lighten-2" style="font-weight: bold">{{ attempt.correct_amount }}</span><span class="grey-text text-lighten-4">/{{ attempt.questions }}</span></span>
                                        <a href="{{ url('/test/result/')~'/'~attempt.test_id~'/'~attempt.id }}" style="margin-top: 2px;" class="btn white-text blue waves-effect waves-light " target="_blank">Подробнее</a>
                                        {% if loop.index < item|length %}<div class="divider" style="margin: 5px 0;"></div>{% endif %}
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {

            $('.tabs').tabs();

            // TAB Color

            $(".tabs" ).css("background-color",  '#f0f0f0');
            $(".tabs" ).css("background-color",  '#f0f0f0');

            // TAB Indicator/Underline Color
            $(".tabs>.indicator").css("background-color", '#2196F3');

            // TAB Text Color
            $(".tabs>li>a").css("color", '#ff8f00');
            $(".tabs>li>a").css("font-size", '24px');
            $(".tabs>li>a").css("text-transform", 'none');


            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400, function () {
                    window.dispatchEvent(new Event('resize'));
                });
            });

            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, {
              accordion: false
            });
        

            $('.tooltipped').tooltip({delay: 50, html: true});          

    });
    </script>
{% endblock init_scripts %}