{% extends "layout/html.twig" %}
  {% block content %}

<style>
    .row-link {
        transition: all 0.5s ease;
    }

    .row-link:hover {
        background: #ddd !important;
        cursor: pointer; 
    }
</style>
 {% if _user.role > 1 %}
      <div class="container">
       <table class="striped">
            <thead>
              <tr>
                  <th>Название категории</th>
                  <th>Обложка</th>
              </tr>
            </thead>

            <tbody>
             
           
            {% for category in categories %}
          <tr class="row-link" data-item-id="{{ course.id }}" data-item-id-1="{{ course.first_lesson().id }}">
              <td>{{category.category_name}}</td>
              <td><img src="{{ asset('storage/wallpapers/')~'/'~category.filename }}" style="height: 100px;"></td>              
              
              <td> 
                  <a href="{{ url('/categories/edit/')~'/'~category.id}}" class="white-text waves-effect waves-light btn btn-small blue">Редактировать</a>
              </td>  
              {# <td>
                    <a class="waves-effect waves-light btn blue modal-trigger" href="#modal1">Delete</a>
              </td>  #}      
          </tr>
          {% endfor %}
           </tbody>
          </table>
        </div>
          <div id="modal1" class="modal">
                    <div class="modal-content">
                      <h4>Подтвердите удаление</h4>
                      <p>Вы действительно хотите удалить курс?</p>
                    </div>
                    <div class="modal-footer">
                          <form action="{{ url('/courses/delete')~'/'~course.id }}" method="post">
                            <input name="_token" type="hidden" value="{{ _token }}">
                            <button type="submit" class="modal-action modal-close waves-effect waves-blue btn-flat">Удалить</button>
                            <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Отмена</a>
                          </form>
                    </div>
                  </div>
              
                
      {% endif %}
        
        


  <script>
   $(document).ready(function(){
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();
    });
</script>

   {% endblock content %}

