<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenU</title>

        <link rel="shortcut icon"  type="image/png"  href="{{ asset('assets/images/favicon-04.png') }}">


        <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/course.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/icon.css') }}" >

        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/materialize.min.js') }}"></script>

    </head>
    <body>
    	<style type="text/css">

            
            #about {
            	text-align: justify;
            }

             h1, h3{
            color: #1b5e20;
       		 }
       		 h6{
       		 	line-height: 1.5em;
       		 }

			#scroll-down {
				position: absolute;
				bottom: 20px;
				left: 50%;
				z-index: 2;
				display: inline-block;
				-webkit-transform: translate(0, -50%);
				transform: translate(0, -50%);
				color: #fff;
				font : normal 400 20px/1 'Josefin Sans', sans-serif;
				letter-spacing: .1em;
				text-decoration: none;
				transition: opacity .3s;
			}
			#scroll-down:hover {
				opacity: .5;
			}


			#scroll-down {
				padding-top: 60px;
			}
			#scroll-down span {
				position: absolute;
				top: 0;
				left: 50%;
				width: 30px;
				height: 50px;
				margin-left: -15px;
				border: 2px solid #fff;
				border-radius: 50px;
				box-sizing: border-box;
			}
			#scroll-down span::before {
				position: absolute;
				top: 10px;
				left: 50%;
				content: '';
				width: 6px;
				height: 6px;
				margin-left: -3px;
				background-color: #fff;
				border-radius: 100%;
				-webkit-animation: sdb10 2s infinite;
				animation: sdb10 2s infinite;
				box-sizing: border-box;
			}

			@-webkit-keyframes sdb10 {
				0% {
					-webkit-transform: translate(0, 0);
					opacity: 0;
				}
				40% {
					opacity: 1;
				}
				80% {
					-webkit-transform: translate(0, 20px);
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}
			@keyframes sdb10 {
				0% {
					transform: translate(0, 0);
					opacity: 0;
				}
				40% {
					opacity: 1;
				}
				80% {
					transform: translate(0, 20px);
					opacity: 0;
				}
				100% {
					opacity: 0;
				}
			}
			.panel-footer {
			      box-shadow: #888 0px 0px 15px, #aaa 0 0 2em ;  
			}
			#pinContainer {
                width: 100%;
                height: 100%;
                overflow-x: hidden;
            }
            .panel-footer {
                min-height: 140px;
                height: auto;
                width: 100%;
                bottom: 0;                
                position: relative;
                bottom: 0;
                text-align: center;
                vertical-align: middle;
                z-index: 2;
                margin: 0;
            }

                 		
        </style>
        <div class="overlay"></div>
        

	        <div class="navbar-fixed" style="margin-bottom: 10px; position: absolute;">
	            <nav class="landing-nav">
	                <div class="nav-wrapper">
	                    <a href="#" data-activates="mobile-demo" class="button-collapse black-text right"><i class="material-icons material-icons-default"  style="margin: 0 15px;">menu</i></a>
	                    <a href="/" class="left" style="height: 64px; margin-left: 10px; color: white; cursor: pointer;">
	                        <img src="{{ asset('assets/images/logo-03.png') }}" height="36px;" style="margin: 14px 25px; ">
	                    </a>


	                    <ul id="nav-mobile" class="right hide-on-med-and-down">
	                        <li><a href="{{ url('/') }}#section-2" class="black-text">Категории</a></li>
	                        <li><a href="{{ url('/') }}#section-3" class="black-text">Курсы</a></li>
	                        <li><a href="{% if _user %}{{ url('/courses/allcourses') }}{% else %}{{ url('auth/login') }}{% endif %}" class="waves-effect waves-light btn blue menu-item-link">Войти</a></li>
	                    </ul>

	                    <ul class="side-nav" id="mobile-demo">
	                        <li><a href="{{ url('/') }}#section-2" class="waves-effect">Категории</a></li>
	                        <li><a href="{{ url('/') }}#section-3" class="waves-effect">Курсы</a></li>
	                        <li><a href="{{ url('auth/login') }}" class="waves-effect waves-light btn blue menu-item-link">Войти</a></li>
	                    </ul>
	                </div>
	            </nav>
	        </div>

      
		   
		    <section id="section-1" class="panel white first-section z-depth-5 demo" style="background-image:  url('../storage/wallpapers/{{course.filename}}">
		        <div class="row">
		            <div class="col s12 m6 l6 outer">
		                <div class="inner">
		                    <h1 style="font-weight: bold" >{{course.course_name}}</h1>
		                  <div  data-item-id="{{ course.id }}">
		                  	{% if _user and mine == 1 %}
								<a id="goto"  class="waves-effect waves-light btn green darken-3 menu-item-link" >Открыть</a>
		                 	{% else %}
		                 	<form id="form" method="POST" action="{{ url('/courses/mycourses/')}}"> 
		                  		<input type="hidden" name="_token" value="{{ _token }}">
		                  		<input type="hidden" name="course_id" value="{{course.id}}">	
		                  		<a id="add"  class="waves-effect waves-light btn green darken-3 menu-item-link" >Получить доступ</a>	                 	
		                 	</form>
		                 	{% endif %}
		             	  </div>

		                </div>
		            </div>
		        </div>
				<a href="#start" id="scroll-down"><span></span></a>
		           
		    </section>
		

		    
		    <section id="section-2" class="panel white second-section z-depth-5">
		        <div class="container">
					<div id="start" style="height: 0px;"></div>
						<div class="row" id="about">
							<div class="col s12 m8 l8 offset-m2 offset-l2">
								<br><h3>Автор курса</h3>
								<div class="row">
  								<div class="col s12 m6 l3 ">
  								
  									<img src="{{ asset('storage/avatar/')~'/'~course.user().filename }}" style="height: 100px; margin: 20px 0 10px 0;">
  								</div>
  								<div class="col s12 m8 l8 ">
  									<br><h6 style="color: #000000">{{course.user().firstname}} {{course.user().lastname}} {{course.user().fathers_name}}</h6>
  									<h6>{{course.user().description}} </h6>

  								</div>
  							</div>
								<h3>О курсе</h3> 
								<h6>{{course.description}} </h6>
								<br> <br> <br>

							</div>
						</div>
					</div>
		    </section>
				
            <section  class="panel-footer blue-grey darken-3">
                <div class="row" style="margin: 0 auto; ">
                    <div class="col s12 m12 l12">
                        <a href="#section-1" style="height: 64px; cursor: pointer;">
                            <img src="{{ asset('assets/images/logo-02.png') }}" height="36px;" style="margin: 20px 0 10px 0;">
                        </a>                   
                    </div>                        
                         
                    <div class="col l12 m12 s12" style="margin-top: 25px;">
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/vk.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/fb.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/inst.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/tw.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/wa.png') }}" height="26px"></a> 
                    </div>        

                </div>

            </section>
         


        <script>
			$(function () { // wait for document ready

				$(".overlay").fadeOut(500);

				$("a[href*=\\#start]").on('click', function(e) {
					e.preventDefault();
					$('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top - 60}, 500, 'swing');
				});

				$('#add').on('click', function () {
					$('#add').addClass('disabled');
					$("#form").submit();
				});

				$('#goto').on('click', function () {
					$('#goto').addClass('disabled');
					window.location='{{ url('/lesson')~'/'~course.id~'/'~lesson.id}}';
				});

			});
        </script>
     </body> 

 </html>
