{% extends "layout/html.twig" %}
{% block content %}

<script>
    $(document).ready(function() {
      $('select').material_select();
    });
</script>


    <div class="row"  id="content">
        <div class="col s12 m12 l8 offset-l2">

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

             <div class="row">
                    
                    <form id="form" class="col s12" method="POST" action="{{ url('categories/create')}}" enctype="multipart/form-data" accept-charset="UTF-8" >
                        {{csrf_field() }}
                                <div>
                                      <h4>Добавить категорию</h4>
                                      <div class="input-field col s12 ">
                                            <input name="category_name" type="text" class="validate" autocomplete="off">
                                            <label >Название категории</label>
                                      </div>
                                      <div class="file-field input-field col s12">
                                            <div class="btn">
                                              <span>Загрузить Обложку </span>
                                              <input type="file" name="ava">
                                            </div>
                                            <div class="file-path-wrapper">
                                              <input class="file-path validate" type="text">
                                            </div>
                                     </div>
                                </div>

                             <input type="submit" id="submit" class="waves-effect waves-light btn blue">
                    </form>
            </div>
        </div>
                
        {% endblock content %}



        {% block init_scripts %}
            <script>
                $(document).ready(function () {

                    $("#loader").fadeOut(400, function () {
                        $("#content").fadeIn(400);
                    });

                    $('#submit').on('click', function () {
                        $("#form").submit();
                    });

                });

            </script>

{% endblock init_scripts %}