{% extends "layout/html.twig" %}
{% block content %}
<div class="container">
 <script>
    $(document).ready(function() {
      $('select').material_select();
    });
</script>
 
  <form method="post" action="{{url('/categories/edit')~'/'~category.id }}" enctype="multipart/form-data" accept-charset="UTF-8">
    <div class="form-group row">
      {{csrf_field()}}

      <div class="row">
        <div class="input-field col s12">
          <input value="{{category.category_name}}" id="category_name" type="text" name="category_name" class="validate">
          <label class="active" for="category_name">Название категории</label>
        </div>
      </div>
      
      <div class="file-field input-field">
        <div class="btn">
          <span>Загрузить Обложку </span>
          <input type="file" name="image">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" value="{{category.filename}}">
        </div>
      </div>
   
    <div class="form-group row">
      <div class="col-md-2"></div>
      <button type="submit" class="btn btn-primary">Обновить</button>
    </div>
    </div>
  </form>
</div>
{% endblock content %}
