<!doctype html>

<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OpenU</title>

        <link rel="shortcut icon"  type="image/png"  href="{{ asset('assets/images/favicon-04.png') }}">


        <link rel="stylesheet" href="{{ asset('assets/css/materialize.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/course.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/css/icon.css') }}" >

        <script src="{{ asset('assets/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/materialize.min.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('assets/css/OverlayScrollbars.min.css') }}"/>
        <script type="text/javascript" src="{{ asset('assets/js/jquery.overlayScrollbars.min.js') }}"></script>


    </head>
    <body>
        <style type="text/css">


            h1, h3{
                color: #1b5e20;
            }

            html {
                height: 100%;
            }

            body {
                background: url('../assets/images/1.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                -moz-background-size:100% 100%;
                -webkit-background-size:100% 100%;
                background-size:100% 100%;
                height: 100%;
                width: 100%;

            }
            .butt h6{
                font-size: 19px;
            }

            .grid {
                -webkit-column-count: 2;
                -webkit-column-gap: 10px;
                -webkit-column-fill: auto;
                -moz-column-count: 2;
                -moz-column-gap: 10px;
                -moz-column-fill: auto;
                column-count: 2;
                column-gap: 15px;
                column-fill: auto;
            }

            @media only screen and (min-width: 601px) {
                .grid {
                    -webkit-column-count: 3;
                    -moz-column-count: 3;
                    column-count: 3;
                }
            }

            @media only screen and (min-width: 993px) {
                .grid {
                    -webkit-column-count: 4;
                    -moz-column-count: 4;
                    column-count: 4;
                    margin-top: 30px;
                }
            }


            .block {
                display: block;
                padding: 10px;
                word-wrap: break-word;
                margin-bottom: 0;
                -webkit-column-break-inside: avoid;
                -moz-column-break-inside: avoid;
                column-break-inside: avoid;
            }
            .panel-footer {
                min-height: 140px;
                height: auto;
                width: 100%;
                bottom: 0;                
                position: relative;
                bottom: 0;
                text-align: center;
                vertical-align: middle;
                z-index: 2;
                margin: 0;
            }

        </style>
        <div class="overlay"></div>
        <div class="wrapper">
        <div class="row">
            <div class="navbar-fixed" style="margin-bottom: 10px; position: absolute;">
                <nav class="landing-nav">
                    <div class="nav-wrapper">
                        <a href="#" data-activates="mobile-demo" class="button-collapse black-text right"><i class="material-icons material-icons-default"  style="margin: 0 15px;">menu</i></a>
                        <a href="/" class="left" style="height: 64px; margin-left: 10px; color: white; cursor: pointer;">
                            <img src="{{ asset('assets/images/logo-03.png') }}" height="36px;" style="margin: 14px 25px; ">
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                {% if _user %}
                                <li><a href="{{ url('/courses/mycourses/') }}" class="waves-effect waves-light btn blue menu-item-link">Вернуться в кабинет</a></li>
                                {% else %}
                                <li><a href="{{ url('auth/login') }}" class="waves-effect waves-light btn blue menu-item-link">Войти</a>
                                    {% endif %}
                            </ul>

                            <ul class="side-nav" id="mobile-demo">
                                <li><a data-item-id="#section-2" id="close-nav" class="waves-effect" href="{{ url('/categories')}}">Все категории</a></li>
                                {% for category in categories%}
                                    <li><a data-item-id="#section-2" id="close-nav" class="waves-effect" href="{{ url('/categories')~'/'~category.id}}">{{category.category_name}}</a></li>
                                {% endfor %}
                                {% if _user %}
                                    <li><a href="{{ url('/courses/mycourses/') }}" class="waves-effect waves-light btn blue menu-item-link">Вернуться в кабинет</a></li>
                                {% else %}
                                    <li><a href="{{ url('auth/login') }}" class="waves-effect waves-light btn blue menu-item-link">Войти</a></li>
                                {% endif %}
                            </ul>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="row hide-on-med-and-down" style="margin-top: 80px">

            <div class="col s3" style="position: fixed">
                <h5> Категории</h5>

                <nav >
                    <div class="nav-wrapper white" >
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" name="search"  required>
                                <label class="label-icon" for="search"><i class="material-icons black-text" style="line-height: 44px;">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>


                <a href="{{ url('/categories')}}" class="col s3"
                   style="
                        position: fixed;
                        color: black;
                        z-index: 4;
                        margin-top: 9px;
                        width: 25%;
                        padding-left: 1px;
                        padding-right: 23px;
                    ">
                    <div class="collapsible-header butt"><i class="material-icons" style="margin-top: 5px;">menu</i><h6>Все категории</h6></div>
                </a>

                <ul class="collapsible" data-collapsible="accordion" id="ul-catlist">
                    <li>
                        <a id="butt" style="color: black; ">
                            <div class="collapsible-header "><i class="material-icons" style="margin-top: 5px;">menu</i>
                                <div class="butt"> <h6 >Все категории</h6></div>

                            </div>
                        </a>
                    </li>
                    <div  id="catlist">
                    {% for category in categories%}

                            <li>
                                <a id="butt" item="{{category.id}}" href="{{ url('/categories')~'/'~category.id}}" style="color: black; ">
                                    <div class="collapsible-header "><i class="material-icons {% if category.id == this_category %}  #01579b-text{% endif %} " style="margin-top: 5px;">keyboard_arrow_right</i>
                                        <div class="butt"> <h6 style="color: {% if category.id == this_category %} #01579b {% endif %} ">{{category.category_name}}</h6></div>
                                    </div>
                                </a>
                            </li>

                    {% endfor %}
                    </div>
                </ul>

            </div>

            <div class="col s3">
            </div>

            <div class="col s9 grid">
                {% for course in courses%}
                    <div class="block">
                        <div class="card z-depth-2">
                            <div class="card-image waves-effect waves-block waves-light" style="border-radius: 10px 10px 0 0;">
                                <a href="{{ url('/course/')~'/'~course.id }}"><img class="activator" src="{{ asset('storage/wallpapers')~'/'~course.filename}}"></a>
                            </div>
                            <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4" style="font-size: 22px; margin-bottom: 0;">
                                        <i class="material-icons right" style="float: right;">more_vert</i>
                                    </span>
                                <a class="grey-text text-darken-4" href="{{ url('/course/')~'/'~course.id }}"  style="font-size: 16px;">{{course.course_name}}</a>
                            </div>
                            <div class="card-reveal" style="overflow: visible;">
                                <span class="card-title grey-text text-darken-4"  style="font-size: 22px; margin-bottom: 0;"><i class="material-icons right">close</i></span>
                                <a class="grey-text text-darken-4" href="{{ url('/course/')~'/'~course.id }}">{{course.course_name}}</a>
                                <p>Категория: {{course.category().category_name}}</p>
                                <p>Преподаватель: {{course.user().firstname}} {{course.user().lastname}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}



            </div>

        </div>

        <div class="row grid hide-on-large-only" style="margin-top: 65px;">
            {% for course in courses%}
                <div class="block">
                    <div class="card z-depth-2">
                        <div class="card-image waves-effect waves-block waves-light" style="border-radius: 10px 10px 0 0;">
                            <a href="{{ url('/course/')~'/'~course.id }}"><img class="activator" src="{{ asset('storage/wallpapers')~'/'~course.filename}}"></a>
                        </div>
                        <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4" style="font-size: 22px; margin-bottom: 0;">
                                        <i class="material-icons right" style="float: right;">more_vert</i>
                                    </span>
                            <a href="{{ url('/course/')~'/'~course.id }}"  style="font-size: 16px;">{{course.course_name}}</a>
                        </div>
                        <div class="card-reveal" style="overflow: visible;">
                            <span class="card-title grey-text text-darken-4"  style="font-size: 22px; margin-bottom: 0;"><i class="material-icons right">close</i></span>
                            <a href="{{ url('/course/')~'/'~course.id }}">{{course.course_name}}</a>
                            <p>Категория: {{course.category().category_name}}</p>
                            <p>Преподаватель: {{course.user().firstname}} {{course.user().lastname}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
            <div  class="panel-footer blue-grey darken-3" style="margin: 0 auto; bottom: 0; position: fixed; bottom: 0px; left: 0px; top: auto; right: auto; width: 100%;">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <a href="#section-1" style="height: 64px; cursor: pointer;">
                            <img src="{{ asset('assets/images/logo-02.png') }}" height="36px;" style="margin: 20px 0 10px 0;">
                        </a>                   
                    </div>                        
                         
                    <div class="col l12 m12 s12" style="margin-top: 25px;">
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/vk.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/fb.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/inst.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/tw.png') }}" height="26px"></a> 
                        <a href="#" style="margin: 5px;"><img src="{{ asset('assets/images/wa.png') }}" height="26px"></a> 
                    </div>        

                </div>

            </div>
    </body>

        <script>
            $(function () { // wait for document ready

                $(window).on('resize', function() {

                    var offset = 280;
                    $('#catlist').css('height', Math.max(Math.min($(window).height() - offset, parseInt($('#ul-catlist').css('height')) - 65), parseInt($('#ul-catlist').css('height')) - 65));

                });


                var offset = 280;
                $('#catlist').css('height', Math.max(Math.min($(window).height() - offset, parseInt($('#ul-catlist').css('height')) - 65), parseInt($('#ul-catlist').css('height')) - 65));

                $(".button-collapse").sideNav();

                $(document).on("click", "a[data-item-id^='#']", function(e) {

                    var id = $(this).attr("data-item-id");
                    console.log(id);
                    $('html, body').animate({
                        scrollTop: $(id).offset().top
                    }, 500);
                });

                catlist = OverlayScrollbars(document.getElementById("catlist"), {});

                $(".overlay").fadeOut(500);

                $('#close-nav').on('click', function () {

                    $('#side-nav').sideNav('hide');
                });

                /* $('#butt').on('click', function() {
                     var id = $(this).attr("item");

                     $(this).removeClass('butt');
                     document.getElementById("butt").style.color = "blue";
                 });*/

            });
        </script>
    
    </html>
