{% extends "layout/html" %}
{% block content %}


    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">

            <div >
                <h5>{{ "Доступные тесты" }}</h5>
            </div>
            <div class="divider" style="margin-bottom: 15px;"></div>

            {% for test in tests %}
                <div><a href="{{ url('/test/preview/')~'/'~test.id }}" class="blue-text waves-effect btn-small">{{ test.title }}</a></div>
            {% endfor %}

        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block init_scripts %}
    <script>


        $(document).ready(function () {

            $(document).ready(function(){
                $('.parallax').parallax();
            });

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });
        });




    </script>
{% endblock init_scripts %}