{% extends "layout/html.twig" %}
{% block content %}

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td, th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }

        .status {
            text-align: center;
        }

        .number {
            text-align: right;
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #666; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                height: auto;
                min-height: 70px;
                padding-left: 60%;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                height: auto;
                width: 60%;
                padding-right: 10px;
            }

            /*
            Label the data
            */
            td:nth-of-type(1):before { content: "{{ "Название" }}"; }
            td:nth-of-type(2):before { content: "{{ "Тип" }}"; }
            td:nth-of-type(3):before { content: "{{ "Количество вопросов" }}"; }
            td:nth-of-type(4):before { content: "{{ "Доступно попыток" }}"; }
            td:nth-of-type(5):before { content: "{{ "Время на выполнение" }}"; }
            td:nth-of-type(6):before { content: "{{ "Учавстовавших в тесте" }}"; }
            td:nth-of-type(7):before { content: "{{ "Среди них зарегестрированных" }}"; }
            td:nth-of-type(8):before { content: "{{ "Имеющих более 80% правильных ответов" }}"; }
            td:nth-of-type(9):before { content: "{{ "Среди них зарегестрированных" }}"; }
            td:nth-of-type(10):before { content: "{{ "Действия" }}"; }

            .status {
                text-align: left;
            }

            .number {
                text-align: left;
            }
        }


    </style>

    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">
            <div style="margin-top: 30px; margin-bottom: 30px; margin-left: -10px;">
                <a href="{{ url('/tests') }}" id="back" class="black-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
            </div>

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            <h5>
                {{ test.title }}
            </h5>
            <div class="divider" style="margin-bottom: 15px;"></div>
            {% if attempts|length == 0 %}
                <div class="card-panel black-text white">
                    Никто не проходил этот тест.
                </div>
            {% else %}
                <div style="margin-top: 10px;">
                    <table class="table-bordered table-hover">
                        <thead>
                        <tr style="font-size:14px; background: #f3f3f3;">
                            <th class="center" >{{ "Пользователь"|transl }}</th>
                            <th class="center" >{{ "Начало"|transl }}</th>
                            <th class="center" >{{ "Окончание"|transl }}</th>
                            <th class="center" >{{ "Результат"|transl }}</th>
                            <th class="center" >{{ "Действия"|transl }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in attempts %}
                            <tr style="font-size:16px; background: #fff;" id="test-{{ item.id }}">
                                <td rowspan="{{ item|length }}" class="status">
                                    {{ item[0].email|default("Незалогиненный пользователь") }}
                                </td>
                                {% for attempt in item %}
                                    {% if loop.index > 1 %}
                                    <tr style="font-size:16px; background: #fff;" id="test-{{ item.id }}">
                                    {% endif %}
                                        <td class="status">
                                            {{ attempt.created_at|date("d.m.Y h:i:s", "Asia/Almaty") }}
                                        </td>
                                        <td class="status">
                                            {{ attempt.updated_at|date("d.m.Y h:i:s", "Asia/Almaty") }}
                                        </td>
                                        <td class="status">
                                            <span class="green-text text-darken-2" style="font-weight: bold">{{ attempt.correct_amount }}</span><span class="grey-text text-darken-1">/{{ attempt.questions }}</span>
                                        </td>
                                        <td class="status">
                                            <a target="_blank" href="{{ url('/test/result/')~'/'~attempt.test_id~'/'~attempt.id }}" style="margin-top: 2px;" class="btn white-text blue waves-effect waves-light ">Подробнее</a>
                                        </td>

                                    </tr>

                                {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {{ users.links('users/paginator')|raw }}
            {% endif %}
        </div>
    </div>


    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });
        });



    </script>
{% endblock init_scripts %}