{% extends "layout/html.twig" %}
{% block content %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        td, th {
            padding: 6px;
            border: 1px solid #ccc;
            text-align: left;
        }

        .status {
            text-align: center;
        }

        .number {
            text-align: right;
        }

        @media
        only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

            /* Force table to not be like tables anymore */
            table, thead, tbody, th, td, tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tr { border: 1px solid #666; }

            td {
                /* Behave  like a "row" */
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                height: auto;
                min-height: 70px;
                padding-left: 60%;
            }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 6px;
                left: 6px;
                height: auto;
                width: 60%;
                padding-right: 10px;
            }

            /*
            Label the data
            */
            td:nth-of-type(1):before { content: "{{ "Название" }}"; }
            td:nth-of-type(2):before { content: "{{ "Тип" }}"; }
            td:nth-of-type(3):before { content: "{{ "Количество вопросов" }}"; }
            td:nth-of-type(4):before { content: "{{ "Доступно попыток" }}"; }
            td:nth-of-type(5):before { content: "{{ "Время на выполнение" }}"; }
            td:nth-of-type(6):before { content: "{{ "Учавстовавших в тесте" }}"; }
            td:nth-of-type(7):before { content: "{{ "Имеющих более 80% правильных ответов" }}"; }
            td:nth-of-type(8):before { content: "{{ "Действия" }}"; }

            .status {
                text-align: left;
            }

            .number {
                text-align: left;
            }
        }


    </style>

    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            <h5>
                {{ "Тесты" }}
            </h5>
            <div class="divider" style="margin-bottom: 15px;"></div>

            {#<a href="{{ url('tests/load/') }}" class="waves-effect waves-light btn green darken-3">Загрузить тест</a>#}
            {#<a style="margin-left: 10px;" href="{{ url('tests/add/') }}" class="waves-effect waves-light btn blue disabled-element">Создать тест</a>#}


            <div style="margin-top: 10px;">
                <table class="table-bordered table-hover">
                    <thead>
                        <tr style="font-size:14px; background: #f3f3f3;">
                            <th class="center" rowspan="2">{{ "Название"|transl }}</th>
                            <th class="center" rowspan="2">{{ "Тип"|transl }}</th>
                            <th class="center" rowspan="2">{{ "Количество вопросов"|transl }}</th>
                            <th class="center" rowspan="2">{{ "Доступно попыток"|transl }}</th>
                            <th class="center" rowspan="2">{{ "Время на выполнение"|transl }}<br/>{{ "(В минутах)" }}</th>
                            <th class="center" colspan="2">{{ "Статистика пользователей"|transl }}</th>
                            <th class="center" rowspan="2">{{ "Действия"|transl }}</th>
                        </tr>
                        <tr style="font-size:14px; background: #f3f3f3;">
                            <th class="center">{{ "Количество учавстовавших в тесте"|transl }}</th>
                            <th class="center">{{ "Количество имеющих более 80% правильных ответов"|transl }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in tests %}
                    <tr style="font-size:16px; background: #fff;" id="test-{{ item.id }}">
                        <td>
                            {{ item.title }}
                        </td>
                        <td class="status">
                            {% if item.is_free == 1 %}Бесплатный{% else %}Платный{% endif %}
                        </td>
                        <td class="number">
                            {{ item.questions }}
                        </td>
                        <td class="number">
                            {{ item.attempts }}
                        </td>
                        <td class="number">
                            {{ item.time }}
                        </td>
                        <td class="number">{{ attempts_count_logged[item.id] }}</td>
                        <td class="number">{{ success_count_logged[item.id] }}</td>
                        <td id="actions" style="white-space: nowrap;">
                            <a href="{{ url("tests/details/")~'/'~item.id }}" title="{{ "Подробнее"|transl }}" class="waves-effect waves-light btn btn-small blue white-text" style="margin: 2px;"><i class="material-icons material-icons-default" >zoom_in</i></a>
                          {#  <a id="delete" data-item-id="{{ item.id }}" title="{{ "Удалить"|transl }}" class="waves-effect waves-light btn btn-small red white-text" style="margin: 2px;"><i class="material-icons material-icons-default" >close</i></a>
                           #}&nbsp;
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ tests.links('users/paginator')|raw }}

        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    {#

    <div id="modal1" class="modal" style="max-width: 600px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Вы уверены, что хотите удалить тест <span id="test-name" style="font-weight: bold"></span>?</h5>
            <h6 class="center-align">Удаление теста приведет к удалению результатов прохождения этого теста всех пользователей.</h6>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a data-item-id="" id="cancel-delete" class="left white-text modal-action modal-close waves-effect waves-light btn-flat blue-grey">Отмена</a>
            <a data-item-id="" id="go-delete" class="right white-text modal-action modal-close waves-effect waves-light btn-flat red">Удалить</a>
        </div>
    </div>

    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box;">
            <a class="black-text modal-action modal-close waves-effect waves-red btn-flat">Ок</a>
        </div>
    </div>
#}
{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {
            {#
            $('#modal1').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
            });

            $('#modal2').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/tests/') }}'; }
            });


            $("a[id='delete']").on('click', function () {

                $(this).parent().children('a').each(function () {
                    $(this).addClass('disabled-element');
                    $(this).addClass('was-disabled');
                });

                $("#go-delete").attr('data-item-id', $(this).attr('data-item-id'));
                $("#test-name").html($("#test-" + $(this).attr('data-item-id')).children(":first").html());

                $('#modal1').modal('open');

            });

            $("#cancel-delete").on('click', function () {

                $(".was-disabled").each(function () {
                    $(this).removeClass('disabled-element');
                });

                $("#go-delete").attr("data-item-id", "");

            });

            $("#go-delete").on('click', function () {

                var fd = new FormData;
                var test_id = $(this).attr('data-item-id');

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('test_id', test_id);


                $.ajax({
                    type: "POST",
                    url: "/ajax/delete-test",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok') {
                            $("#test-" + test_id).fadeOut(400, function () {
                                $("#test-" + test_id).remove();
                            })
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });

            });
#}

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });
        });



    </script>
{% endblock init_scripts %}