{% extends "layout/html.twig" %}
{% block content %}
    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">
            <div style="margin-top: 30px; margin-bottom: 30px; margin-left: -10px;">
                <a href="{{ url('/tests') }}" id="back" class="black-text waves-effect btn-small"><i class="material-icons">arrow_back</i> {{ "Назад"|transl }}</a>
            </div>

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            <h5>{{ "Загрузить тесты"|transl }}</h5>
            <div class="divider" style="margin-bottom: 15px;"></div>

            <form role="form" id="form" method="POST" action="{{ url('tests/load') }}" accept-charset="UTF-8" enctype="multipart/form-data">
                <input type="hidden" name="_token" value="{{ _token }}">

                <div class="file-field input-field">
                    <div class="waves-effect waves-light btn blue" id="add-file-button">
                        <span>Выбрать файл</span>
                        <input type="file" name="files[]"  multiple>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path"  readonly type="text" placeholder="Добавьте один или несколько Excel файлов c тестами">
                    </div>
                </div>

                <div class="divider" style="margin-bottom: 15px;"></div>
                <a id="go_load" class="waves-effect waves-light btn blue">Загрузить</a>
                <div class="progress blue lighten-4" style="display: none; margin-top: 30px; margin-bottom: 52px;">
                    <div class="indeterminate blue"></div>
                </div>
            </form>

        </div>
    </div>

    <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {

            $('#go_load').on('click', function () {
                $("input, #back").addClass('disabled-element');
                $("#add-file-button").addClass('disabled-element');

                $('#go_load').addClass('disabled');
                $('#go_load').fadeOut(200, function () {
                    $(".progress").fadeIn(400);
                });

                $("#form").submit();
            });


            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });

        });
    </script>
{% endblock init_scripts %}