{% if paginator.lastPage() > 1 %}
<ul class="pagination">
    <li class="{% if paginator.currentPage() == 1 %}disabled{% endif %}">
        <a href="{{ paginator.url(1) }}"><i class="material-icons">chevron_left</i></a>
    </li>
    {% for i in 1..paginator.lastPage() %}
    <li class="{% if paginator.currentPage() == i %}active blue{% endif %}">
        <a href="{{ paginator.url(i) }}">{{ i }}</a>
    </li>
    {% endfor %}
    <li class="{% if paginator.currentPage() == paginator.lastPage() %}disabled{% endif %}">
        <a href="{{ paginator.url(paginator.currentPage()+1) }}" ><i class="material-icons">chevron_right</i></a>
    </li>
</ul>
{% endif %}