{% extends "layout/html.twig" %}
{% block content %}

      <style>
          .row-link {
              transition: all 0.5s ease;
          }

          .row-link:hover {
              background: #ddd !important;
              cursor: pointer;
          }
      </style>

      {% if _user.role == 3 %}
          <div class="container">
              <table class="striped">
                  <thead>
                  <tr>
                      <th>Название курса</th>
                      <th>Имя преподавателя</th>
                      <th>Категория</th>
                      <th class="right">Стоимость курса</th>
                  </tr>
                  </thead>

                  <tbody>


                  {% for course in courses %}
                      <tr class="row-link" data-item-id="{{ course.id }}" data-item-id-1="{{ course.first_lesson().id }}">
                          <td>{{course.course_name}}</td>
                          <td>{{course.user().firstname}} {{course.user().lastname}}</td>
                          <td>{{course.category().category_name}}</td>
                          <td class="right">{{course.course_price}}</td>


                          <td>
                              <a href="{{ url('/courses/edit')~'/'~course.id}}" class="white-text waves-effect waves-light btn btn-small blue">Редактировать</a>
                          </td>
                          {#<td>
                               <a class="waves-effect waves-light btn blue modal-trigger" href="#modal1">Delete</a>
                         </td>  #}
                      </tr>
                  {% endfor %}
                  </tbody>
              </table>
          </div>
          <div id="modal1" class="modal">
              <div class="modal-content">
                  <h4>Подтвердите удаление</h4>
                  <p>Вы действительно хотите удалить курс?</p>
              </div>
              <div class="modal-footer">
                  <form action="{{ url('/courses/delete')~'/'~course.id }}" method="post">
                      <input name="_token" type="hidden" value="{{ _token }}">
                      <button type="submit" class="modal-action modal-close waves-effect waves-blue btn-flat">Удалить</button>
                      <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat">Отмена</a>
                  </form>
              </div>
          </div>


      {% endif %}




      <script>
          $(document).ready(function(){
              // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
              $('.modal').modal();

              $('.row-link').on('click', function(e) {
                  e.stopImmediatePropagation();
                  {% if _user.role == 3 %}
                  window.location='{{ url('/lessons') }}/' + $(this).attr('data-item-id');
                  {% else %}
                  window.location='{{ url('/course') }}/' + $(this).attr('data-item-id');
                  {% endif %}
              })

          });
      </script>


{% endblock content %}

