{% extends "layout/html.twig" %}
{% block content %}

<script>
    $(document).ready(function() {
      $('select').material_select();
    });
</script>

    <div class="row"  id="content">
        <div class="col s12 m12 l8 offset-l2">

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            <div class="row">
                <form  id="form" class="col s12" method="POST" action="{{ url('courses/create')}}" enctype="multipart/form-data" accept-charset="UTF-8">
                    <input type="hidden" name="_token" value="{{ _token }}">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="course_name" name="course_name" type="text" class="validate" autocomplete="off">
                            <label for="course_name">Название курса</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <select name="teacher_id">
                                <option value="" disabled selected >Выберите преподавателя</option>
                                {% for teacher in users %}
                                    <option value="{{teacher.id}}">{{teacher.firstname}} {{teacher.lastname}}</option>
                                {%endfor%}
                            </select>
                            <label>Преподаватель</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 m12 l12">
                            <select name="category">
                                <option value="" disabled selected >Выберите категорию</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.category_name}}</option>
                                {%endfor%}
                            </select>
                            <label>Категория</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="description"  name="description" type="text" class="validate" autocomplete="off">
                            <label for="description">Описание курса</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="course_price" value="0"  name="course_price" type="text" class="validate" autocomplete="off">
                            <label for="course_price">Стоимость курса</label>
                        </div>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>Загрузить Обложку </span>
                            <input type="file" name="image">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <input type="submit" id="submit" class="waves-effect waves-light btn blue">
                </form>
            </div>

    </div>
</div>
                
        {% endblock content %}



        {% block init_scripts %}
            <script>
                $(document).ready(function () {

                    $("#loader").fadeOut(400, function () {
                        $("#content").fadeIn(400);
                    });

                    $('#submit').on('click', function () {
                        $("#form").submit();
                    });

                    $('.modal').modal();

                });

            </script>

{% endblock init_scripts %}