{% extends "layout/html.twig" %}
{% block content %}
<div class="container">
 <script>
    $(document).ready(function() {
      $('select').material_select();
    });
</script>
 
  <form method="post" id="form1" enctype="multipart/form-data" accept-charset="UTF-8">
    <div class="form-group row">
      {{csrf_field()}}

      <div class="row">
        <div class="input-field col s12">
          <input value="{{course.course_name}}" id="course_name" type="text" name="course_name" class="validate">
          <label class="active" for="course_name">Название курса</label>
        </div>
      </div>

      <div class="row">
      <div class="input-field col s12">
          <select name="teacher_id">
             <option value="" disabled selected >Выберите преподавателя</option>
                {% for teacher in users %}
                 <option value="{{teacher.id}}">{{teacher.firstname}} {{teacher.lastname}}</option>
                {%endfor%}
           </select>
      </div>
      </div>

      <div class="row">
      <div class="input-field col s12">
          <select name="category_id">
             <option value="" disabled selected >Выберите категорию</option>
                {% for category in categories %}
                 <option value="{{category.id}}">{{category.category_name}}</option>
                {%endfor%}
           </select>
      </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input value="{{course.course_price}}" id="course_price" type="text" name="course_price" class="validate">
          <label class="active" for="course_price">Стоимость курса</label>
        </div>
      </div>

         <div class="row">
        <div class="input-field col s12">
          <input value="{{course.description}}" id="description" type="text" name="description" class="validate">
          <label class="active" for="description">Описание</label>
        </div>
      </div>
      
          <div class="file-field input-field">
            <div class="btn" id="add_file">
              <span>Загрузить Обложку </span>
              <input type="file" name="image">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" value="{{course.filename}}">
            </div>
          </div>

    </div>


            <div class="file-field input-field" id="div_test">
              <input type="hidden" name="course_id" id="course_id" value="{{ course.id }}">
                {% if course.term() != null %}
                <a id="delete-term" data-item-id="{{ course.term().id }}" class="waves-effect waves-light btn red lighten-2"  style="display: inline-block; margin-right: 10px; font-size: 11px;"><i class="material-icons">delete</i> Удалить глоссарий</a>
                {% endif %}
                <div class="waves-effect waves-light btn blue" id="add-test-button" >
                    <span style="font-size: 11px;">Выберите Excel файл с глоссарием</span>
                    <input type="file" name="terms" id="terms">
                </div>
                <div class="file-path-wrapper disabled-element-full-opacity noselect">
                    <input class="file-path" id="test-title" readonly type="text"  >
                </div>
            </div>
  </form>

        <form role="form" id="form2" method="POST" accept-charset="UTF-8" enctype="multipart/form-data">
            <input type="hidden" name="_token" value="{{ _token }}">
            <input type="hidden" name="course_id" id="course_id" value="{{ course.id }}">
            <div class="file-field input-field" id="div_test">
                {% if course.test() != null %}
                <a id="delete-test" data-item-id="{{ course.test().id }}" class="waves-effect waves-light btn red lighten-2"  style="display: inline-block; margin-right: 10px; font-size: 11px;"><i class="material-icons">delete</i> Удалить тест</a>
                {% endif %}
                <div class="waves-effect waves-light btn blue" id="add-test-button" >
                    <span style="font-size: 11px;">Выберите Excel файл с тестом</span>
                    <input type="file" name="tests[]" id="tests">
                </div>
                <div class="file-path-wrapper disabled-element-full-opacity noselect">
                    <input class="file-path" id="test-title" readonly type="text"  value="{{ course.test().title }}">
                </div>
            </div>
            <div style="height: 20px; border-bottom: 1px solid #ccc; margin-bottom: 30px;"></div>
        </form>


        <a id="submit" class="waves-effect waves-light btn blue" style="margin-bottom: 26px;">Обновить</a>
        <div class="progress blue lighten-4" style="display: none; margin-top: 46px; margin-bottom: 42px;">
            <div class="indeterminate blue"></div>
        </div>

      <div id="modal1" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Изменения успешно приняты.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>


    <div id="modal2" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

    <div id="modal3" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Возникла ошибка при передаче данных. Неверный формат теста.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

    <div id="modal4" class="modal" style="width: 400px;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Успешно удалено.</h5>
        </div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center;">
            <a href="#" class="white-text modal-action modal-close waves-effect waves-light btn blue">Ок</a>
        </div>
    </div>

    <div id="modal5" class="modal" style="max-width: 600px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Вы уверены, что хотите удалить тест <span id="test-name" style="font-weight: bold">{{ course.test().title }}</span>?</h5>
            <h6 class="center-align">Удаление теста приведет к удалению результатов прохождения этого теста всех пользователей.</h6>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a data-item-id="" id="cancel-delete" class="left white-text modal-action modal-close waves-effect waves-light btn-flat blue-grey">Отмена</a>
            <a data-item-id="" id="go-delete" class="right white-text modal-action modal-close waves-effect waves-light btn-flat red">Удалить</a>
        </div>
    </div>

    <div id="modal6" class="modal" style="max-width: 600px; width: 90%; overflow: visible;">
        <div class="modal-content" style="box-sizing: border-box;">
            <h5 class="center-align">Вы уверены, что хотите удалить глоссарий?<span id="test-name" style="font-weight: bold">{{ course.test().title }}</span>?</h5>
        </div>
        <div class="divider" style="margin-bottom: 8px;"></div>
        <div class="modal-footer" style="box-sizing: border-box; text-align: center; padding: 0 30px;">
            <a data-item-id="" id="cancel-delete" class="left white-text modal-action modal-close waves-effect waves-light btn-flat blue-grey">Отмена</a>
            <a data-item-id="" id="go-delete-term" class="right white-text modal-action modal-close waves-effect waves-light btn-flat red">Удалить</a>
        </div>
    </div>

     <div class="center-align" style="min-width: 60vw; margin: 5% 0 0 20px; "  id="loader">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div> 

</div>
{% endblock content %}

{% block init_scripts %}
<script src="{{ asset('assets/js/expand.js') }}"></script>
<script>
  var timeout;

        $(document).ready(function () {
           $('.modal').modal();

            $('#modal1, #modal2, #modal3').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
                complete: function() { window.location.href = '{{ url('/courses/allcourses') }}'; }
            });

            $('#modal4, #modal5, #modal6').modal({
                dismissible: false, // Modal can be dismissed by clicking outside of the modal
                opacity: .5, // Opacity of modal background
                inDuration: 300, // Transition in duration
                outDuration: 300, // Transition out duration
                startingTop: '20%', // Starting top style attribute
                endingTop: '30%', // Ending top style attribute
            });

            $('#submit').on('click', function () {

                $("body").find('input').addClass('disabled-element');
                $("body").find('[id=delete]').addClass('disabled-element');
                $("body").find('[name=tests]').addClass('disabled-element');
                $("body").find('[id=div_test]').addClass('disabled-element');
              

                $('#submit').addClass('disabled');
                $('#submit').fadeOut(200, function () {
                $(".progress").fadeIn(400);
                });

              var fd1 = new FormData($('#form1')[0]);
              $.ajax({
              type: "POST",
              url: "{{ '/courses/edit'~'/'~course.id }}" , 
              data: fd1,
              processData: false,
              contentType: false,
              success: function (result) {
                  if (result.status == 'ok') {
                      if( document.getElementById("tests").files.length == 0 ){
                          $(".progress").fadeOut(400, function () {
                              $("#submit").fadeIn(300);
                          });
                          $('#modal1').modal('open');
                      }
                      else {
                          $('#course_id').val(result.course_id);
                          var fd2 = new FormData($('#form2')[0]);
                          $.ajax({
                              type: "POST",
                              url: "/tests/load",
                              data: fd2,
                              processData: false,
                              contentType: false,
                              success: function (result) {
                                  if (result == 'ok') {
                                      $(".progress").fadeOut(400, function () {
                                          $("#submit").fadeIn(300);
                                      });
                                      $('#modal1').modal('open');
                                  }
                                  else {
                                      if (result == 'wrong format') {
                                          $(".progress").fadeOut(400, function () {
                                              $("#submit").fadeIn(300);
                                          });
                                          $('#modal3').modal('open');
                                      }
                                      else {
                                          $(".progress").fadeOut(400, function () {
                                              $("#submit").fadeIn(300);
                                          });
                                          $('#modal2').modal('open');
                                      }
                                  }
                              },
                              error: function () {
                                  $(".progress").fadeOut(400, function () {
                                      $("#submit").fadeIn(300);
                                  });
                                  $('#modal2').modal('open');
                              }
                          });

                      }
                  }
                  else {
                      $(".progress").fadeOut(400, function () {
                          $("#submit").fadeIn(300);
                      });
                      $('#modal2').modal('open');
                  }
              },
              error: function () {
                  $(".progress").fadeOut(400, function () {
                      $("#submit").fadeIn(300);
                  });
                  $('#modal2').modal('open');
              }
            });
          });





         $("a[id='delete-test']").on('click', function () {

                $(this).parent().children('a, div').each(function () {
                    $(this).addClass('disabled-element');
                    $(this).addClass('was-disabled');
                });

                $("#go-delete").attr('data-item-id', $(this).attr('data-item-id'));

                $('#modal5').modal('open');

            });

          $("#cancel-delete").on('click', function () {

                $(".was-disabled").each(function () {
                    $(this).removeClass('disabled-element');
                });

                $("#go-delete").attr("data-item-id", "");

            });

            $("#go-delete").on('click', function () {

                var fd = new FormData;
                var test_id = $(this).attr('data-item-id');

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('test_id', test_id);
                fd.append('course_id', $('#course_id').val());

                $.ajax({
                    type: "POST",
                    url: "/ajax/delete-test",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok') {

                            $("#delete-test").hide(700, function () {
                                $(this).remove();
                                $(".was-disabled").each(function () {
                                    $(this).removeClass('disabled-element');
                                });

                            });
                            $("#test-title").val('');
                            $('#modal4').modal('open');
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });
             });

            $("#loader").fadeOut(400, function () {
                $(".container").fadeIn(400);
            });



        $("a[id='delete-term']").on('click', function () {

                $(this).parent().children('a, div').each(function () {
                    $(this).addClass('disabled-element');
                    $(this).addClass('was-disabled');
                });

                $("#go-delete-term").attr('data-item-id', $(this).attr('data-item-id'));

                $('#modal6').modal('open');

            });

          $("#cancel-delete").on('click', function () {

                $(".was-disabled").each(function () {
                    $(this).removeClass('disabled-element');
                });

                $("#go-delete-term").attr("data-item-id", "");

            });

            $("#go-delete-term").on('click', function () {

                var fd = new FormData;
                var term_id = $(this).attr('data-item-id');

                fd.append('_token', '{{ _token }}');
                fd.append('user_id', '{{ _user.id }}');
                fd.append('term_id', term_id);
                fd.append('course_id', $('#course_id').val());

                $.ajax({
                    type: "POST",
                    url: "/ajax/delete-term",
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        if (result == 'ok') {

                            $("#delete-term").hide(700, function () {
                                $(this).remove();
                                $(".was-disabled").each(function () {
                                    $(this).removeClass('disabled-element');
                                });

                            });
                            $("#test-title").val('');
                            $('#modal4').modal('open');
                        }
                        else {
                            $('#modal2').modal('open');
                        }
                    },
                    error:function (result) {
                        $('#modal2').modal('open');
                    }
                });
             });

            $("#loader").fadeOut(400, function () {
                $(".container").fadeIn(400);
            });

        });

</script>
{% endblock init_scripts %}