{% extends "layout/html.twig" %}
{% block content %}


    <div class="row" style="display: none;" id="content">
        <div class="col s12 m12 l8 offset-l2">

            {% if session_has('error') %}
                <div class="card red lighten-2">
                    <div class="card-content white-text">
                        {{ session_get('error')|raw }}
                    </div>
                </div>
            {% endif %}
            {% if session_has('notice') %}
                <div class="card green darken-1">
                    <div class="card-content white-text">
                        {{ session_get('notice') }}
                    </div>
                </div>
            {% endif %}

            {% if _user.is_admin %}
            <div><a href="{{ url('courses/allcourses') }}" class="white-text waves-effect waves-light btn blue ">Все курсы</a></div> </br>
            <div><a href="{{ url('courses/create') }}" class="white-text waves-effect waves-light btn blue {% if _section != 'create' %}not-{% endif %}">Добавить курс</a></div>
            </br>
            <div><a href="{{ url('categories/allcategories') }}" class="white-text waves-effect waves-light btn blue ">Все категории</a></div> </br>
            <div><a href="{{ url('/categories/create') }}" class="white-text waves-effect waves-light btn blue ">Добавить категорию</a></div> 
            {% endif %}
           



                <div class="center-align" style="min-width: 60vw; margin: 1% 0 0 20px; "  id="loader">
                    <div class="preloader-wrapper big active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


{% endblock content %}

{% block init_scripts %}
    <script>
        $(document).ready(function () {

            $("#loader").fadeOut(400, function () {
                $("#content").fadeIn(400);
            });
        });



    </script>
{% endblock init_scripts %}