{% extends "layout/html.twig" %}
  {% block content %}

<style>
    .row-link {
        transition: all 0.5s ease;
    }

    .row-link:hover {
        cursor: pointer;
    }
    body {
     background-color: #e3f2fd;
    }

    .grid {
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        -webkit-column-fill: auto;
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        -moz-column-fill: auto;
        column-count: 2;
        column-gap: 15px;
        column-fill: auto;
    }

    @media only screen and (min-width: 601px) {
        .grid {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
        }
    }

    @media only screen and (min-width: 993px) {
        .grid {
            -webkit-column-count: 4;
            -moz-column-count: 4;
            column-count: 4;
        }
    }


    .block {
        display: block;
        padding: 10px;
        word-wrap: break-word;
        margin-bottom: 0;
        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
    }


    .card {
        border-radius: 10px;
    }


</style>


      <div class="container">
          <div class="row">
              <div class="row" style="margin-top:0;">
                  <h2 style="margin-left: 20px; margin-bottom:10px; color: #37474f;">Мои курсы</h2>
                  <a class="waves-effect waves-light btn blue" style="margin-left: 20px;" href="{{ url('/categories')}}">Посмотреть все доступные курсы</a>
              </div>
              <div class="grid">
                  {% for course in courses%}
                      <div class="block">
                          <div class="card z-depth-2">
                              <div class=" waves-effect waves-light  waves-block card-image" style="border-radius: 10px 10px 0 0;">
                                  <a class="row-link"  data-item-id="{{ course.id }}" data-item-id-1="{{ course.last_lesson().id }}"><img class="activator" src="{{ asset('storage/wallpapers')~'/'~course.filename}}"></a>
                              </div>
                              <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4" style="font-size: 22px; margin-bottom: 0;">
                                    <i class="material-icons right" style="float: right;">more_vert</i>
                                </span>
                                <a class="row-link grey-text text-darken-4"  data-item-id="{{ course.id }}" data-item-id-1="{{ course.last_lesson().id }}" style="font-size: 16px;">{{course.course_name}}</a>
                              </div>
                              <div class="card-reveal" style="overflow: visible;">
                                  <span class="card-title grey-text text-darken-4"  style="font-size: 22px; margin-bottom: 0;"><i class="material-icons right">close</i></span>
                                  <a class="row-link grey-text text-darken-4" data-item-id="{{ course.id }}" data-item-id-1="{{ course.last_lesson().id }}" style="font-weight: bold;">{{course.course_name}}</a>
                                  <p>Категория: {{course.category().category_name}}</p>
                                  <p>Преподаватель: {{course.user().firstname}} {{course.user().lastname}}</p>
                              </div>
                          </div>
                      </div>
                  {% endfor %}

              </div>

          </div>
      </div>
  

  <script>
   $(document).ready(function(){
      // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
      $('.modal').modal();



          $('.row-link').on('click', function(e) {
              e.stopImmediatePropagation();

                window.location='{{ url('/lesson') }}/' + $(this).attr('data-item-id') + '/' + $(this).attr('data-item-id-1');
          })
      
    });
</script>

   {% endblock content %}

