{% extends "layout/html.twig" %}
  {% block content %}

      <div class="container">       
         <div class="row"> 
              <div class="col s6 m4 l4" style="margin-top: 50px;">
              <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Выберите курс</a>
              <ul id='dropdown1' class='dropdown-content'>        
                {% for course in courses1 %}
                 <li class="left circle"><a  href="{{ url('/courses/mystudents')~'/'~course.id}}">{{course.course_name}}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>
      

      <div class="row">
        <div class="col s12 m12 l12">
         <table class="striped">
              <thead>
                <tr>
                    <th>Имя</th>
                    <th>Фaмилия</th>
                    <th>Kурс</th>                            
                </tr>
              </thead>

              <tbody>

                {% for course in courses %}
                   {% for user in students[course.id] %}
                      <tr class="row-link" >
                      <td>{{user.firstname}}</td>
                      <td>{{user.lastname}}</td>
                      <td>{{course.course_name}}</td>
                      <td> <a  href="{{ url('/profile')~'/'~user.id}}"class="white-text waves-effect waves-light btn btn-small blue">Просмотр</a></td>
                     </tr>
                   {% endfor %}
                {% endfor %}
             </tbody>
            </table> 
       </div>
      </div> 
  </div>
<script >
  
  $(document).ready(function() {
    $('select').material_select();

      $('.dropdown-button').dropdown({
        hover: false,
        constrainWidth: false,
        belowOrigin: true,
    }
  );
  });

</script>
 {% endblock content %}